Repository heremaps/gluecodium, pull requests merged in 2020-10, with the labels that each got.

#527 Add JNI smoke test for skipping parent methods
  gluecodium/src/test/resources/smoke/inheritance/input/InheritanceIncludes.lime
  gluecodium/src/test/resources/smoke/inheritance/output/android/jni/com_example_smoke_ChildClassWithIncludes.h
Labels: java

#529 Don't generate generics conversions for types skipped in Dart
  examples/libhello/lime/test/Skip.lime
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/test/resources/smoke/skip/input/Skip.lime
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/generic_types__conversion.dart
  lime-runtime/src/main/java/com/here/gluecodium/common/LimeTypeRefsVisitor.kt
Labels: bug, dart

#531 Fix more @Dart(Skip) issues
  examples/libhello/lime/test/Skip.lime
  gluecodium/src/main/java/com/here/gluecodium/generator/common/LimeModelFilter.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/test/resources/smoke/skip/input/Skip.lime
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/inherit_from_skipped.dart
Labels: bug, dart

#533 Add support for web links in LimeDoc
  CHANGELOG.md
  docs/lime_idl.md
  gluecodium/src/main/java/com/here/gluecodium/platform/common/CommentsProcessor.kt
  gluecodium/src/main/java/com/here/gluecodium/platform/swift/SwiftCommentsProcessor.kt
  gluecodium/src/test/resources/smoke/comments/input/Comments.lime
  gluecodium/src/test/resources/smoke/comments/output/android/com/example/smoke/CommentsLinks.java
  gluecodium/src/test/resources/smoke/comments/output/cpp/include/smoke/CommentsLinks.h
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/comments_links.dart
  gluecodium/src/test/resources/smoke/comments/output/lime/smoke/CommentsLinks.lime
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/CommentsLinks.swift
Labels: enhancement

#536 Respects APIGEN_SWIFT_FLAGS in APPLE and non-APPLE environments
  cmake/modules/gluecodium/swift/Compile.cmake
Labels: cmake

#538 Remove non-Android Java option
  gluecodium/src/main/java/com/here/gluecodium/Gluecodium.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/androidmanifest/AndroidManifestGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JavaGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/platform/android/AndroidGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/platform/android/JavaGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/platform/common/GeneratorSuite.kt
  gluecodium/src/test/java/com/here/gluecodium/AcceptanceTestBase.kt
Labels: java

#540 Add Java smoke test for EnumSet initializers
  gluecodium/src/test/resources/smoke/generic_types/input/GenericTypes.lime
  gluecodium/src/test/resources/smoke/generic_types/output/android/com/example/smoke/EnumSets.java
Labels: java

#542 Fix "hasAnyComment" predicate for C++ templates
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppGeneratorPredicates.kt
  gluecodium/src/test/resources/smoke/comments/input/PlatformComments.lime
  gluecodium/src/test/resources/smoke/comments/output/android/com/example/smoke/PlatformComments.java
  gluecodium/src/test/resources/smoke/comments/output/lime/smoke/PlatformComments.lime
Labels: bug, c++

#547 Fix fields skipping validation
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/Gluecodium.kt
  gluecodium/src/test/java/com/here/gluecodium/AcceptanceTestBase.kt
  gluecodium/src/test/resources/smoke/external_types/input/DartExternalTypes.lime
  gluecodium/src/test/resources/smoke/external_types/input/SwiftExternalTypes.lime
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/generic_types__conversion.dart
  gluecodium/src/test/resources/smoke/external_types/output/swift/Sets.swift
Labels: bug

#549 Test cross-package usage of Java external types
  gluecodium/src/test/resources/smoke/external_types/input/JavaExternalTypes.lime
  gluecodium/src/test/resources/smoke/external_types/input/UseJavaExternalTypes.lime
  gluecodium/src/test/resources/smoke/external_types/output/android/com/example/dontsmoke/UseJavaExternalTypes.java
Labels: java

#551 Fix handling of Locale type in structs
  CHANGELOG.md
  examples/libhello/lime/test/Locales.lime
  examples/libhello/src/test/Locales.cpp
  examples/platforms/android/app/src/test/java/com/here/android/test/LocalesTest.java
  examples/platforms/dart/test/Locales_test.dart
  examples/platforms/ios/Tests/testTests/LocalesTests.swift
  gluecodium/src/main/resources/templates/cpp/common/Locale.mustache
  gluecodium/src/main/resources/templates/cpp/common/LocaleImpl.mustache
  gluecodium/src/main/resources/templates/jni/utils/FieldAccessMethodsHeader.mustache
  gluecodium/src/main/resources/templates/jni/utils/FieldAccessMethodsImplementation.mustache
Labels: bug, c++, java

#560 Adds support for android-host build environment
  cmake/tests/run_tests.cmake
Labels: cmake

#558 Run CMake tests on CI
  .travis.yml
Labels: travis

#561 Fixes checking of parameters and processing VERSION for apigen_generate
  cmake/modules/gluecodium/gluecodium/Generate.cmake
  cmake/tests/unit/apigen_generate/missing-CPP_INTERNAL_NAMESPACE-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_generate/missing-CPP_INTERNAL_NAMESPACE-XFAIL/successful.regex
  cmake/tests/unit/apigen_generate/missing-GENERATOR-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_generate/missing-GENERATOR-XFAIL/successful.regex
  cmake/tests/unit/apigen_generate/missing-LIME_SOURCES-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_generate/missing-LIME_SOURCES-XFAIL/successful.regex
  cmake/tests/unit/apigen_generate/missing-TARGET-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_generate/missing-TARGET-XFAIL/successful.regex
  cmake/tests/unit/apigen_generate/single-module-mandatory-params/CMakeLists.txt
  cmake/tests/unit/apigen_generate/single-module-mandatory-params/cpp/FooImpl.cpp
  cmake/tests/unit/apigen_generate/single-module-mandatory-params/lime/foo.lime
  cmake/tests/unit/apigen_generate/wrong-GENERATOR-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_generate/wrong-GENERATOR-XFAIL/successful.regex
Labels: cmake

#565 Fix support for no-message @Deprecated in Swift
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/common/modelbuilder/AbstractLimeBasedModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/model/common/Comments.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftEnum.kt
  gluecodium/src/main/resources/templates/swift/Comment.mustache
  gluecodium/src/main/resources/templates/swift/MethodComment.mustache
  gluecodium/src/test/resources/smoke/comments/output/android/com/example/smoke/DeprecatedWithNoMessage.java
  gluecodium/src/test/resources/smoke/comments/output/cpp/include/smoke/DeprecatedWithNoMessage.h
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/deprecated_with_no_message.dart
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/DeprecatedWithNoMessage.swift
Labels: bug, swift

#567 [CMake] Extracts common macros to work with arguments
  cmake/modules/gluecodium/gluecodium/CheckArguments.cmake
  cmake/modules/gluecodium/gluecodium/Generate.cmake
  cmake/tests/unit/apigen_check_arguments/apigen_deprecate_argument-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_check_arguments/apigen_deprecate_argument-XFAIL/successful.regex
  cmake/tests/unit/apigen_check_arguments/apigen_deprecate_argument_renamed-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_check_arguments/apigen_deprecate_argument_renamed-XFAIL/successful.regex
  cmake/tests/unit/apigen_check_arguments/check-required-arguments-exist/CMakeLists.txt
  cmake/tests/unit/apigen_check_arguments/required-argument-not-exist-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_check_arguments/required-argument-not-exist-XFAIL/successful.regex
  cmake/tests/unit/apigen_check_arguments/unparsed-arguments-present-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_check_arguments/unparsed-arguments-present-XFAIL/successful.regex
  cmake/tests/unit/apigen_generate/missing-CPP_INTERNAL_NAMESPACE-XFAIL/successful.regex
  cmake/tests/unit/apigen_generate/missing-GENERATOR-XFAIL/successful.regex
  cmake/tests/unit/apigen_generate/missing-LIME_SOURCES-XFAIL/successful.regex
  cmake/tests/unit/apigen_generate/missing-TARGET-XFAIL/successful.regex
  cmake/tests/unit/apigen_generate/recognised-UNPARSED_ARGUMENTS-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_generate/recognised-UNPARSED_ARGUMENTS-XFAIL/successful.regex
Labels: cmake

#570 Adds basic tests for apigen_create_package
  cmake/modules/gluecodium/Packaging.cmake
  cmake/tests/run_tests.cmake
  cmake/tests/unit/apigen_create_package/missing-NAME-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_create_package/missing-NAME-XFAIL/successful.regex
  cmake/tests/unit/apigen_create_package/missing-TARGET-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_create_package/missing-TARGET-XFAIL/successful.regex
  cmake/tests/unit/apigen_create_package/recognised-UNPARSED_ARGUMENTS-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_create_package/recognised-UNPARSED_ARGUMENTS-XFAIL/successful.regex
  cmake/tests/unit/apigen_create_package/single-module-packaging-mandatory-params/CMakeLists.txt
  cmake/tests/unit/apigen_create_package/single-module-packaging-mandatory-params/cpp/FooImpl.cpp
  cmake/tests/unit/apigen_create_package/single-module-packaging-mandatory-params/lime/foo.lime
  cmake/tests/utils/check_file_or_directory_exists_after_build.cmake
Labels: cmake

#572 Adds checks that COMMON_OUTPUT_DIR was specified in apigen_generate
  cmake/modules/gluecodium/gluecodium/TargetIncludeDirectories.cmake
  cmake/modules/gluecodium/gluecodium/TargetSources.cmake
  cmake/tests/unit/apigen_target_include_directories/missing-COMMON_OUTPUT_DIR-in-apigen_generate-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_target_include_directories/missing-COMMON_OUTPUT_DIR-in-apigen_generate-XFAIL/successful.regex
  cmake/tests/unit/apigen_target_include_directories/recognised-UNPARSED_ARGUMENTS-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_target_include_directories/recognised-UNPARSED_ARGUMENTS-XFAIL/successful.regex
  cmake/tests/unit/apigen_target_sources/missing-COMMON_OUTPUT_DIR-in-apigen_generate-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_target_sources/missing-COMMON_OUTPUT_DIR-in-apigen_generate-XFAIL/successful.regex
  cmake/tests/unit/apigen_target_sources/recognised-UNPARSED_ARGUMENTS-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_target_sources/recognised-UNPARSED_ARGUMENTS-XFAIL/successful.regex
Labels: cmake

#574 Deprecate @Swift(ObjC) attribute
  CHANGELOG.md
  docs/lime_idl.md
  gluecodium/src/main/java/com/here/gluecodium/validator/LimeDeprecationsValidator.kt
Labels: swift
