Repository heremaps/gluecodium, pull requests merged in 2020-03, with the labels that each got.

#176 Add optional prefix to collection conversion functions in CBridge
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/model/cbridge/CArray.kt
  gluecodium/src/main/java/com/here/gluecodium/platform/swift/SwiftGeneratorSuite.kt
  gluecodium/src/main/resources/templates/cbridge/ArrayFunctionImplementations.mustache
  gluecodium/src/test/java/com/here/gluecodium/generator/cbridge/CBridgeTypeMapperTest.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/swift/SwiftTypeMapperTest.kt
Labels: swift

#179 Make Dart token cache global
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportResolver.kt
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/dart/DartLambda.mustache
  gluecodium/src/main/resources/templates/dart/DartTokenCache.mustache
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/ErrorsInterface.dart
  gluecodium/src/test/resources/smoke/escaped_names/output/dart/lib/src/package/Interface.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithCompoundTypes.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/_type_repository.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/ChildInterface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/ParentInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/ExternalInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/SimpleInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/StructWithInterface.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/Lambdas.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/LambdasWithStructuredTypes.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/StandaloneProducer.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/_token_cache.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/CalculatorListener.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/ListenerWithProperties.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/ListenersWithReturnValues.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/LevelOne.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/OuterClass.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/OuterInterface.dart
  gluecodium/src/test/resources/smoke/platform_names/output/dart/lib/src/smoke/weeListener.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/Properties.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/PropertiesInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/InternalInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicInterface.dart
Labels: dart

#185 Rename Dart library name CMake parameter
  cmake/modules/gluecodium/gluecodium/Generate.cmake
  examples/libhello/CMakeLists.txt
Labels: cmake, dart

#186 Don't export Dart files with no symbols
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/library.dart
Labels: bug, dart

#187 Provide a fallback for Dart native library loading
  gluecodium/src/main/resources/templates/dart/DartLibraryInit.mustache
Labels: dart

#183 Clean up "token" cache in Dart
  examples/libhello/lime/test/Lambdas.lime
  examples/libhello/src/test/Lambdas.cpp
  examples/platforms/dart/test/Lambdas_test.dart
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/dart/DartLambda.mustache
  gluecodium/src/main/resources/templates/dart/DartTokenCache.mustache
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/main/resources/templates/ffi/FfiProxyDeclaration.mustache
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_ErrorsInterface.cpp
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/ErrorsInterface.dart
  gluecodium/src/test/resources/smoke/escaped_names/output/dart/lib/src/package/Interface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/ffi/ffi_smoke_ChildInterface.h
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/ChildInterface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/ParentInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleInterface.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleInterface.h
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/ExternalInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/SimpleInterface.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_Lambdas.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_Lambdas.h
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_StandaloneProducer.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_StandaloneProducer.h
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/Lambdas.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/LambdasWithStructuredTypes.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/StandaloneProducer.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_CalculatorListener.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_CalculatorListener.h
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenerWithProperties.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenersWithReturnValues.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/_token_cache.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/CalculatorListener.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/ListenerWithProperties.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/ListenersWithReturnValues.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterClass.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterInterface.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/OuterClass.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/OuterInterface.dart
  gluecodium/src/test/resources/smoke/platform_names/output/dart/lib/src/smoke/weeListener.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/PropertiesInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/InternalInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicInterface.dart
Labels: dart

#189 Support X+Dart fused build in CMake helpers
  cmake/modules/gluecodium/gluecodium/GeneratedSources.cmake
Labels: cmake, dart

#190 Add caching of C++ proxies in Dart FFI
  examples/libhello/lime/test/StringListeners.lime
  examples/libhello/src/test/StringListeners.cpp
  examples/platforms/dart/test/Listeners_test.dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/dart/DartLambda.mustache
  gluecodium/src/main/resources/templates/dart/DartTokenCache.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/main/resources/templates/ffi/FfiProxyCache.mustache
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_ErrorsInterface.cpp
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/ErrorsInterface.dart
  gluecodium/src/test/resources/smoke/escaped_names/output/dart/lib/src/package/Interface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/ChildInterface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/ParentInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleInterface.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/ExternalInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/SimpleInterface.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_Lambdas.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_StandaloneProducer.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/Lambdas.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/LambdasWithStructuredTypes.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/StandaloneProducer.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_CalculatorListener.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenerWithProperties.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenersWithReturnValues.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/_token_cache.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/CalculatorListener.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/ListenerWithProperties.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/ListenersWithReturnValues.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterClass.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterInterface.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/OuterClass.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/OuterInterface.dart
  gluecodium/src/test/resources/smoke/platform_names/output/dart/lib/src/smoke/weeListener.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/PropertiesInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/InternalInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicInterface.dart
Labels: dart

#180 Optimize Blob type conversion in Dart generator
  gluecodium/src/main/resources/templates/dart/DartBuiltInTypesConversion.mustache
  gluecodium/src/main/resources/templates/ffi/FfiBlobHandleHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiBlobHandleImpl.mustache
  gluecodium/src/test/resources/smoke/basic_types/output/dart/lib/src/BuiltInTypes__conversion.dart
Labels: dart, enhancement

#194 To make old generated files
  cmake/modules/gluecodium/gluecodium/TargetSources.cmake
Labels: cmake

#195 Updgrade CMake to 3.15.7 in Travis for all builds
  .travis.yml
Labels: travis

#196 Use a Bash script to install CMake for all Travis jobs
  .travis.yml
  scripts/install-cmake.sh
Labels: travis

#192 Filters lime sources before passing them to runGenerate
  cmake/modules/gluecodium/gluecodium/Generate.cmake
  cmake/modules/gluecodium/gluecodium/runGenerate.cmake
Labels: cmake

#197 Require CMake 3.15
  cmake/modules/gluecodium/gluecodium/Generate.cmake
Labels: cmake

#198 Fix conversion functions for Swift collection types
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftTypeMapper.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/swift/SwiftTypeMapperTest.kt
Labels: bug, swift

#182 Fix C++ compilation when "internal namespace" is empty
  CHANGELOG.md
  examples/platforms/android/app/build.gradle
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppNameRules.kt
  gluecodium/src/test/resources/smoke/name_rules/output/cpp/include/namerules/NameRules.h
Labels: bug, c++

#181 Provide a minimal Gradle script to run Gluecodium
  cmake/modules/gluecodium/gluecodium/build.gradle
  gluecodium/src/main/java/com/here/gluecodium/Gluecodium.kt
  gluecodium/src/main/java/com/here/gluecodium/cli/OptionReader.kt
  tools/README.md
  tools/launcher/build.gradle
  tools/launcher/gradle.properties
  tools/launcher/settings.gradle
Labels: enhancement

#188 Use move semantic in C++ struct constructors
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppLibraryIncludes.kt
  gluecodium/src/main/resources/templates/cpp/CppStruct.mustache
  gluecodium/src/main/resources/templates/cpp/CppStructImpl.mustache
  gluecodium/src/test/resources/namespace_smoke/basic/output/cpp/include/root/space/smoke/BasicTypes.h
  gluecodium/src/test/resources/smoke/comments/output/cpp/include/smoke/Comments.h
  gluecodium/src/test/resources/smoke/comments/output/cpp/include/smoke/CommentsLinks.h
  gluecodium/src/test/resources/smoke/comments/output/cpp/include/smoke/DeprecationComments.h
  gluecodium/src/test/resources/smoke/comments/output/cpp/include/smoke/DeprecationCommentsOnly.h
  gluecodium/src/test/resources/smoke/comments/output/cpp/include/smoke/PlatformComments.h
  gluecodium/src/test/resources/smoke/constants/output/cpp/src/smoke/StructConstants.cpp
  gluecodium/src/test/resources/smoke/dates/output/cpp/include/smoke/Dates.h
  gluecodium/src/test/resources/smoke/declaration_order/output/cpp/include/smoke/DeclarationOrder.h
  gluecodium/src/test/resources/smoke/defaults/output/cpp/include/smoke/DefaultValues.h
  gluecodium/src/test/resources/smoke/defaults/output/cpp/include/smoke/StructWithInitializerDefaults.h
  gluecodium/src/test/resources/smoke/defaults/output/cpp/include/smoke/TypesWithDefaults.h
  gluecodium/src/test/resources/smoke/defaults/output/cpp/src/smoke/DefaultValues.cpp
  gluecodium/src/test/resources/smoke/defaults/output/cpp/src/smoke/TypesWithDefaults.cpp
  gluecodium/src/test/resources/smoke/enums/output/cpp/include/smoke/Enums.h
  gluecodium/src/test/resources/smoke/equatable/output/cpp/include/smoke/Equatable.h
  gluecodium/src/test/resources/smoke/equatable/output/cpp/include/smoke/EquatableInterface.h
  gluecodium/src/test/resources/smoke/equatable/output/cpp/src/smoke/Equatable.cpp
  gluecodium/src/test/resources/smoke/equatable/output/cpp/src/smoke/EquatableInterface.cpp
  gluecodium/src/test/resources/smoke/equatable/output/cpp/src/smoke/EquatableStructWithAccessors.cpp
  gluecodium/src/test/resources/smoke/escaped_names/output/cpp/include/package/Types.h
  gluecodium/src/test/resources/smoke/generic_types/output/cpp/include/smoke/GenericTypesWithBasicTypes.h
  gluecodium/src/test/resources/smoke/generic_types/output/cpp/include/smoke/GenericTypesWithCompoundTypes.h
  gluecodium/src/test/resources/smoke/instances/output/cpp/include/smoke/StructWithClass.h
  gluecodium/src/test/resources/smoke/instances/output/cpp/include/smoke/StructWithInterface.h
  gluecodium/src/test/resources/smoke/instances/output/cpp/src/smoke/StructWithClass.cpp
  gluecodium/src/test/resources/smoke/instances/output/cpp/src/smoke/StructWithInterface.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/cpp/include/smoke/LambdasDeclarationOrder.h
  gluecodium/src/test/resources/smoke/listeners/output/cpp/include/smoke/CalculatorListener.h
  gluecodium/src/test/resources/smoke/method_overloads/output/cpp/include/smoke/MethodOverloads.h
  gluecodium/src/test/resources/smoke/name_rules/output/cpp/include/namerules/NameRules.h
  gluecodium/src/test/resources/smoke/nesting/output/cpp/include/smoke/FreePoint.h
  gluecodium/src/test/resources/smoke/nesting/output/cpp/include/smoke/LevelOne.h
  gluecodium/src/test/resources/smoke/nesting/output/cpp/include/smoke/NestedReferences.h
  gluecodium/src/test/resources/smoke/nesting/output/cpp/src/smoke/LevelOne.cpp
  gluecodium/src/test/resources/smoke/nullable/output/cpp/include/smoke/Nullable.h
  gluecodium/src/test/resources/smoke/nullable/output/cpp/include/smoke/NullableCollectionsStruct.h
  gluecodium/src/test/resources/smoke/packages/output/cpp/include/smoke/off/NestedPackages.h
  gluecodium/src/test/resources/smoke/platform_names/output/cpp/include/smoke/fooTypes.h
  gluecodium/src/test/resources/smoke/properties/output/cpp/include/smoke/Properties.h
  gluecodium/src/test/resources/smoke/structs/output/cpp/include/smoke/Structs.h
  gluecodium/src/test/resources/smoke/structs/output/cpp/include/smoke/StructsWithConstants.h
  gluecodium/src/test/resources/smoke/structs/output/cpp/include/smoke/StructsWithConstantsInterface.h
  gluecodium/src/test/resources/smoke/structs/output/cpp/include/smoke/StructsWithMethods.h
  gluecodium/src/test/resources/smoke/structs/output/cpp/include/smoke/StructsWithMethodsInterface.h
  gluecodium/src/test/resources/smoke/structs/output/cpp/include/smoke/TypeCollection.h
  gluecodium/src/test/resources/smoke/structs/output/cpp/src/smoke/Structs.cpp
  gluecodium/src/test/resources/smoke/structs/output/cpp/src/smoke/StructsWithConstants.cpp
  gluecodium/src/test/resources/smoke/structs/output/cpp/src/smoke/StructsWithConstantsInterface.cpp
  gluecodium/src/test/resources/smoke/typedefs/output/cpp/include/smoke/TypeCollection.h
  gluecodium/src/test/resources/smoke/typedefs/output/cpp/include/smoke/TypeDefs.h
Labels: c++

#200 Add validation against @PointerEquatable on interfaces
  CHANGELOG.md
  lime-loader/src/main/java/com/here/gluecodium/loader/LimeBasedLimeModelLoader.kt
  lime-loader/src/main/java/com/here/gluecodium/validator/LimeInterfacesValidator.kt
  lime-loader/src/test/java/com/here/gluecodium/validator/LimeInterfacesValidatorTest.kt
Labels: enhancement

#191 Improve generated documentation for @FunctionalInterface in Java
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/lime/LimeGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftTypeMapper.kt
  gluecodium/src/main/resources/templates/dart/DartLambda.mustache
  gluecodium/src/main/resources/templates/lime/LimeLambda.mustache
  gluecodium/src/test/java/com/here/gluecodium/generator/swift/SwiftTypeMapperTest.kt
  gluecodium/src/test/resources/smoke/comments/input/Comments.lime
  gluecodium/src/test/resources/smoke/comments/output/android/com/example/smoke/Comments.java
  gluecodium/src/test/resources/smoke/comments/output/cpp/include/smoke/Comments.h
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/Comments.dart
  gluecodium/src/test/resources/smoke/comments/output/lime/smoke/comments.lime
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/Comments.swift
  gluecodium/src/test/resources/smoke/lambdas/output/android/com/example/smoke/Lambdas.java
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeModelBuilder.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeLambda.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeLambdaParameter.kt
Labels: java

#207 Adds synchronisation between processes to generate sources.
  cmake/modules/gluecodium/gluecodium/runGenerate.cmake
Labels: cmake

#208 Additional CMake support for Dart fused builds
  CHANGELOG.md
  cmake/modules/gluecodium/gluecodium/GeneratedSources.cmake
  cmake/modules/gluecodium/gluecodium/runGenerate.cmake
Labels: cmake

#210 Add Dart FFI common headers to include path in CMake
  cmake/modules/gluecodium/gluecodium/TargetIncludeDirectories.cmake
Labels: cmake

#211 Add common Dart and FFI files to COMMON source set
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
Labels: dart

#212 Use "internal prefix" for Dart FFI collection conversion functions
  CHANGELOG.md
  cmake/modules/gluecodium/gluecodium/Generate.cmake
  examples/libhello/CMakeLists.txt
  gluecodium/src/main/java/com/here/gluecodium/Gluecodium.kt
  gluecodium/src/main/java/com/here/gluecodium/cli/OptionReader.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/platform/swift/SwiftGeneratorSuite.kt
  gluecodium/src/main/resources/templates/dart/DartGenericTypesConversion.mustache
  gluecodium/src/main/resources/templates/dart/DartNullableTypeConversion.mustache
  gluecodium/src/main/resources/templates/ffi/FfiGenericTypesHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiGenericTypesImpl.mustache
  gluecodium/src/main/resources/templates/ffi/FfiNullableDeclaration.mustache
  gluecodium/src/main/resources/templates/ffi/FfiNullableImpl.mustache
Labels: dart

#219 Add support for "default" (nameless) constructors in Dart.
  CHANGELOG.md
  docs/lime_idl.md
  examples/libhello/lime/test/MethodOverloads.lime
  examples/libhello/src/test/MethodOverloads.cpp
  examples/platforms/dart/test/MethodOverloads_test.dart
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/test/resources/smoke/constructors/input/Constructors.lime
  gluecodium/src/test/resources/smoke/constructors/output/dart/lib/src/smoke/Constructors.dart
  gluecodium/src/test/resources/smoke/constructors/output/lime/smoke/Constructors.lime
  gluecodium/src/test/resources/smoke/structs/input/StructsWithMethods.lime
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/StructsWithMethods.dart
  gluecodium/src/test/resources/smoke/structs/output/lime/smoke/StructsWithMethods.lime
  gluecodium/src/test/resources/smoke/structs/output/lime/smoke/StructsWithMethodsInterface.lime
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeModelBuilder.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeAttributeValueType.kt
Labels: dart

#218 Emulate package structure in Dart with export files
  examples/platforms/dart/test/Blobs_test.dart
  examples/platforms/dart/test/Classes_test.dart
  examples/platforms/dart/test/Constants_test.dart
  examples/platforms/dart/test/Dates_test.dart
  examples/platforms/dart/test/Defaults_test.dart
  examples/platforms/dart/test/Enums_test.dart
  examples/platforms/dart/test/EquatableClasses_test.dart
  examples/platforms/dart/test/EquatableStructs_test.dart
  examples/platforms/dart/test/Exceptions_test.dart
  examples/platforms/dart/test/ExternalTypes_test.dart
  examples/platforms/dart/test/Inheritance_test.dart
  examples/platforms/dart/test/Interfaces_test.dart
  examples/platforms/dart/test/Lambdas_test.dart
  examples/platforms/dart/test/ListenersWithAttributes_test.dart
  examples/platforms/dart/test/ListenersWithErrors_test.dart
  examples/platforms/dart/test/ListenersWithReturnValues_test.dart
  examples/platforms/dart/test/Listeners_test.dart
  examples/platforms/dart/test/Lists_test.dart
  examples/platforms/dart/test/Maps_test.dart
  examples/platforms/dart/test/MethodOverloads_test.dart
  examples/platforms/dart/test/Nullable_test.dart
  examples/platforms/dart/test/PlainDataStructuresImmutable_test.dart
  examples/platforms/dart/test/PlainDataStructuresTypeCollection_test.dart
  examples/platforms/dart/test/PlainDataStructures_test.dart
  examples/platforms/dart/test/Properties_test.dart
  examples/platforms/dart/test/Sets_test.dart
  examples/platforms/dart/test/StaticBooleanMethods_test.dart
  examples/platforms/dart/test/StaticFloatDoubleMethods_test.dart
  examples/platforms/dart/test/StaticIntMethods_test.dart
  examples/platforms/dart/test/StaticStringMethods_test.dart
  examples/platforms/dart/test/StructsWithConstants_test.dart
  examples/platforms/dart/test/StructsWithMethods_test.dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/smoke.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/smoke.dart
Labels: dart

#225 Add documentation for @Dart inline tag
  docs/lime_idl.md
Labels: dart

#226 Provide a default empty impl for release() on Dart interfaces
  examples/platforms/dart/test/ListenersWithAttributes_test.dart
  examples/platforms/dart/test/ListenersWithErrors_test.dart
  examples/platforms/dart/test/ListenersWithReturnValues_test.dart
  examples/platforms/dart/test/Listeners_test.dart
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/CommentsInterface.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/DeprecationComments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/DeprecationCommentsOnly.dart
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/ErrorsInterface.dart
  gluecodium/src/test/resources/smoke/escaped_names/output/dart/lib/src/package/Interface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/ChildInterface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/ParentInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/ExternalInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/SimpleInterface.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/CalculatorListener.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/ListenerWithProperties.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/ListenersWithReturnValues.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/OuterClass.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/OuterInterface.dart
  gluecodium/src/test/resources/smoke/platform_names/output/dart/lib/src/smoke/weeListener.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/PropertiesInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/InternalInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicInterface.dart
Labels: dart

#230 Fix Dart compilation for structs with internal fields
  CHANGELOG.md
  examples/libhello/lime/test/Equatable.lime
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/test/resources/smoke/equatable/input/Equatable.lime
  gluecodium/src/test/resources/smoke/equatable/output/dart/lib/src/smoke/EquatableStructWithInternalFields.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicClass.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicTypeCollection.dart
Labels: dart

#235 Fix missing includes for Dart FFI methods and properties
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/test/resources/smoke/basic_types/output/dart/ffi/ffi_smoke_BasicTypes.cpp
  gluecodium/src/test/resources/smoke/constructors/output/dart/ffi/ffi_smoke_Constructors.cpp
  gluecodium/src/test/resources/smoke/dates/output/dart/ffi/ffi_smoke_Dates.cpp
  gluecodium/src/test/resources/smoke/enums/output/dart/ffi/ffi_smoke_Enums.cpp
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_Errors.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_ExternalClass.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleClass.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenerWithProperties.cpp
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/ffi/ffi_smoke_MethodOverloads.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_LevelOne.cpp
  gluecodium/src/test/resources/smoke/nullable/output/dart/ffi/ffi_smoke_Nullable.cpp
  gluecodium/src/test/resources/smoke/packages/output/dart/ffi/ffi_smoke_off_NestedPackages.cpp
  gluecodium/src/test/resources/smoke/properties/output/dart/ffi/ffi_smoke_Properties.cpp
  gluecodium/src/test/resources/smoke/structs/output/dart/ffi/ffi_smoke_Structs.cpp
  gluecodium/src/test/resources/smoke/typedefs/output/dart/ffi/ffi_smoke_TypeDefs.cpp
Labels: dart

#237 Add validation against name clashes between property declarations
  CHANGELOG.md
  docs/lime_idl.md
  lime-loader/src/main/java/com/here/gluecodium/loader/LimeBasedLimeModelLoader.kt
  lime-loader/src/main/java/com/here/gluecodium/validator/LimeFunctionsValidator.kt
  lime-loader/src/main/java/com/here/gluecodium/validator/LimePropertiesValidator.kt
  lime-loader/src/test/java/com/here/gluecodium/validator/LimeFunctionsValidatorTest.kt
  lime-loader/src/test/java/com/here/gluecodium/validator/LimePropertiesValidatorTest.kt
Labels: bug, java

#238 Mark Impl classes for Lambdas in Java with @exclude JavaDoc
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaModelBuilder.kt
  gluecodium/src/test/resources/smoke/comments/output/android/com/example/smoke/Comments.java
  gluecodium/src/test/resources/smoke/lambdas/output/android/com/example/smoke/Lambdas.java
Labels: bug, java

#240 Resolve documentation links to types from "aux" IDLs
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/platform/android/JavaGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/platform/baseapi/BaseApiGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/platform/swift/SwiftGeneratorSuite.kt
  gluecodium/src/test/java/com/here/gluecodium/AcceptanceTestBase.kt
  gluecodium/src/test/java/com/here/gluecodium/platform/swift/SwiftGeneratorSuiteTest.kt
  gluecodium/src/test/resources/smoke/comments/aux/AuxClass.lime
  gluecodium/src/test/resources/smoke/comments/aux/AuxStruct.lime
  gluecodium/src/test/resources/smoke/comments/input/Comments.lime
  gluecodium/src/test/resources/smoke/comments/output/android/com/example/smoke/CommentsLinks.java
  gluecodium/src/test/resources/smoke/comments/output/cpp/include/smoke/CommentsLinks.h
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/CommentsLinks.dart
  gluecodium/src/test/resources/smoke/comments/output/lime/smoke/CommentsLinks.lime
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/CommentsLinks.swift
  lime-loader/src/main/java/com/here/gluecodium/loader/LimeBasedLimeModelLoader.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeModel.kt
Labels: bug, c++, java, swift

#241 Use internal prefix for Dart generic types conversion functions
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiNameResolver.kt
  gluecodium/src/main/resources/templates/dart/DartGenericTypesConversion.mustache
  gluecodium/src/main/resources/templates/ffi/FfiGenericTypesHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiGenericTypesImpl.mustache
  gluecodium/src/test/resources/smoke/generic_types/input/commandlineoptions.txt
  gluecodium/src/test/resources/smoke/generic_types/output/cbridge/src/GenericCollections.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/GenericTypesConversion.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/GenericTypes__conversion.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithBasicTypes.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithCompoundTypes.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithGenericTypes.dart
  gluecodium/src/test/resources/smoke/generic_types/output/swift/Collections.swift
  gluecodium/src/test/resources/smoke/generic_types/output/swift/Dictionaries.swift
  gluecodium/src/test/resources/smoke/generic_types/output/swift/Sets.swift
  gluecodium/src/test/resources/smoke/generic_types/output/swift/smoke/GenericTypesWithBasicTypes.swift
  gluecodium/src/test/resources/smoke/generic_types/output/swift/smoke/GenericTypesWithCompoundTypes.swift
  gluecodium/src/test/resources/smoke/generic_types/output/swift/smoke/GenericTypesWithGenericTypes.swift
Labels: dart
