Repository heremaps/gluecodium, pull requests merged in 2020-02, with the labels that each got.

#125 Add support for type nesting to Dart generator
  examples/libhello/CMakeLists.txt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportResolver.kt
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartEnumConversion.mustache
  gluecodium/src/main/resources/templates/dart/DartEnumeration.mustache
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/test/resources/smoke/basic_types/output/dart/lib/src/smoke/BasicTypes.dart
  gluecodium/src/test/resources/smoke/constants/output/dart/lib/src/smoke/Constants.dart
  gluecodium/src/test/resources/smoke/constants/output/dart/lib/src/smoke/ConstantsInterface.dart
  gluecodium/src/test/resources/smoke/constants/output/dart/lib/src/smoke/StructConstants.dart
  gluecodium/src/test/resources/smoke/constructors/output/dart/lib/src/smoke/Constructors.dart
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/DefaultValues.dart
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/TypesWithDefaults.dart
  gluecodium/src/test/resources/smoke/enums/output/dart/lib/src/smoke/Enums.dart
  gluecodium/src/test/resources/smoke/enums/output/dart/lib/src/smoke/Enums_InternalErrorCode__conversion.dart
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/Errors.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithBasicTypes.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithCompoundTypes.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithGenericTypes.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/ExternalClass.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/ExternalInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/SimpleClass.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/SimpleInterface.dart
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/lib/src/smoke/MethodOverloads.dart
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/lib/src/smoke/SpecialNames.dart
  gluecodium/src/test/resources/smoke/packages/output/dart/lib/src/smoke/off/NestedPackages.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/Properties.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/PropertiesInterface.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/Structs.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/StructsWithConstants.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/StructsWithMethods.dart
  gluecodium/src/test/resources/smoke/typedefs/output/dart/lib/src/smoke/TypeDefs.dart
Labels: dart

#132 Add support for @Equatable and @PointerEquatable to Dart generator
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/Equatable.lime
  examples/platforms/dart/main.dart
  examples/platforms/dart/test/EquatableClasses_test.dart
  examples/platforms/dart/test/EquatableStructs_test.dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportResolver.kt
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartImport.mustache
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/test/resources/smoke/equatable/output/dart/ffi/ffi_smoke_Equatable.cpp
  gluecodium/src/test/resources/smoke/equatable/output/dart/ffi/ffi_smoke_Equatable.h
  gluecodium/src/test/resources/smoke/equatable/output/dart/lib/src/smoke/Equatable.dart
Labels: dart

#133 Add support for "internal" visibility to Dart generator
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartEnumeration.mustache
  gluecodium/src/main/resources/templates/dart/DartException.mustache
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/library.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/InternalClass.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/InternalInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicClass.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicTypeCollection.dart
Labels: dart

#136 Add support for class/interface inheritance to Dart generator
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/Inheritance.lime
  examples/platforms/dart/main.dart
  examples/platforms/dart/test/Inheritance_test.dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartFile.mustache
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/dart/DartPubspec.mustache
  gluecodium/src/test/resources/smoke/basic_types/output/dart/lib/src/smoke/BasicTypes.dart
  gluecodium/src/test/resources/smoke/constants/output/dart/lib/src/smoke/Constants.dart
  gluecodium/src/test/resources/smoke/constants/output/dart/lib/src/smoke/ConstantsInterface.dart
  gluecodium/src/test/resources/smoke/constants/output/dart/lib/src/smoke/StructConstants.dart
  gluecodium/src/test/resources/smoke/constructors/output/dart/lib/src/smoke/Constructors.dart
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/DefaultValues.dart
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/StructWithInitializerDefaults.dart
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/TypesWithDefaults.dart
  gluecodium/src/test/resources/smoke/enums/output/dart/lib/src/smoke/Enums.dart
  gluecodium/src/test/resources/smoke/equatable/output/dart/lib/src/smoke/Equatable.dart
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/Errors.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithBasicTypes.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithCompoundTypes.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithGenericTypes.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/ExternalClass.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/ExternalInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/SimpleClass.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/SimpleInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/StructWithClass.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/StructWithInterface.dart
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/lib/src/smoke/MethodOverloads.dart
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/lib/src/smoke/SpecialNames.dart
  gluecodium/src/test/resources/smoke/nullable/output/dart/lib/src/smoke/Nullable.dart
  gluecodium/src/test/resources/smoke/packages/output/dart/lib/src/smoke/off/NestedPackages.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/Properties.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/PropertiesInterface.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/Structs.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/StructsWithConstants.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/StructsWithMethods.dart
  gluecodium/src/test/resources/smoke/typedefs/output/dart/lib/src/smoke/TypeDefs.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/InternalClass.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/InternalInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicClass.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicTypeCollection.dart
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeClass.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeContainerWithInheritance.kt
Labels: dart

#139 Add "copy handle" logic to Dart bindings
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/test/resources/smoke/basic_types/output/dart/ffi/ffi_smoke_BasicTypes.cpp
  gluecodium/src/test/resources/smoke/basic_types/output/dart/ffi/ffi_smoke_BasicTypes.h
  gluecodium/src/test/resources/smoke/basic_types/output/dart/lib/src/smoke/BasicTypes.dart
  gluecodium/src/test/resources/smoke/constants/output/dart/lib/src/smoke/ConstantsInterface.dart
  gluecodium/src/test/resources/smoke/constants/output/dart/lib/src/smoke/StructConstants.dart
  gluecodium/src/test/resources/smoke/constructors/output/dart/ffi/ffi_smoke_Constructors.cpp
  gluecodium/src/test/resources/smoke/constructors/output/dart/ffi/ffi_smoke_Constructors.h
  gluecodium/src/test/resources/smoke/constructors/output/dart/lib/src/smoke/Constructors.dart
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/DefaultValues.dart
  gluecodium/src/test/resources/smoke/enums/output/dart/ffi/ffi_smoke_Enums.cpp
  gluecodium/src/test/resources/smoke/enums/output/dart/lib/src/smoke/Enums.dart
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_Errors.cpp
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_Errors.h
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/Errors.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithBasicTypes.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithCompoundTypes.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithGenericTypes.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_ExternalClass.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleClass.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleClass.h
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleInterface.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleInterface.h
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/ExternalClass.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/ExternalInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/SimpleClass.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/SimpleInterface.dart
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/ffi/ffi_smoke_MethodOverloads.cpp
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/ffi/ffi_smoke_MethodOverloads.h
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/lib/src/smoke/MethodOverloads.dart
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/lib/src/smoke/SpecialNames.dart
  gluecodium/src/test/resources/smoke/nullable/output/dart/ffi/ffi_smoke_Nullable.cpp
  gluecodium/src/test/resources/smoke/nullable/output/dart/ffi/ffi_smoke_Nullable.h
  gluecodium/src/test/resources/smoke/nullable/output/dart/lib/src/smoke/Nullable.dart
  gluecodium/src/test/resources/smoke/packages/output/dart/ffi/ffi_smoke_off_NestedPackages.cpp
  gluecodium/src/test/resources/smoke/packages/output/dart/ffi/ffi_smoke_off_NestedPackages.h
  gluecodium/src/test/resources/smoke/packages/output/dart/lib/src/smoke/off/NestedPackages.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/ffi/ffi_smoke_Properties.cpp
  gluecodium/src/test/resources/smoke/properties/output/dart/ffi/ffi_smoke_Properties.h
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/Properties.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/PropertiesInterface.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/ffi/ffi_smoke_Structs.cpp
  gluecodium/src/test/resources/smoke/structs/output/dart/ffi/ffi_smoke_Structs.h
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/Structs.dart
  gluecodium/src/test/resources/smoke/typedefs/output/dart/ffi/ffi_smoke_TypeDefs.cpp
  gluecodium/src/test/resources/smoke/typedefs/output/dart/lib/src/smoke/TypeDefs.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/InternalClass.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/InternalInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicClass.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicInterface.dart
Labels: dart

#141 Add support for basic use cases of calling Dart code from C++
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/ListenerNameClash.lime
  examples/platforms/dart/main.dart
  examples/platforms/dart/test/ListenersWithAttributes_test.dart
  examples/platforms/dart/test/ListenersWithReturnValues_test.dart
  examples/platforms/dart/test/Listeners_test.dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppParameterTypeNameResolver.kt
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/main/resources/templates/ffi/FfiProxyDeclaration.mustache
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleInterface.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleInterface.h
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/ExternalInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/SimpleInterface.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_CalculatorListener.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_CalculatorListener.h
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenerWithProperties.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenersWithReturnValues.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/CalculatorListener.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/ListenerWithProperties.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/ListenersWithReturnValues.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/PropertiesInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/InternalInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicInterface.dart
Labels: dart

#143 Add error handling to calling Dart callbacks from C++
  examples/platforms/dart/main.dart
  examples/platforms/dart/test/ListenersWithErrors_test.dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppReturnTypeNameResolver.kt
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/ffi/FfiProxyDeclaration.mustache
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_ErrorsInterface.cpp
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/ErrorsInterface.dart
Labels: dart

#144 Remove custom ios toolchain
  cmake/external/ios-cmake/LICENSE.md
  cmake/external/ios-cmake/README.md
  cmake/external/ios-cmake/ios.toolchain.cmake
  cmake/modules/gluecodium/gluecodium/runGenerate.cmake
  cmake/modules/gluecodium/swift/Compile.cmake
  examples/CMakeLists.txt
  examples/scripts/build-ios-on-mac
Labels: cmake

#145 Add support for Lambdas to Dart generator
  examples/libhello/CMakeLists.txt
  examples/platforms/dart/main.dart
  examples/platforms/dart/test/Lambdas_test.dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppNameResolver.kt
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/dart/DartLambda.mustache
  gluecodium/src/main/resources/templates/ffi/FfiConversionBase.mustache
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/main/resources/templates/ffi/FfiProxyDeclaration.mustache
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_Lambdas.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_Lambdas.h
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_StandaloneProducer.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_StandaloneProducer.h
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/library.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/Lambdas.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/LambdasWithStructuredTypes.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/StandaloneProducer.dart
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeLambda.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeLambdaParameter.kt
Labels: dart

#147 Respects CMAKE_OSX_DEPLOYMENT_TARGET when detect min iOS version
  cmake/modules/gluecodium/swift/Configuration.cmake
Labels: cmake

#146 Fix redundant newlines in C++ structs and enums
  CHANGELOG.md
  gluecodium/src/main/resources/templates/cpp/CppEnum.mustache
  gluecodium/src/main/resources/templates/cpp/CppStruct.mustache
Labels: bug, c++

#148 Adds CFBundleSupportedPlatforms with detected platform to plist for iOS
  cmake/modules/gluecodium/swift/FrameworkInfoPlist.cmake
  cmake/modules/gluecodium/swift/MacOSXFrameworkInfo.plist.in
Labels: cmake

#152 Add support for "Codable" protocol in Swift generator
  CHANGELOG.md
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/Serialization.lime
  examples/platforms/ios/Tests/main.swift
  examples/platforms/ios/Tests/testTests/SerializationTests.swift
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftStruct.kt
  gluecodium/src/main/resources/templates/swift/Enum.mustache
  gluecodium/src/main/resources/templates/swift/Struct.mustache
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/Comments.swift
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/CommentsInterface.swift
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/DeprecationComments.swift
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/DeprecationCommentsOnly.swift
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/PlatformComments.swift
  gluecodium/src/test/resources/smoke/constants/output/swift/smoke/Constants.swift
  gluecodium/src/test/resources/smoke/constants/output/swift/smoke/ConstantsInterface.swift
  gluecodium/src/test/resources/smoke/constructors/output/swift/smoke/Constructors.swift
  gluecodium/src/test/resources/smoke/defaults/output/swift/smoke/DefaultValues.swift
  gluecodium/src/test/resources/smoke/defaults/output/swift/smoke/TypesWithDefaults.swift
  gluecodium/src/test/resources/smoke/enums/output/swift/smoke/Enums.swift
  gluecodium/src/test/resources/smoke/enums/output/swift/smoke/EnumsInTypeCollection.swift
  gluecodium/src/test/resources/smoke/equatable/output/swift/smoke/Equatable.swift
  gluecodium/src/test/resources/smoke/errors/output/swift/smoke/Errors.swift
  gluecodium/src/test/resources/smoke/errors/output/swift/smoke/ErrorsInterface.swift
  gluecodium/src/test/resources/smoke/escaped_names/output/swift/package/Types.swift
  gluecodium/src/test/resources/smoke/extensions/output/swift/smoke/Extensions__extension.swift
  gluecodium/src/test/resources/smoke/generic_types/output/swift/smoke/GenericTypesWithCompoundTypes.swift
  gluecodium/src/test/resources/smoke/instances/output/swift/smoke/ExternalClass.swift
  gluecodium/src/test/resources/smoke/instances/output/swift/smoke/ExternalInterface.swift
  gluecodium/src/test/resources/smoke/listeners/output/swift/smoke/ListenerWithProperties.swift
  gluecodium/src/test/resources/smoke/listeners/output/swift/smoke/ListenersWithReturnValues.swift
  gluecodium/src/test/resources/smoke/name_rules/output/swift/namerules/INameRules.swift
  gluecodium/src/test/resources/smoke/nesting/output/swift/smoke/FreeEnum.swift
  gluecodium/src/test/resources/smoke/nesting/output/swift/smoke/LevelOne.swift
  gluecodium/src/test/resources/smoke/nullable/output/swift/smoke/Nullable.swift
  gluecodium/src/test/resources/smoke/platform_names/output/swift/smoke/bazTypes.swift
  gluecodium/src/test/resources/smoke/properties/output/swift/smoke/Properties.swift
  gluecodium/src/test/resources/smoke/serialization/input/Serialization.lime
  gluecodium/src/test/resources/smoke/serialization/output/swift/smoke/SerializableEquatableStruct.swift
  gluecodium/src/test/resources/smoke/serialization/output/swift/smoke/Serialization.swift
  gluecodium/src/test/resources/smoke/structs/output/swift/smoke/Structs.swift
  gluecodium/src/test/resources/smoke/visibility/output/swift/smoke/PublicClass.swift
Labels: enhancement, swift

#153 Update Gluecodium documentation to include Dart generator
  docs/guide.md
  docs/lime_idl.md
  docs/naming_conventions.md
Labels: dart

#158 Fixes path to read swift file relatively to origin directory
  cmake/modules/gluecodium/gluecodium/runGenerate.cmake
Labels: cmake

#162 Add missing includes to NullableHandles.cpp in Dart FFI
  gluecodium/src/main/resources/templates/ffi/FfiNullableHandlesImpl.mustache
  gluecodium/src/test/resources/smoke/nullable/output/dart/ffi/NullableHandles.cpp
Labels: bug, dart

#164 Fix "unused variable '_error'" warning in Dart FFI
  gluecodium/src/main/resources/templates/ffi/FfiProxyDeclaration.mustache
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleInterface.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_Lambdas.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_StandaloneProducer.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_CalculatorListener.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenersWithReturnValues.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterClass.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterInterface.cpp
Labels: bug, dart

#155 Preserve type information to Cpp-to-Dart transition
  examples/platforms/dart/test/Inheritance_test.dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportResolver.kt
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/dart/DartTypeRepository.mustache
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/test/resources/smoke/constructors/output/dart/ffi/ffi_smoke_Constructors.cpp
  gluecodium/src/test/resources/smoke/constructors/output/dart/ffi/ffi_smoke_Constructors.h
  gluecodium/src/test/resources/smoke/constructors/output/dart/lib/src/smoke/Constructors.dart
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_ErrorsInterface.cpp
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/ErrorsInterface.dart
  gluecodium/src/test/resources/smoke/escaped_names/output/dart/lib/src/package/Class.dart
  gluecodium/src/test/resources/smoke/escaped_names/output/dart/lib/src/package/Interface.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithCompoundTypes.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/ffi/ffi_smoke_ChildClassFromClass.h
  gluecodium/src/test/resources/smoke/inheritance/output/dart/ffi/ffi_smoke_ChildClassFromInterface.h
  gluecodium/src/test/resources/smoke/inheritance/output/dart/ffi/ffi_smoke_ChildInterface.h
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/_type_repository.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/ChildClassFromClass.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/ChildClassFromInterface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/ChildInterface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/ParentClass.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/ParentInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleInterface.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleInterface.h
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/ExternalInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/SimpleInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/StructWithInterface.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/LambdasWithStructuredTypes.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_CalculatorListener.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_CalculatorListener.h
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenerWithProperties.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenersWithReturnValues.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/CalculatorListener.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/ListenerWithProperties.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/ListenersWithReturnValues.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterClass.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterInterface.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/LevelOne.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/OuterClass.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/OuterInterface.dart
  gluecodium/src/test/resources/smoke/platform_names/output/dart/lib/src/smoke/weeListener.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/Properties.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/PropertiesInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/InternalInterface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/PublicInterface.dart
Labels: dart

#172 Add optional prefix to collection conversion functions in Swift
  cmake/modules/gluecodium/gluecodium/Generate.cmake
  examples/libhello/CMakeLists.txt
  gluecodium/src/main/java/com/here/gluecodium/Gluecodium.kt
  gluecodium/src/main/java/com/here/gluecodium/cli/OptionReader.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGenericsGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftArray.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftSet.kt
  gluecodium/src/main/java/com/here/gluecodium/platform/swift/SwiftGeneratorSuite.kt
  gluecodium/src/main/resources/templates/swift/Array.mustache
  gluecodium/src/main/resources/templates/swift/ClosureConversion.mustache
  gluecodium/src/main/resources/templates/swift/ConversionPrefixFrom.mustache
  gluecodium/src/main/resources/templates/swift/ConversionPrefixTo.mustache
  gluecodium/src/main/resources/templates/swift/Dictionary.mustache
  gluecodium/src/main/resources/templates/swift/File.mustache
  gluecodium/src/main/resources/templates/swift/GetReference.mustache
  gluecodium/src/main/resources/templates/swift/OptionalsConversion.mustache
  gluecodium/src/main/resources/templates/swift/ParametersConversion.mustache
  gluecodium/src/main/resources/templates/swift/Set.mustache
  gluecodium/src/main/resources/templates/swift/Struct.mustache
  gluecodium/src/main/resources/templates/swift/StructConversion.mustache
  gluecodium/src/test/java/com/here/gluecodium/generator/swift/SwiftTypeMapperTest.kt
Labels: swift

#173 Add optional prefix to collection conversion functions in Dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiNameResolver.kt
  gluecodium/src/test/resources/smoke/constructors/output/dart/lib/src/smoke/Constructors.dart
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/DefaultValues.dart
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/StructWithInitializerDefaults.dart
  gluecodium/src/test/resources/smoke/equatable/output/dart/lib/src/smoke/Equatable.dart
  gluecodium/src/test/resources/smoke/escaped_names/output/dart/lib/src/package/Class.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/GenericTypesConversion.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithBasicTypes.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithCompoundTypes.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithGenericTypes.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/Lambdas.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/CalculatorListener.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/ListenerWithProperties.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/ListenersWithReturnValues.dart
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/lib/src/smoke/MethodOverloads.dart
  gluecodium/src/test/resources/smoke/nullable/output/dart/lib/src/GenericTypes__conversion.dart
  gluecodium/src/test/resources/smoke/nullable/output/dart/lib/src/smoke/Nullable.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/Properties.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/Structs.dart
  gluecodium/src/test/resources/smoke/typedefs/output/dart/lib/src/smoke/TypeDefs.dart
Labels: swift
