Repository heremaps/gluecodium, pull requests merged in 2020-06, with the labels that each got.

#374 Add Locale predefined type to LimeIDL
  docs/lime_idl.md
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/FfiApiTypeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/FfiDartTypeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftTypeMapper.kt
  gluecodium/src/test/resources/smoke/locales/input/Locales.lime
  gluecodium/src/test/resources/smoke/locales/output/lime/smoke/Locales.lime
  lime-loader/src/main/antlr/LimeLexer.g4
  lime-loader/src/main/antlr/LimeParser.g4
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrTypeMapper.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeBasicType.kt
  tools/Lime_IDL_file_type_for_IntelliJ.jar
Labels: enhancement

#375 Add support for Locale type to C++ generator
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/Locales.lime
  examples/libhello/src/test/Locales.cpp
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/platform/baseapi/BaseApiGeneratorSuite.kt
  gluecodium/src/main/resources/templates/cpp/Locale.mustache
  gluecodium/src/main/resources/templates/cpp/LocaleImpl.mustache
  gluecodium/src/test/java/com/here/gluecodium/platform/baseapi/BaseApiGeneratorSuiteTest.kt
  gluecodium/src/test/resources/smoke/locales/output/cpp/include/smoke/Locales.h
Labels: c++

#376 Add support for Locale type to Java generator
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/Locales.lime
  examples/libhello/src/test/Locales.cpp
  examples/platforms/android/app/src/test/java/com/here/android/test/LocalesTest.java
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/model/java/JavaReferenceTypeRef.kt
  gluecodium/src/main/resources/templates/jni/utils/JniCppConversionUtilsHeader.mustache
  gluecodium/src/main/resources/templates/jni/utils/JniCppConversionUtilsImplementation.mustache
  gluecodium/src/test/resources/smoke/locales/output/android/com/example/smoke/Locales.java
  gluecodium/src/test/resources/smoke/locales/output/android/jni/com_example_smoke_Locales.cpp
Labels: java

#377 Add support for Locale type to Swift generator
  examples/libhello/CMakeLists.txt
  examples/platforms/ios/Tests/main.swift
  examples/platforms/ios/Tests/testTests/LocalesTests.swift
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftType.kt
  gluecodium/src/main/resources/cbridge/include/LocaleHandle.h
  gluecodium/src/main/resources/swift/BuiltinConversions.swift
  gluecodium/src/main/resources/templates/cbridge/LocaleHandle.mustache
  gluecodium/src/test/resources/smoke/locales/output/cbridge/src/smoke/cbridge_Locales.cpp
  gluecodium/src/test/resources/smoke/locales/output/swift/smoke/Locales.swift
Labels: swift

#381 Fix error handling in Dart FFI proxies
  gluecodium/src/main/resources/templates/ffi/FfiProxyDeclaration.mustache
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_ErrorsInterface.cpp
Labels: bug, dart

#382 Add support for Locale type to Dart generator
  CHANGELOG.md
  examples/libhello/CMakeLists.txt
  examples/libhello/src/test/Locales.cpp
  examples/platforms/dart/main.dart
  examples/platforms/dart/test/Locales_test.dart
  examples/platforms/ios/Tests/testTests/LocalesTests.swift
  gluecodium/src/main/java/com/here/gluecodium/Gluecodium.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/FfiApiTypeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/FfiDartTypeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiNameResolver.kt
  gluecodium/src/main/resources/templates/dart/DartBuiltInTypesConversion.mustache
  gluecodium/src/main/resources/templates/dart/DartPubspec.mustache
  gluecodium/src/main/resources/templates/ffi/FfiLocaleHandleHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiLocaleHandleImpl.mustache
  gluecodium/src/main/resources/templates/ffi/FfiNullableHandlesImpl.mustache
  gluecodium/src/test/resources/smoke/basic_types/output/dart/lib/src/builtin_types__conversion.dart
  gluecodium/src/test/resources/smoke/locales/output/dart/ffi/ffi_smoke_Locales.cpp
  gluecodium/src/test/resources/smoke/locales/output/dart/lib/src/smoke/locales.dart
  gluecodium/src/test/resources/smoke/nullable/output/dart/ffi/NullableHandles.cpp
  gluecodium/src/test/resources/smoke/nullable/output/dart/ffi/NullableHandles.h
Labels: dart

#384 Fix disambiguation of method parameters in Dart
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartNameResolver.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/cpp/CppModelBuilderCommentsTest.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/cpp/CppModelBuilderTest.kt
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/comments_links.dart
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeModelBuilder.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeBasicType.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeParameter.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimePath.kt
Labels: bug, dart

#385 Adds workaround for Flutter's bug to perform hot restart.
  gluecodium/src/main/resources/templates/dart/DartLibraryContext.mustache
  gluecodium/src/main/resources/templates/ffi/FfiCallbacksHandleHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiCallbacksHandleImpl.mustache
  gluecodium/src/main/resources/templates/ffi/FfiCallbacksQueueHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiCallbacksQueueImpl.mustache
Labels: dart

#387 Include isolate ID in proxy cache key in Dart
  CHANGELOG.md
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/main/resources/templates/ffi/FfiProxyCacheHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiProxyCacheImpl.mustache
  gluecodium/src/main/resources/templates/ffi/FfiProxyDeclaration.mustache
  gluecodium/src/test/resources/smoke/equatable/output/dart/ffi/ffi_smoke_EquatableInterface.cpp
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_ErrorsInterface.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleInterface.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_Lambdas.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_StandaloneProducer.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_CalculatorListener.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenerWithProperties.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenersWithReturnValues.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterClass.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterInterface.cpp
Labels: bug, dart

#386 Improve handling of deprecation messages in Dart
  gluecodium/src/main/java/com/here/gluecodium/generator/common/modelbuilder/AbstractLimeBasedModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/common/templates/EscapeHelper.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/common/templates/GetAttributeHelper.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/common/templates/TemplateEngine.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaModelBuilder.kt
  gluecodium/src/main/resources/templates/dart/DartDocumentation.mustache
  gluecodium/src/main/resources/templates/dart/DartFunctionDocs.mustache
  gluecodium/src/test/java/com/here/gluecodium/generator/common/templates/GetAttributeHelperTest.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/cpp/CppModelBuilderCommentsTest.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/java/JavaModelBuilderContainersTest.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/java/JavaModelBuilderTest.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/swift/SwiftModelBuilderContainerTest.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/swift/SwiftModelBuilderTest.kt
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/deprecation_comments.dart
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeConverter.kt
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeModelBuilder.kt
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrTypeMapper.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeAttributes.kt
Labels: bug, dart

#395 Fix cross-package inheritance from interfaces in Java
  CHANGELOG.md
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/CrossPackageInheritance.lime
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/model/java/JavaInterface.kt
  gluecodium/src/main/java/com/here/gluecodium/model/jni/JniContainer.kt
  gluecodium/src/main/resources/templates/jni/Header.mustache
  gluecodium/src/main/resources/templates/jni/Implementation.mustache
  gluecodium/src/test/java/com/here/gluecodium/generator/java/JavaModelBuilderContainersTest.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/java/JavaModelBuilderTest.kt
  gluecodium/src/test/resources/smoke/escaped_names/output/android/com/example/package/Class.java
  gluecodium/src/test/resources/smoke/inheritance/output/android/com/example/smoke/ChildClassFromInterface.java
  gluecodium/src/test/resources/smoke/inheritance/output/android/jni/com_example_smoke_ChildClassFromInterface.cpp
Labels: bug, java

#397 Fix parent interface resolution in JNI
  CHANGELOG.md
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/InterfaceWithLambda.lime
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniModelBuilder.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/jni/JniModelBuilderTest.kt
  gluecodium/src/test/resources/smoke/inheritance/input/InterfaceWithLambda.lime
  gluecodium/src/test/resources/smoke/inheritance/output/android/jni/com_example_smoke_ChildClassWithLambda.cpp
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/_type_repository.dart
Labels: bug, java

#400 Improve logging for unhandled exceptions when calling Java from C++
  CHANGELOG.md
  gluecodium/src/main/resources/templates/jni/CppProxyImplementation.mustache
  gluecodium/src/test/resources/smoke/errors/output/android/jni/com_example_smoke_ErrorsInterfaceImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/inheritance/output/android/jni/com_example_smoke_ChildInterfaceImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/android/jni/com_example_smoke_Lambdas_ConfounderImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/listeners/output/android/jni/com_example_smoke_CalculatorListenerImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/listeners/output/android/jni/com_example_smoke_ListenerWithPropertiesImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/listeners/output/android/jni/com_example_smoke_ListenersWithReturnValuesImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/platform_names/output/android/jni/com_example_smoke_barListenerImplCppProxy.cpp
Labels: java

#403 Add missing tests for external types with methods
  examples/libhello/lime/test/ExternalTypes.lime
  examples/libhello/lime/test/StructsWithMethods.lime
  examples/libhello/src/test/include/ExternalTypes.h
  examples/libhello/src/test/src/ExternalTypes.cpp
  gluecodium/src/test/resources/smoke/instances/input/Classes.lime
  gluecodium/src/test/resources/smoke/instances/output/cpp/src/smoke/ClassWithOverloads.cpp
  gluecodium/src/test/resources/smoke/structs/input/StructsWithMethods.lime
  gluecodium/src/test/resources/smoke/structs/output/cpp/src/smoke/StructWithOverloads.cpp
Labels: c++
