Repository heremaps/gluecodium, pull requests merged in 2020-01, with the labels that each got.

#69 Add support for generic types to Dart generator
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/Arrays.lime
  examples/libhello/lime/test/ExternalTypes.lime
  examples/platforms/dart/main.dart
  examples/platforms/dart/test/Lists_test.dart
  examples/platforms/dart/test/Maps_test.dart
  examples/platforms/dart/test/Sets_test.dart
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppLibraryIncludes.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartMangledNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/FfiApiTypeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/FfiDartTypeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiSignatureResolver.kt
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartEnumConversion.mustache
  gluecodium/src/main/resources/templates/dart/DartFfiConversionCall.mustache
  gluecodium/src/main/resources/templates/dart/DartFunctionSignature.mustache
  gluecodium/src/main/resources/templates/dart/DartGenericTypesConversion.mustache
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/dart/DartStructConversion.mustache
  gluecodium/src/main/resources/templates/ffi/FfiGenericTypesHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiGenericTypesImpl.mustache
  gluecodium/src/test/resources/smoke/basic_types/output/dart/lib/src/smoke/BasicTypes.dart
  gluecodium/src/test/resources/smoke/enums/output/dart/lib/src/smoke/Enums.dart
  gluecodium/src/test/resources/smoke/enums/output/dart/lib/src/smoke/Enums_InternalErrorCode__conversion.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/GenericTypesConversion.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithBasicTypes.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithCompoundTypes.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithGenericTypes.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/SimpleClass.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/SimpleInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/StructWithClass.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/StructWithInterface.dart
  gluecodium/src/test/resources/smoke/packages/output/dart/lib/src/smoke/off/NestedPackages.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/Structs.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/Structs_AllTypesStruct__conversion.dart
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeSignatureResolver.kt
Labels: dart

#81 Fix Swift doc comments for struct constructors
  CHANGELOG.md
  gluecodium/src/main/resources/templates/swift/Struct.mustache
  gluecodium/src/test/resources/smoke/comments/input/Comments.lime
  gluecodium/src/test/resources/smoke/comments/output/android/com/example/smoke/Comments.java
  gluecodium/src/test/resources/smoke/comments/output/cpp/include/smoke/Comments.h
  gluecodium/src/test/resources/smoke/comments/output/lime/smoke/comments.lime
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/Comments.swift
Labels: bug, swift

#87 Update Robolectric to version 3.7.1
  examples/platforms/android/app/build.gradle
Labels: travis

#90 Add support for properties to Dart generator
  examples/libhello/CMakeLists.txt
  examples/platforms/dart/main.dart
  examples/platforms/dart/test/Properties_test.dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppNameResolver.kt
  gluecodium/src/main/resources/templates/dart/DartFunction.mustache
  gluecodium/src/main/resources/templates/dart/DartFunctionBody.mustache
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/dart/DartProperty.mustache
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithBasicTypes.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/ffi/ffi_smoke_Properties.cpp
  gluecodium/src/test/resources/smoke/properties/output/dart/ffi/ffi_smoke_Properties.h
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/Properties.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/PropertiesInterface.dart
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeModelBuilder.kt
Labels: dart

#98 Fix lambdas with Instance parameters in Swift
  CHANGELOG.md
  examples/libhello/lime/test/Lambdas.lime
  gluecodium/src/main/resources/templates/swift/ClosureConversion.mustache
  gluecodium/src/test/resources/smoke/lambdas/input/Lambdas.lime
  gluecodium/src/test/resources/smoke/lambdas/output/swift/smoke/LambdasWithStructuredTypes.swift
Labels: bug, swift

#99 Fix compilation issues in Optional template
  gluecodium/src/main/resources/templates/cpp/Optional.mustache
Labels: bug, c++

#104 Add support for method overloads in Dart generator
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/Errors.lime
  examples/libhello/lime/test/Inheritance.lime
  examples/libhello/lime/test/MethodOverloads.lime
  examples/libhello/src/test/Errors.cpp
  examples/libhello/src/test/Inheritance.cpp
  examples/libhello/src/test/MethodOverloads.cpp
  examples/platforms/android/app/src/test/java/com/here/android/test/MethodOverloadsTest.java
  examples/platforms/dart/main.dart
  examples/platforms/dart/test/MethodOverloads_test.dart
  examples/platforms/ios/Tests/testTests/MethodOverloadsTests.swift
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartNameResolver.kt
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/test/resources/smoke/constructors/input/Constructors.lime
  gluecodium/src/test/resources/smoke/constructors/output/dart/lib/src/smoke/Constructors.dart
  gluecodium/src/test/resources/smoke/constructors/output/lime/smoke/Constructors.lime
  gluecodium/src/test/resources/smoke/method_overloads/input/MethodOverloads.lime
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/ffi/ffi_smoke_MethodOverloads.cpp
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/ffi/ffi_smoke_MethodOverloads.h
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/lib/src/smoke/MethodOverloads.dart
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/lib/src/smoke/SpecialNames.dart
  gluecodium/src/test/resources/smoke/method_overloads/output/lime/smoke/MethodOverloads.lime
  gluecodium/src/test/resources/smoke/method_overloads/output/lime/smoke/SpecialNames.lime
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeModelBuilder.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeAttributeType.kt
  tools/Lime_IDL_file_type_for_IntelliJ.jar
Labels: dart

#106 Send Travis CI failure emails only for "master" branch
  .travis.yml
Labels: travis

#105 Add support for "external" types to Dart generator
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/ExternalTypes.lime
  examples/libhello/lime/test/StructsWithMethods.lime
  examples/platforms/dart/main.dart
  examples/platforms/dart/test/ExternalTypes_test.dart
  gluecodium/src/main/java/com/here/gluecodium/generator/common/NameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/common/templates/IfHasAttributeHelper.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/common/templates/NameResolverHelper.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/common/templates/TemplateEngine.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppNameResolver.kt
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/test/java/com/here/gluecodium/generator/common/templates/IfHasAttributeHelperTest.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/common/templates/NameResolverHelperTest.kt
  gluecodium/src/test/resources/smoke/basic_types/output/dart/ffi/ffi_smoke_BasicTypes.cpp
  gluecodium/src/test/resources/smoke/constructors/output/dart/ffi/ffi_smoke_Constructors.cpp
  gluecodium/src/test/resources/smoke/enums/output/dart/ffi/ffi_smoke_Enums.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/GenericTypesConversion.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_ExternalClass.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleClass.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleInterface.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_StructWithClass.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_StructWithInterface.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/ExternalClass.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/ExternalInterface.dart
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/ffi/ffi_smoke_MethodOverloads.cpp
  gluecodium/src/test/resources/smoke/packages/output/dart/ffi/ffi_smoke_off_NestedPackages.cpp
  gluecodium/src/test/resources/smoke/properties/output/dart/ffi/ffi_smoke_Properties.cpp
  gluecodium/src/test/resources/smoke/structs/output/dart/ffi/ffi_smoke_Structs.cpp
  gluecodium/src/test/resources/smoke/structs/output/dart/ffi/ffi_smoke_Structs.h
Labels: dart

#107 Add @Immutable structs support to Dart generator
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/ArraysByteBuffer.lime
  examples/libhello/lime/test/PlainDataStructuresImmutable.lime
  examples/libhello/src/test/PlainDataStructuresImmutable.cpp
  examples/platforms/android/app/src/test/java/com/here/android/test/PlainDataStructuresTest.java
  examples/platforms/dart/main.dart
  examples/platforms/dart/test/PlainDataStructuresImmutable_test.dart
  gluecodium/src/main/resources/templates/dart/DartField.mustache
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/Structs.dart
Labels: dart

#110 Add support for exceptions in Dart generator
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/ArraysByteBuffer.lime
  examples/libhello/lime/test/Errors.lime
  examples/libhello/src/test/ArraysByteBuffer.cpp
  examples/libhello/src/test/Errors.cpp
  examples/platforms/android/app/src/test/java/com/here/android/test/ErrorsTest.java
  examples/platforms/dart/main.dart
  examples/platforms/dart/test/Exceptions_test.dart
  examples/platforms/dart/test/PlainDataStructuresImmutable_test.dart
  examples/platforms/ios/Tests/testTests/ErrorsTests.swift
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppNameResolver.kt
  gluecodium/src/main/resources/namerules/dart.properties
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartException.mustache
  gluecodium/src/main/resources/templates/dart/DartFunctionBody.mustache
  gluecodium/src/main/resources/templates/dart/DartFunctionException.mustache
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/main/resources/templates/dart/DartTypes.mustache
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/test/resources/smoke/constructors/output/dart/ffi/ffi_smoke_Constructors.cpp
  gluecodium/src/test/resources/smoke/constructors/output/dart/ffi/ffi_smoke_Constructors.h
  gluecodium/src/test/resources/smoke/constructors/output/dart/lib/src/smoke/Constructors.dart
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_Errors.cpp
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_Errors.h
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/Errors.dart
Labels: dart

#112 Add support for Date type in Dart generator
  examples/libhello/CMakeLists.txt
  examples/platforms/dart/main.dart
  examples/platforms/dart/pubspec.yaml.in
  examples/platforms/dart/test/Dates_test.dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/FfiApiTypeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/FfiDartTypeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiNameResolver.kt
  gluecodium/src/main/resources/templates/dart/DartDateTimeConversion.mustache
  gluecodium/src/main/resources/templates/ffi/FfiConversionBase.mustache
Labels: dart

#111 Add support for methods in structs to Dart generator
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/StructsWithMethods.lime
  examples/platforms/dart/main.dart
  examples/platforms/dart/test/StructsWithConstants_test.dart
  examples/platforms/dart/test/StructsWithMethods_test.dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportResolver.kt
  gluecodium/src/main/resources/templates/dart/DartFunctionBody.mustache
  gluecodium/src/main/resources/templates/dart/DartFunctionSignature.mustache
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/main/resources/templates/dart/DartStructConversion.mustache
  gluecodium/src/test/resources/smoke/constants/output/dart/lib/src/smoke/StructConstants.dart
  gluecodium/src/test/resources/smoke/enums/output/dart/lib/src/smoke/Enums.dart
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/Errors.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithBasicTypes.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/GenericTypesWithCompoundTypes.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/ExternalClass.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/ExternalInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/SimpleInterface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/StructWithClass.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/StructWithInterface.dart
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/lib/src/smoke/MethodOverloads.dart
  gluecodium/src/test/resources/smoke/packages/output/dart/lib/src/smoke/off/NestedPackages.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/Properties.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/PropertiesInterface.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/Structs.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/StructsWithConstants.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/StructsWithMethods.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/Structs_AllTypesStruct__conversion.dart
Labels: dart

#117 Add support for struct field initializers to Dart generator
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/Defaults.lime
  examples/libhello/lime/test/NullableInterface.lime
  examples/libhello/src/test/Defaults.cpp
  examples/platforms/android/app/src/test/java/com/here/android/test/DefaultsTest.java
  examples/platforms/dart/main.dart
  examples/platforms/dart/test/Defaults_test.dart
  examples/platforms/ios/Tests/testTests/DefaultsTests.swift
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartNameResolver.kt
  gluecodium/src/main/resources/templates/dart/DartField.mustache
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/DefaultValues.dart
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/StructWithInitializerDefaults.dart
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/TypesWithDefaults.dart
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeStruct.kt
Labels: dart

#116 Add tests for type aliases in Dart generator
  examples/libhello/CMakeLists.txt
  gluecodium/src/test/resources/smoke/typedefs/output/dart/ffi/ffi_smoke_TypeDefs.cpp
  gluecodium/src/test/resources/smoke/typedefs/output/dart/lib/src/smoke/TypeDefs.dart
Labels: dart
