Repository heremaps/gluecodium, pull requests merged in 2020-12, with the labels that each got.

#640 Update Swift "external type" smoke test
  gluecodium/src/test/resources/smoke/external_types/input/SwiftExternalTypes.lime
  gluecodium/src/test/resources/smoke/external_types/output/swift/smoke/PseudoColor.swift
  gluecodium/src/test/resources/smoke/external_types/output/swift/smoke/UIColor.swift
  gluecodium/src/test/resources/smoke/external_types/output/swift/smoke/UseSwiftExternalTypes.swift
Labels: swift

#642 Move Swift-related files to "generator" package
  gluecodium/src/main/java/com/here/gluecodium/generator/common/GeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftCommentsProcessor.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGenericsGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftNestedNamesResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftTypeRefsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/platform/swift/package-info.java
  gluecodium/src/test/java/com/here/gluecodium/AcceptanceTestBase.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/swift/SwiftModelBuilderContainerTest.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/swift/SwiftModelBuilderTest.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/swift/SwiftTypeMapperTest.kt
  gluecodium/src/test/java/com/here/gluecodium/platform/swift/SwiftGeneratorSuiteTest.kt
Labels: swift

#644 Remove Swift model
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeImplIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeNameRules.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/common/modelbuilder/AbstractLimeBasedModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/common/modelbuilder/LimeBasedModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/common/modelbuilder/LimeTreeWalker.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/common/modelbuilder/package-info.java
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftModel.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftNestedNamesResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftTypeRefsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/model/common/Comments.kt
  gluecodium/src/main/java/com/here/gluecodium/model/common/Hierarchical.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftArray.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftClass.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftClosure.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftConstant.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftDictionary.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftEnum.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftEnumItem.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftError.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftExtension.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftField.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftFile.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftMethod.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftModelElement.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftParameter.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftProperty.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftSet.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftStruct.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftThrownType.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftType.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftTypeDef.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftTypedModelElement.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftValue.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftVisibility.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/package-info.java
  gluecodium/src/test/java/com/here/gluecodium/generator/common/modelbuilder/LimeTreeWalkerTest.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/swift/SwiftModelBuilderContainerTest.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/swift/SwiftModelBuilderTest.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/swift/SwiftTypeMapperTest.kt
  lime-runtime/src/main/java/com/here/gluecodium/common/GenericTreeWalker.kt
Labels: swift

#647 Resolve doc refs to functions as full names in Dart
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartNameResolver.kt
  gluecodium/src/test/resources/smoke/comments/input/Comments.lime
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/comments_links.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/deprecation_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/lime/smoke/CommentsLinks.lime
  gluecodium/src/test/resources/smoke/comments/output/lime/smoke/comments.lime
Labels: bug, dart

#649 Normalize type names in CBridge generated code
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeCollectionNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeNameRules.kt
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/Comments.swift
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/CommentsInterface.swift
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/DeprecationComments.swift
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/DeprecationCommentsOnly.swift
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/ExcludedComments.swift
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/ExcludedCommentsOnly.swift
  gluecodium/src/test/resources/smoke/lambdas/output/cbridge/include/smoke/cbridge_Lambdas.h
  gluecodium/src/test/resources/smoke/lambdas/output/cbridge/src/smoke/cbridge_Lambdas.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/swift/smoke/Lambdas.swift
  gluecodium/src/test/resources/smoke/name_rules/output/cbridge/include/namerules/cbridge_NameRules.h
  gluecodium/src/test/resources/smoke/name_rules/output/cbridge/src/namerules/cbridge_NameRules.cpp
  gluecodium/src/test/resources/smoke/name_rules/output/swift/namerules/INameRules.swift
  gluecodium/src/test/resources/smoke/nullable/output/cbridge/src/smoke/cbridge_Nullable.cpp
  gluecodium/src/test/resources/smoke/nullable/output/swift/smoke/Nullable.swift
  gluecodium/src/test/resources/smoke/platform_names/output/cbridge/include/smoke/cbridge_bazInterface.h
  gluecodium/src/test/resources/smoke/platform_names/output/cbridge/include/smoke/cbridge_bazTypes.h
  gluecodium/src/test/resources/smoke/platform_names/output/swift/smoke/bazInterface.swift
  gluecodium/src/test/resources/smoke/platform_names/output/swift/smoke/bazListener.swift
  gluecodium/src/test/resources/smoke/platform_names/output/swift/smoke/bazTypes.swift
  gluecodium/src/test/resources/smoke/properties/output/swift/smoke/Properties.swift
Labels: swift

#653 Updates doc about apigen_generate
  cmake/modules/gluecodium/gluecodium/Generate.cmake
Labels: cmake

#656 Improves readability of documentation for apigen_generate
  cmake/modules/gluecodium/gluecodium/Generate.cmake
Labels: cmake

#652 Migrate CI to GitHub Actions
  .github/workflows/gluecodium.yml
  .travis.yml
  examples/scripts/build-cpp
  examples/scripts/build-dart
  examples/scripts/build-swift
  examples/scripts/valgrind_suppressions
  functional-tests/scripts/build-swift
Labels: ci

#658 Remove obsolete env vars in Android build
  .github/workflows/gluecodium.yml
  examples/scripts/build-android
  examples/scripts/configure_all_platforms
  functional-tests/scripts/build-android
Labels: ci

#661 Add "Dart with AddressSanitizer" CI job
  .github/workflows/gluecodium.yml
Labels: ci, dart

#662 Replace Travis CI badge with GitHub actions CI badge
  README.md
Labels: ci
