Repository heremaps/gluecodium, pull requests merged in 2020-07, with the labels that each got.

#393 Make LibraryContext in Dart more politically correct
  gluecodium/src/main/resources/templates/dart/DartLibraryContext.mustache
Labels: dart

#415 Add missing FFI bindings for nested classes in Dart
  CHANGELOG.md
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/NestedClassWithProperty.lime
  examples/libhello/src/test/NestedClassWithProperty.cpp
  examples/platforms/dart/test/Properties_test.dart
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_LevelOne.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_LevelOne.h
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterClass.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterInterface.cpp
Labels: bug, dart

#417 Adds workaround for CMake < 3.15
  cmake/modules/gluecodium/gluecodium/Generate.cmake
  cmake/modules/gluecodium/gluecodium/runGenerate.cmake
Labels: cmake

#420 Fix redundant "const" modifiers for methods in C++
  CHANGELOG.md
  examples/libhello/lime/test/StructsWithMethods.lime
  examples/libhello/src/test/StructsWithMethods.cpp
  gluecodium/src/main/resources/templates/cpp/CppFunctionSignature.mustache
  gluecodium/src/test/resources/smoke/structs/input/StructsWithMethods.lime
  gluecodium/src/test/resources/smoke/structs/output/cpp/include/smoke/StructWithConstMethod.h
Labels: bug, c++

#422 Adds timeout for first wait for event
  gluecodium/src/main/resources/templates/ffi/FfiCallbacksHandleImpl.mustache
Labels: dart

#426 Add support for Java "external" types
  CHANGELOG.md
  docs/lime_idl.md
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/JavaExternalTypes.lime
  examples/libhello/src/test/JavaExternalTypes.cpp
  examples/platforms/android/app/src/test/java/com/here/android/test/ExternalTypesTest.java
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaNameRules.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/model/java/JavaClass.kt
  gluecodium/src/main/java/com/here/gluecodium/model/java/JavaEnum.kt
  gluecodium/src/main/java/com/here/gluecodium/model/java/JavaTopLevelElement.kt
  gluecodium/src/main/java/com/here/gluecodium/model/jni/JniEnum.kt
  gluecodium/src/main/java/com/here/gluecodium/model/jni/JniField.kt
  gluecodium/src/main/java/com/here/gluecodium/platform/android/JavaGeneratorSuite.kt
  gluecodium/src/main/resources/templates/jni/EnumConversionImplementation.mustache
  gluecodium/src/main/resources/templates/jni/Implementation.mustache
  gluecodium/src/main/resources/templates/jni/StructConversionImplementation.mustache
  gluecodium/src/test/resources/namespace_smoke/basic/output/android/jni/com_example_smoke_SomeStruct__Conversion.cpp
  gluecodium/src/test/resources/smoke/external_types/input/JavaExternalTypes.lime
  gluecodium/src/test/resources/smoke/external_types/output/android/com/example/smoke/UseJavaExternalTypes.java
  gluecodium/src/test/resources/smoke/external_types/output/android/jni/com_example_smoke_Structs_ExternalStruct__Conversion.cpp
  gluecodium/src/test/resources/smoke/external_types/output/android/jni/java_time_Month__Conversion.cpp
  gluecodium/src/test/resources/smoke/external_types/output/android/jni/java_util_Currency__Conversion.cpp
  gluecodium/src/test/resources/smoke/external_types/output/android/jni/java_util_SimpleTimeZone__Conversion.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/android/jni/com_example_smoke_GenericTypesWithBasicTypes_StructWithGenerics__Conversion.cpp
  gluecodium/src/test/resources/smoke/instances/output/android/jni/com_example_smoke_StructWithClass__Conversion.cpp
  gluecodium/src/test/resources/smoke/instances/output/android/jni/com_example_smoke_StructWithInterface__Conversion.cpp
  gluecodium/src/test/resources/smoke/name_rules/output/android/jni/com_example_namerules_NAME_RULES_DROID_EXAMPLE_STRUCT_DROID__Conversion.cpp
  gluecodium/src/test/resources/smoke/nesting/output/android/jni/com_example_smoke_LevelOne_LevelTwo_LevelThree_LevelFour__Conversion.cpp
  gluecodium/src/test/resources/smoke/nullable/output/android/jni/com_example_smoke_NullableCollectionsStruct__Conversion.cpp
  gluecodium/src/test/resources/smoke/nullable/output/android/jni/com_example_smoke_Nullable_NullableIntsStruct__Conversion.cpp
  gluecodium/src/test/resources/smoke/nullable/output/android/jni/com_example_smoke_Nullable_NullableStruct__Conversion.cpp
  gluecodium/src/test/resources/smoke/structs/output/android/jni/com_example_smoke_Structs_AllTypesStruct__Conversion.cpp
  gluecodium/src/test/resources/smoke/structs/output/android/jni/com_example_smoke_Structs_NestingImmutableStruct__Conversion.cpp
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeExternalDescriptor.kt
Labels: enhancement, java

#427 Add support for Swift "external" types
  .travis.yml
  CHANGELOG.md
  docs/lime_idl.md
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/SwiftExternalTypes.lime
  examples/libhello/src/test/SwiftExternalTypes.cpp
  examples/platforms/ios/Tests/testTests/ExternalTypesTests.swift
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeNameRules.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGenericsGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftEnum.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftStruct.kt
  gluecodium/src/main/java/com/here/gluecodium/model/swift/SwiftType.kt
  gluecodium/src/main/java/com/here/gluecodium/platform/swift/SwiftGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/platform/swift/SwiftTypeRefsCollector.kt
  gluecodium/src/main/resources/templates/swift/Array.mustache
  gluecodium/src/main/resources/templates/swift/Dictionary.mustache
  gluecodium/src/main/resources/templates/swift/Enum.mustache
  gluecodium/src/main/resources/templates/swift/EnumConversion.mustache
  gluecodium/src/main/resources/templates/swift/File.mustache
  gluecodium/src/main/resources/templates/swift/Set.mustache
  gluecodium/src/main/resources/templates/swift/Struct.mustache
  gluecodium/src/main/resources/templates/swift/StructConversion.mustache
  gluecodium/src/test/resources/smoke/external_types/input/SwiftExternalTypes.lime
  gluecodium/src/test/resources/smoke/external_types/output/cbridge/src/smoke/cbridge_UseSwiftExternalTypes.cpp
  gluecodium/src/test/resources/smoke/external_types/output/swift/Collections.swift
  gluecodium/src/test/resources/smoke/external_types/output/swift/Dictionaries.swift
  gluecodium/src/test/resources/smoke/external_types/output/swift/Sets.swift
  gluecodium/src/test/resources/smoke/external_types/output/swift/smoke/DateInterval.swift
  gluecodium/src/test/resources/smoke/external_types/output/swift/smoke/URLCredential.Persistence.swift
  gluecodium/src/test/resources/smoke/external_types/output/swift/smoke/UseSwiftExternalTypes.swift
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeExternalDescriptor.kt
Labels: swift

#428 Add support for Dart "external" types
  CHANGELOG.md
  docs/lime_idl.md
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/DartExternalTypes.lime
  examples/libhello/src/test/DartExternalTypes.cpp
  examples/platforms/dart/test/ExternalTypes_test.dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportResolver.kt
  gluecodium/src/main/resources/templates/dart/DartEnumeration.mustache
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/test/resources/smoke/external_types/input/DartExternalTypes.lime
  gluecodium/src/test/resources/smoke/external_types/output/dart/ffi/ffi_smoke_UseDartExternalTypes.cpp
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/generic_types__conversion.dart
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/smoke/http_client_response_compression_state.dart
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/smoke/rectangle_int_.dart
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/smoke/use_dart_external_types.dart
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeExternalDescriptor.kt
Labels: dart

#429 Deprecate @Java(Builder) attribute
  CHANGELOG.md
  docs/lime_idl.md
  gluecodium/src/main/java/com/here/gluecodium/validator/LimeDeprecationsValidator.kt
Labels: java

#431 Add extra sources dirs to compileJava.gradle script
  cmake/modules/gluecodium/java/Compile.cmake
  cmake/modules/gluecodium/java/runCompile.cmake
Labels: cmake

#438 Add @immutable attribute in Dart
  CHANGELOG.md
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/types_with_defaults.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/structs.dart
Labels: dart

#440 Refactor method qualifiers in Java model
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaModelBuilder.kt
  gluecodium/src/main/java/com/here/gluecodium/model/java/JavaClass.kt
  gluecodium/src/main/java/com/here/gluecodium/model/java/JavaExceptionClass.kt
  gluecodium/src/main/java/com/here/gluecodium/model/java/JavaMethod.kt
  gluecodium/src/main/java/com/here/gluecodium/model/java/JavaTopLevelElement.kt
  gluecodium/src/main/resources/templates/java/Class.mustache
  gluecodium/src/main/resources/templates/java/ExceptionDefinition.mustache
  gluecodium/src/main/resources/templates/java/MethodSignature.mustache
  gluecodium/src/test/java/com/here/gluecodium/generator/java/JavaModelBuilderContainersTest.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/java/JavaModelBuilderTest.kt
Labels: java

#442 Fix linking issue in JNI
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/platform/android/JavaGeneratorSuite.kt
  gluecodium/src/test/resources/smoke/external_types/output/android/jni/JniCallJavaMethod.cpp
Labels: bug, java

#441 Fix qualifier order in Java
  gluecodium/src/main/resources/templates/java/Class.mustache
  gluecodium/src/main/resources/templates/java/ExceptionDefinition.mustache
  gluecodium/src/test/resources/smoke/comments/output/android/com/example/smoke/Comments.java
  gluecodium/src/test/resources/smoke/comments/output/android/com/example/smoke/CommentsInterface.java
  gluecodium/src/test/resources/smoke/comments/output/android/com/example/smoke/CommentsLinks.java
  gluecodium/src/test/resources/smoke/comments/output/android/com/example/smoke/DeprecationComments.java
  gluecodium/src/test/resources/smoke/comments/output/android/com/example/smoke/DeprecationCommentsOnly.java
  gluecodium/src/test/resources/smoke/comments/output/android/com/example/smoke/PlatformComments.java
  gluecodium/src/test/resources/smoke/constants/output/android/com/example/smoke/StructConstants.java
  gluecodium/src/test/resources/smoke/constructors/output/android/com/example/smoke/Constructors.java
  gluecodium/src/test/resources/smoke/dates/output/android/com/example/smoke/Dates.java
  gluecodium/src/test/resources/smoke/defaults/output/android/com/example/smoke/DefaultValues.java
  gluecodium/src/test/resources/smoke/enums/output/android/com/example/smoke/Enums.java
  gluecodium/src/test/resources/smoke/equatable/output/android/com/example/smoke/EquatableClass.java
  gluecodium/src/test/resources/smoke/errors/output/android/com/example/smoke/Errors.java
  gluecodium/src/test/resources/smoke/errors/output/android/com/example/smoke/ErrorsInterface.java
  gluecodium/src/test/resources/smoke/external_types/output/android/com/example/smoke/ExternalClass.java
  gluecodium/src/test/resources/smoke/external_types/output/android/com/example/smoke/ExternalInterface.java
  gluecodium/src/test/resources/smoke/external_types/output/android/com/example/smoke/Structs.java
  gluecodium/src/test/resources/smoke/generic_types/output/android/com/example/smoke/GenericTypesWithBasicTypes.java
  gluecodium/src/test/resources/smoke/generic_types/output/android/com/example/smoke/GenericTypesWithCompoundTypes.java
  gluecodium/src/test/resources/smoke/listeners/output/android/com/example/smoke/CalculatorListener.java
  gluecodium/src/test/resources/smoke/locales/output/android/com/example/smoke/Locales.java
  gluecodium/src/test/resources/smoke/method_overloads/output/android/com/example/smoke/MethodOverloads.java
  gluecodium/src/test/resources/smoke/name_rules/output/android/com/example/namerules/NAME_RULES_DROID.java
  gluecodium/src/test/resources/smoke/nesting/output/android/com/example/smoke/LevelOne.java
  gluecodium/src/test/resources/smoke/nesting/output/android/com/example/smoke/NestedReferences.java
  gluecodium/src/test/resources/smoke/nesting/output/android/com/example/smoke/OuterClass.java
  gluecodium/src/test/resources/smoke/nesting/output/android/com/example/smoke/OuterInterface.java
  gluecodium/src/test/resources/smoke/nullable/output/android/com/example/smoke/Nullable.java
  gluecodium/src/test/resources/smoke/packages/output/android/com/example/smoke/off/NestedPackages.java
  gluecodium/src/test/resources/smoke/properties/output/android/com/example/smoke/Properties.java
  gluecodium/src/test/resources/smoke/skip/output/android/com/example/smoke/SkipTypes.java
  gluecodium/src/test/resources/smoke/structs/output/android/com/example/smoke/Structs.java
  gluecodium/src/test/resources/smoke/structs/output/android/com/example/smoke/StructsWithConstantsInterface.java
  gluecodium/src/test/resources/smoke/structs/output/android/com/example/smoke/StructsWithMethodsInterface.java
  gluecodium/src/test/resources/smoke/typedefs/output/android/com/example/smoke/TypeDefs.java
  gluecodium/src/test/resources/smoke/visibility/output/android/com/example/smoke/PublicClass.java
  gluecodium/src/test/resources/smoke/visibility/output/android/com/example/smoke/PublicInterface.java
Labels: java

#449 Use fully-qualified name for Java external types
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaTypeMapper.kt
  gluecodium/src/main/java/com/here/gluecodium/model/java/JavaEnumTypeRef.kt
  gluecodium/src/test/resources/smoke/external_types/output/android/com/example/smoke/UseJavaExternalTypes.java
Labels: java
