Repository heremaps/gluecodium, pull requests merged in 2021-07, with the labels that each got.

#975 Fix `List<@Cpp(Type)Date>` usage in Swift
  functional-tests/functional/input/lime/Dates.lime
  functional-tests/functional/input/src/cpp/Dates.cpp
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGeneratorPredicates.kt
  gluecodium/src/main/resources/templates/swift/ConversionPrefixFrom.mustache
  gluecodium/src/main/resources/templates/swift/ConversionPrefixTo.mustache
  gluecodium/src/main/resources/templates/swift/SwiftLists.mustache
  gluecodium/src/main/resources/templates/swift/SwiftMaps.mustache
  gluecodium/src/main/resources/templates/swift/SwiftSets.mustache
  gluecodium/src/test/resources/smoke/dates/input/Dates.lime
  gluecodium/src/test/resources/smoke/dates/output/android/jni/com_example_smoke_DatesSteady.cpp
  gluecodium/src/test/resources/smoke/dates/output/cbridge/src/GenericCollections.cpp
  gluecodium/src/test/resources/smoke/dates/output/cbridge/src/smoke/cbridge_DatesSteady.cpp
  gluecodium/src/test/resources/smoke/dates/output/cpp/include/smoke/DatesSteady.h
  gluecodium/src/test/resources/smoke/dates/output/dart/ffi/GenericTypesConversion.cpp
  gluecodium/src/test/resources/smoke/dates/output/dart/ffi/ffi_smoke_DatesSteady.cpp
  gluecodium/src/test/resources/smoke/dates/output/dart/lib/src/generic_types__conversion.dart
  gluecodium/src/test/resources/smoke/dates/output/dart/lib/src/smoke/dates_steady.dart
  gluecodium/src/test/resources/smoke/dates/output/lime/smoke/DatesSteady.lime
  gluecodium/src/test/resources/smoke/dates/output/swift/Collections.swift
Labels: bug, swift

#977 Fix double mangling in FfiNameResolver
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiNameResolver.kt
  gluecodium/src/test/resources/smoke/constructors/output/dart/ffi/ffi_smoke_Constructors.cpp
  gluecodium/src/test/resources/smoke/constructors/output/dart/ffi/ffi_smoke_Constructors.h
  gluecodium/src/test/resources/smoke/constructors/output/dart/lib/src/smoke/constructors.dart
  gluecodium/src/test/resources/smoke/dates/output/dart/ffi/ffi_smoke_Dates.cpp
  gluecodium/src/test/resources/smoke/dates/output/dart/ffi/ffi_smoke_DatesSteady.cpp
  gluecodium/src/test/resources/smoke/dates/output/dart/lib/src/smoke/dates.dart
  gluecodium/src/test/resources/smoke/dates/output/dart/lib/src/smoke/dates_steady.dart
  gluecodium/src/test/resources/smoke/escaped_names/output/dart/lib/src/package/class.dart
  gluecodium/src/test/resources/smoke/external_types/output/dart/ffi/ffi_smoke_Enums.cpp
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/smoke/enums.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/generic_types_with_basic_types.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/generic_types_with_compound_types.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/generic_types_with_generic_types.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_Lambdas.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_Lambdas.h
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/lambdas.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_CalculatorListener.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_CalculatorListener.h
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenerWithProperties.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/calculator_listener.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/listener_with_properties.dart
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/ffi/ffi_smoke_MethodOverloads.cpp
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/ffi/ffi_smoke_MethodOverloads.h
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/lib/src/smoke/method_overloads.dart
  gluecodium/src/test/resources/smoke/nullable/output/dart/ffi/ffi_smoke_Nullable.cpp
  gluecodium/src/test/resources/smoke/nullable/output/dart/ffi/ffi_smoke_Nullable.h
  gluecodium/src/test/resources/smoke/nullable/output/dart/lib/src/smoke/nullable.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/ffi/ffi_smoke_Properties.cpp
  gluecodium/src/test/resources/smoke/properties/output/dart/ffi/ffi_smoke_Properties.h
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/properties.dart
  gluecodium/src/test/resources/smoke/typedefs/output/dart/ffi/ffi_smoke_TypeDefs.cpp
  gluecodium/src/test/resources/smoke/typedefs/output/dart/lib/src/smoke/type_defs.dart
Labels: dart

#978 Fix `List<@Cpp(Type)Date>` usage in Dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiNameResolver.kt
  gluecodium/src/main/resources/templates/dart/DartBuiltInTypesConversion.mustache
  gluecodium/src/main/resources/templates/ffi/FfiConversionBase.mustache
  gluecodium/src/test/resources/smoke/basic_types/output/dart/lib/src/builtin_types__conversion.dart
  gluecodium/src/test/resources/smoke/dates/output/dart/ffi/GenericTypesConversion.cpp
  gluecodium/src/test/resources/smoke/dates/output/dart/ffi/ffi_smoke_DatesSteady.cpp
  gluecodium/src/test/resources/smoke/dates/output/dart/lib/src/generic_types__conversion.dart
  gluecodium/src/test/resources/smoke/dates/output/dart/lib/src/smoke/dates_steady.dart
  gluecodium/src/test/resources/smoke/nullable/output/dart/ffi/NullableHandles.cpp
  gluecodium/src/test/resources/smoke/nullable/output/dart/ffi/NullableHandles.h
Labels: bug, dart

#974 Add to_string helper for C++ enums (#550)
  CHANGELOG.md
  docs/lime_idl.md
  functional-tests/functional/cpp/CMakeLists.txt
  functional-tests/functional/cpp/tests/EnumTest.cpp
  functional-tests/functional/input/lime/Enums.lime
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppIncludeResolver.kt
  gluecodium/src/main/resources/templates/cpp/CppEnumeration.mustache
  gluecodium/src/main/resources/templates/cpp/CppEnumerationImpl.mustache
  gluecodium/src/test/resources/smoke/enums/input/Enums.lime
  gluecodium/src/test/resources/smoke/enums/output/cpp/include/smoke/EnumWithToStringHelper.h
  gluecodium/src/test/resources/smoke/enums/output/cpp/src/smoke/EnumWithToStringHelper.cpp
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeConverter.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeAttributeValueType.kt
Labels: c++, enhancement

#981 Add `Duration` types support for C++
  docs/lime_idl.md
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/input/lime/Durations.lime
  functional-tests/functional/input/src/cpp/Durations.cpp
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/FfiApiTypeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/FfiDartTypeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniTypeSignatureNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftNameResolver.kt
  gluecodium/src/main/resources/templates/cpp/common/DurationHash.mustache
  gluecodium/src/test/resources/smoke/durations/input/Durations.lime
  gluecodium/src/test/resources/smoke/durations/output/cpp/include/smoke/DurationMilliseconds.h
  gluecodium/src/test/resources/smoke/durations/output/cpp/include/smoke/DurationSeconds.h
  gluecodium/src/test/resources/smoke/durations/output/lime/smoke/DurationMilliseconds.lime
  gluecodium/src/test/resources/smoke/durations/output/lime/smoke/DurationSeconds.lime
  lime-loader/src/main/antlr/LimeLexer.g4
  lime-loader/src/main/antlr/LimeParser.g4
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrTypeMapper.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeBasicType.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeList.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeMap.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeSet.kt
  tools/Lime_IDL_file_type_for_IntelliJ.jar
Labels: c++, enhancement

#982 Add `Duration` types support for Java
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/android/src/test/java/com/here/android/test/DurationsTest.java
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaImportResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniTypeSignatureNameResolver.kt
  gluecodium/src/main/resources/templates/jni/utils/FieldAccessMethodsHeader.mustache
  gluecodium/src/main/resources/templates/jni/utils/JniCppConversionUtilsHeader.mustache
  gluecodium/src/test/resources/smoke/durations/output/android/com/example/smoke/DurationMilliseconds.java
  gluecodium/src/test/resources/smoke/durations/output/android/com/example/smoke/DurationSeconds.java
  gluecodium/src/test/resources/smoke/durations/output/android/jni/com_example_smoke_DurationMilliseconds.cpp
  gluecodium/src/test/resources/smoke/durations/output/android/jni/com_example_smoke_DurationSeconds.cpp
Labels: enhancement, java

#983 Add `Duration` types support for Swift
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/swift/Tests/DurationsTests.swift
  functional-tests/functional/swift/main.swift
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGeneratorPredicates.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftNameResolver.kt
  gluecodium/src/main/resources/templates/cbridge/common/BaseHandleImpl.mustache
  gluecodium/src/main/resources/templates/swift/ConversionPrefixFrom.mustache
  gluecodium/src/main/resources/templates/swift/ConversionPrefixTo.mustache
  gluecodium/src/main/resources/templates/swift/SwiftLists.mustache
  gluecodium/src/main/resources/templates/swift/SwiftMaps.mustache
  gluecodium/src/main/resources/templates/swift/SwiftSets.mustache
  gluecodium/src/test/resources/smoke/durations/output/cbridge/include/GenericCollections.h
  gluecodium/src/test/resources/smoke/durations/output/cbridge/include/smoke/cbridge_DurationMilliseconds.h
  gluecodium/src/test/resources/smoke/durations/output/cbridge/include/smoke/cbridge_DurationSeconds.h
  gluecodium/src/test/resources/smoke/durations/output/cbridge/src/GenericCollections.cpp
  gluecodium/src/test/resources/smoke/durations/output/cbridge/src/smoke/cbridge_DurationMilliseconds.cpp
  gluecodium/src/test/resources/smoke/durations/output/cbridge/src/smoke/cbridge_DurationSeconds.cpp
  gluecodium/src/test/resources/smoke/durations/output/swift/Collections.swift
  gluecodium/src/test/resources/smoke/durations/output/swift/Dictionaries.swift
  gluecodium/src/test/resources/smoke/durations/output/swift/Sets.swift
  gluecodium/src/test/resources/smoke/durations/output/swift/smoke/DurationMilliseconds.swift
  gluecodium/src/test/resources/smoke/durations/output/swift/smoke/DurationSeconds.swift
Labels: enhancement, swift

#984 Add `Duration` types support for Dart
  CHANGELOG.md
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/dart/main.dart
  functional-tests/functional/dart/test/Durations_test.dart
  gluecodium/src/main/java/com/here/gluecodium/generator/common/CamelCaseNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/FfiApiTypeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/FfiDartTypeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiNameResolver.kt
  gluecodium/src/main/resources/templates/dart/DartBuiltInTypesConversion.mustache
  gluecodium/src/main/resources/templates/ffi/FfiConversionBase.mustache
  gluecodium/src/test/resources/smoke/basic_types/output/dart/lib/src/builtin_types__conversion.dart
  gluecodium/src/test/resources/smoke/durations/output/dart/ffi/ffi_smoke_DurationMilliseconds.cpp
  gluecodium/src/test/resources/smoke/durations/output/dart/ffi/ffi_smoke_DurationSeconds.cpp
  gluecodium/src/test/resources/smoke/durations/output/dart/lib/src/smoke/duration_milliseconds.dart
  gluecodium/src/test/resources/smoke/durations/output/dart/lib/src/smoke/duration_seconds.dart
Labels: dart, enhancement

#987 Move function skipping from templates to generators
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGenerator.kt
  gluecodium/src/main/resources/templates/java/JavaClass.mustache
  gluecodium/src/main/resources/templates/java/JavaFunction.mustache
  gluecodium/src/main/resources/templates/java/JavaImplClass.mustache
  gluecodium/src/main/resources/templates/java/JavaInterface.mustache
  gluecodium/src/main/resources/templates/java/JavaStruct.mustache
  gluecodium/src/main/resources/templates/swift/CommonClassParts.mustache
  gluecodium/src/main/resources/templates/swift/GetReference.mustache
  gluecodium/src/main/resources/templates/swift/SwiftClassDefinition.mustache
  gluecodium/src/main/resources/templates/swift/SwiftInterfaceDefinition.mustache
  gluecodium/src/main/resources/templates/swift/SwiftStructDefinition.mustache
  lime-runtime/src/main/java/com/here/gluecodium/common/LimeModelSkipPredicates.kt
Labels: java, swift

#988 Add support for in-platform tag-skipping in Java
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/android/src/test/java/com/here/android/test/SkipElementTest.java
  functional-tests/functional/input/lime/SkipTagsInPlatform.lime
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniGeneratorPredicates.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniTemplates.kt
  gluecodium/src/main/resources/templates/jni/CppProxyImplementation.mustache
  gluecodium/src/main/resources/templates/jni/Header.mustache
  gluecodium/src/main/resources/templates/jni/Implementation.mustache
  gluecodium/src/test/resources/smoke/skip/input/SkipTagsInPlatform.lime
  gluecodium/src/test/resources/smoke/skip/output/android/com/example/smoke/SkipTagsInJava.java
  gluecodium/src/test/resources/smoke/skip/output/android/jni/com_example_smoke_SkipTagsInJavaImplCppProxy.cpp
  lime-runtime/src/main/java/com/here/gluecodium/common/LimeModelSkipPredicates.kt
Labels: enhancement, java

#989 Add support for in-platform tag-skipping in Swift
  functional-tests/functional/input/lime/SkipTagsInPlatform.lime
  functional-tests/functional/swift/Tests/SkipElementTests.swift
  functional-tests/functional/swift/main.swift
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeGeneratorPredicates.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGenerator.kt
  gluecodium/src/main/resources/templates/cbridge/CBridgeClassHeader.mustache
  gluecodium/src/main/resources/templates/cbridge/CBridgeClassImpl.mustache
  gluecodium/src/main/resources/templates/cbridge/CBridgeCppProxy.mustache
  gluecodium/src/main/resources/templates/cbridge/CBridgeStructHeader.mustache
  gluecodium/src/main/resources/templates/cbridge/CBridgeStructImpl.mustache
  gluecodium/src/test/resources/smoke/skip/input/SkipTagsInPlatform.lime
  gluecodium/src/test/resources/smoke/skip/output/cbridge/src/smoke/cbridge_SkipTagsInSwift.cpp
  gluecodium/src/test/resources/smoke/skip/output/swift/smoke/SkipTagsInSwift.swift
Labels: enhancement, swift

#990 Add support for in-platform tag-skipping in Dart
  CHANGELOG.md
  docs/lime_idl.md
  functional-tests/functional/dart/main.dart
  functional-tests/functional/dart/test/SkipElement_test.dart
  functional-tests/functional/input/lime/SkipTagsInPlatform.lime
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGenerator.kt
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/main/resources/templates/ffi/FfiProxyDeclaration.mustache
  gluecodium/src/test/resources/smoke/skip/input/SkipTagsInPlatform.lime
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_SkipTagsInDart.cpp
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/skip_tags_in_dart.dart
Labels: dart, enhancement

#995 Suppress Dart warning about deprecation in an enum
  CHANGELOG.md
  gluecodium/src/main/resources/templates/dart/DartEnumeration.mustache
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/deprecation_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/deprecation_comments_only.dart
Labels: dart

#1004 Adds option GLUECODIUM_STUBS to generate stubs for dart
  cmake/modules/gluecodium/gluecodium/KnownOptionalProperties.cmake
  cmake/modules/gluecodium/gluecodium/details/runGenerate.cmake
  cmake/tests/unit/gluecodium_generate/stubs-for-dart/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/stubs-for-dart/lime/foo.lime
Labels: cmake

#1008 Fix `SKIP` attribute misuse
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeGeneratorPredicates.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeHeaderIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeImplIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/common/GenericImportsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaImportCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniGeneratorPredicates.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniIncludeCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniTemplates.kt
  gluecodium/src/test/resources/smoke/skip/input/OtherPackage.lime
  gluecodium/src/test/resources/smoke/skip/input/SkipTagsIncludes.lime
  gluecodium/src/test/resources/smoke/skip/output/android/com/example/smoke/SomeSkippedClass.java
  gluecodium/src/test/resources/smoke/skip/output/android/jni/com_example_smoke_SomeSkippedClass.cpp
  gluecodium/src/test/resources/smoke/skip/output/cbridge/src/smoke/cbridge_SomeSkippedClass.cpp
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/generic_types__conversion.dart
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/some_skipped_struct.dart
Labels: bug

#1007 Fix Java compilation for nullabe unsigned ints
  CHANGELOG.md
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/input/lime/Nullability.lime
  functional-tests/functional/input/src/cpp/NullableInterfaceImpl.cpp
  functional-tests/functional/input/src/cpp/NullableInterfaceImpl.h
  gluecodium/src/main/resources/templates/jni/utils/BoxingConversionUtilsHeader.mustache
Labels: bug, java

#1010 Refactors tests to specify generators once
  cmake/tests/unit/get_linked_targets_with_generated_sources/get_linked_targets_with_generated_sources/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/cpp-export/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/relative-paths/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/shared-modules-depend-on-object-libs/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/single-module-mandatory-params/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/two-interface-libs-in-one-module/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/two-object-libs-in-one-module/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/two-shared-modules/CMakeLists.txt
  cmake/tests/unit/gluecodium_list_generated_files/gluecodium_list_generated_files/CMakeLists.txt
  cmake/tests/utils/get_supported_gluecodium_generators.cmake
Labels: cmake

#1015 Explicitly export IsolateContext class in Dart FFI
  CHANGELOG.md
  gluecodium/src/main/resources/templates/ffi/FfiIsolateContextHeader.mustache
Labels: bug, dart

#1014 Refactors to extract function to create default generate target
  cmake/modules/gluecodium/gluecodium/Generate.cmake
  cmake/modules/gluecodium/gluecodium/details/CreateDefaultGenerateTarget.cmake
Labels: cmake

#1011 Adds dart generator to tests if it's supported
  cmake/modules/gluecodium/gluecodium/AddGenerateCommand.cmake
  cmake/modules/gluecodium/gluecodium/KnownOptionalProperties.cmake
  cmake/modules/gluecodium/gluecodium/details/runGenerate.cmake
  cmake/tests/unit/gluecodium_generate/internal-prefix/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/internal-prefix/cpp/FooImpl.cpp
  cmake/tests/unit/gluecodium_generate/internal-prefix/lime/foo.lime
  cmake/tests/utils/get_supported_gluecodium_generators.cmake
Labels: cmake

#1017 Sort Dart library exports alphabetically
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGenerator.kt
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/smoke.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/smoke.dart
Labels: bug, dart

#1020 Adds cmake function to help generate stubs
  cmake/modules/gluecodium/Gluecodium.cmake
  cmake/modules/gluecodium/gluecodium/AddGenerateCommand.cmake
  cmake/modules/gluecodium/gluecodium/GenerateStubs.cmake
  cmake/tests/run_tests.cmake
  cmake/tests/unit/gluecodium_generate_stubs/missing-FOR_TARGET-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate_stubs/missing-FOR_TARGET-XFAIL/successful.regex
  cmake/tests/unit/gluecodium_generate_stubs/single-module/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate_stubs/single-module/cpp/FooImpl.cpp
  cmake/tests/unit/gluecodium_generate_stubs/single-module/lime/bar.lime
  cmake/tests/unit/gluecodium_generate_stubs/single-module/lime/foo.lime
  cmake/tests/unit/gluecodium_generate_stubs/single-module/test_parameters/explicit-output-dir.txt
  cmake/tests/unit/gluecodium_generate_stubs/single-module/test_parameters/global-output-dir.txt
  cmake/tests/unit/gluecodium_generate_stubs/single-module/test_parameters/global-stubs-has-precedence-over.txt
  cmake/tests/unit/gluecodium_generate_stubs/single-module/test_parameters/global-stubs-output-dir.txt
  cmake/tests/unit/gluecodium_generate_stubs/single-module/test_parameters/no-genex-eval.txt
  cmake/tests/unit/gluecodium_generate_stubs/single-module/test_parameters/no-parameters.txt
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/cpp/CommonMainFooImpl.cpp
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/cpp/Dummy.h
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/cpp/MainBarImpl.cpp
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/lime/common_main_foo.lime
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/lime/main_bar.lime
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/test_parameters/no-genex-eval.txt
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/test_parameters/no-genex-filter.txt
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/test_parameters/no-parameters.txt
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/test_parameters/visibility-preset-hidden.txt
  cmake/tests/unit/gluecodium_generate_stubs/unparsed-options-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate_stubs/unparsed-options-XFAIL/successful.regex
  cmake/tests/utils/check_stored_gluecodium_property.cmake
  cmake/tests/utils/run_check_property.cmake
Labels: cmake

#1023 Revert "Suppress Dart warning about deprecation in an enum (#995)"
  CHANGELOG.md
  gluecodium/src/main/resources/templates/dart/DartEnumeration.mustache
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/deprecation_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/deprecation_comments_only.dart
Labels: dart
