Repository heremaps/gluecodium, pull requests merged in 2021-02, with the labels that each got.

#736 Adds build interface for public sources
  cmake/modules/gluecodium/gluecodium/TargetLimeSources.cmake
Labels: bug, cmake

#737 Fixes cmake formatting
  cmake/modules/gluecodium/swift/TargetLinkFrameworks.cmake
Labels: cmake

#735 Disable functional swift tests in Apple environment
  cmake/modules/gluecodium/obsolete/swift/Compile.cmake
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/swift/Tests/ExternalTypesTests.swift
  functional-tests/functional/swift/main.swift
Labels: bug, swift

#739 Remove `@Swift(ObjC)` IDL attribute
  CHANGELOG.md
  docs/lime_idl.md
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/input/lime/ObjcInterface.lime
  gluecodium/src/main/java/com/here/gluecodium/validator/LimeDeprecationsValidator.kt
  gluecodium/src/main/resources/templates/swift/SwiftClassDefinition.mustache
  gluecodium/src/main/resources/templates/swift/SwiftInterfaceDefinition.mustache
  gluecodium/src/test/resources/smoke/objc_interface/input/ObjcInterface.lime
  gluecodium/src/test/resources/smoke/objc_interface/output/lime/smoke/ObjcChildClass.lime
  gluecodium/src/test/resources/smoke/objc_interface/output/lime/smoke/ObjcChildInterface.lime
  gluecodium/src/test/resources/smoke/objc_interface/output/lime/smoke/ObjcClass.lime
  gluecodium/src/test/resources/smoke/objc_interface/output/lime/smoke/ObjcImplementerClass.lime
  gluecodium/src/test/resources/smoke/objc_interface/output/lime/smoke/ObjcInterface.lime
  gluecodium/src/test/resources/smoke/objc_interface/output/swift/smoke/ObjcChildClass.swift
  gluecodium/src/test/resources/smoke/objc_interface/output/swift/smoke/ObjcChildInterface.swift
  gluecodium/src/test/resources/smoke/objc_interface/output/swift/smoke/ObjcClass.swift
  gluecodium/src/test/resources/smoke/objc_interface/output/swift/smoke/ObjcImplementerClass.swift
  gluecodium/src/test/resources/smoke/objc_interface/output/swift/smoke/ObjcInterface.swift
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeConverter.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeAttributeValueType.kt
Labels: swift

#740 Fix SwiftLint warnings
  functional-tests/functional/swift/Tests/ArraysTests.swift
  functional-tests/functional/swift/Tests/AttributesTests.swift
  functional-tests/functional/swift/Tests/EnumsTests.swift
  functional-tests/functional/swift/Tests/PodTypeCollectionsTests.swift
  functional-tests/functional/swift/Tests/SerializationTests.swift
  functional-tests/functional/swift/XCTMain.swift
  functional-tests/functional/swift/main.swift
Labels: swift

#724 Add multiple inheritance support to LIME IDL
  gluecodium/src/main/java/com/here/gluecodium/generator/lime/LimeGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/validator/LimeInheritanceValidator.kt
  gluecodium/src/main/resources/templates/lime/LimeClass.mustache
  gluecodium/src/main/resources/templates/lime/LimeInterface.mustache
  gluecodium/src/test/java/com/here/gluecodium/validator/LimeInheritanceValidatorTest.kt
  gluecodium/src/test/java/com/here/gluecodium/validator/LimePropertiesValidatorTest.kt
  gluecodium/src/test/java/com/here/gluecodium/validator/LimeTypeRefsValidatorTest.kt
  gluecodium/src/test/resources/smoke/multiple_inheritance/input/MultipleInheritance.lime
  gluecodium/src/test/resources/smoke/multiple_inheritance/output/lime/smoke/ClassWithAllParents.lime
  gluecodium/src/test/resources/smoke/multiple_inheritance/output/lime/smoke/ClassWithInterfaceParents.lime
  gluecodium/src/test/resources/smoke/multiple_inheritance/output/lime/smoke/ClassWithMixedParents.lime
  gluecodium/src/test/resources/smoke/multiple_inheritance/output/lime/smoke/InterfaceWithAllParents.lime
  lime-loader/src/main/antlr/LimeParser.g4
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeModelBuilder.kt
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeModelBuilderBase.kt
  lime-runtime/src/main/java/com/here/gluecodium/common/LimeModelFilter.kt
  lime-runtime/src/main/java/com/here/gluecodium/common/LimeTypeRefsVisitor.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeClass.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeContainerWithInheritance.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeInterface.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeSignatureResolver.kt
Labels: enhancement

#742 Add support for multiple inheritance to C++ generator
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/input/lime/MultipleInheritance.lime
  functional-tests/functional/input/src/cpp/MultipleInheritance.cpp
  gluecodium/src/main/java/com/here/gluecodium/generator/common/CommonGeneratorPredicates.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppGeneratorSuite.kt
  gluecodium/src/main/resources/templates/cpp/CppClass.mustache
  gluecodium/src/main/resources/templates/cpp/CppClassImpl.mustache
  gluecodium/src/test/resources/smoke/multiple_inheritance/output/cpp/include/smoke/ClassWithAllParents.h
  gluecodium/src/test/resources/smoke/multiple_inheritance/output/cpp/include/smoke/ClassWithInterfaceParents.h
  gluecodium/src/test/resources/smoke/multiple_inheritance/output/cpp/include/smoke/ClassWithMixedParents.h
  gluecodium/src/test/resources/smoke/multiple_inheritance/output/cpp/include/smoke/InterfaceWithAllParents.h
Labels: c++, enhancement

#747 Add non-empty "internal prefix" option to all smoke tests
  gluecodium/src/main/java/com/here/gluecodium/Gluecodium.kt
  gluecodium/src/test/java/com/here/gluecodium/GluecodiumIntegrationTest.kt
  gluecodium/src/test/java/com/here/gluecodium/SmokeTest.kt
  gluecodium/src/test/resources/smoke/constants/output/cbridge/src/GenericCollections.cpp
  gluecodium/src/test/resources/smoke/constructors/output/dart/lib/src/smoke/constructors.dart
  gluecodium/src/test/resources/smoke/constructors/output/swift/smoke/Constructors.swift
  gluecodium/src/test/resources/smoke/equatable/output/dart/lib/src/smoke/equatable.dart
  gluecodium/src/test/resources/smoke/equatable/output/dart/lib/src/smoke/equatable_struct_with_internal_fields.dart
  gluecodium/src/test/resources/smoke/equatable/output/swift/smoke/Equatable.swift
  gluecodium/src/test/resources/smoke/escaped_names/output/dart/lib/src/package/class.dart
  gluecodium/src/test/resources/smoke/escaped_names/output/swift/package/Class.swift
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/generic_types__conversion.dart
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/smoke/structs.dart
  gluecodium/src/test/resources/smoke/external_types/output/swift/Collections.swift
  gluecodium/src/test/resources/smoke/external_types/output/swift/Dictionaries.swift
  gluecodium/src/test/resources/smoke/external_types/output/swift/Sets.swift
  gluecodium/src/test/resources/smoke/external_types/output/swift/smoke/Structs.swift
  gluecodium/src/test/resources/smoke/generic_types/input/commandlineoptions.txt
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/lambdas.dart
  gluecodium/src/test/resources/smoke/lambdas/output/swift/smoke/Lambdas.swift
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/calculator_listener.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/listener_with_properties.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/listeners_with_return_values.dart
  gluecodium/src/test/resources/smoke/listeners/output/swift/smoke/CalculatorListener.swift
  gluecodium/src/test/resources/smoke/listeners/output/swift/smoke/ListenerWithProperties.swift
  gluecodium/src/test/resources/smoke/listeners/output/swift/smoke/ListenersWithReturnValues.swift
  gluecodium/src/test/resources/smoke/locales/output/cbridge/src/GenericCollections.cpp
  gluecodium/src/test/resources/smoke/locales/output/dart/ffi/GenericTypesConversion.cpp
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/lib/src/smoke/method_overloads.dart
  gluecodium/src/test/resources/smoke/method_overloads/output/swift/smoke/MethodOverloads.swift
  gluecodium/src/test/resources/smoke/method_overloads/output/swift/smoke/SwiftMethodOverloads.swift
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/outer_struct.dart
  gluecodium/src/test/resources/smoke/nesting/output/swift/smoke/OuterStruct.swift
  gluecodium/src/test/resources/smoke/nullable/output/cbridge/include/GenericCollections.h
  gluecodium/src/test/resources/smoke/nullable/output/cbridge/src/GenericCollections.cpp
  gluecodium/src/test/resources/smoke/nullable/output/dart/lib/src/generic_types__conversion.dart
  gluecodium/src/test/resources/smoke/nullable/output/dart/lib/src/smoke/nullable.dart
  gluecodium/src/test/resources/smoke/nullable/output/swift/Collections.swift
  gluecodium/src/test/resources/smoke/nullable/output/swift/smoke/Nullable.swift
  gluecodium/src/test/resources/smoke/nullable/output/swift/smoke/NullableCollectionsStruct.swift
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/cached_properties.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/properties.dart
  gluecodium/src/test/resources/smoke/properties/output/swift/smoke/CachedProperties.swift
  gluecodium/src/test/resources/smoke/properties/output/swift/smoke/Properties.swift
  gluecodium/src/test/resources/smoke/serialization/output/swift/smoke/Serialization.swift
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/structs.dart
  gluecodium/src/test/resources/smoke/structs/output/swift/smoke/Structs.swift
  gluecodium/src/test/resources/smoke/structs/output/swift/smoke/StructsWithConstantsInterface.swift
  gluecodium/src/test/resources/smoke/typedefs/output/cbridge/include/GenericCollections.h
  gluecodium/src/test/resources/smoke/typedefs/output/dart/lib/src/smoke/type_defs.dart
  gluecodium/src/test/resources/smoke/typedefs/output/swift/smoke/TypeDefs.swift
Labels: dart, swift

#753 Generate conversion functions for AUX types in Swift
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGeneratorSuite.kt
  gluecodium/src/main/resources/templates/swift/SwiftClassConversion.mustache
  gluecodium/src/main/resources/templates/swift/SwiftClassDefinition.mustache
  gluecodium/src/main/resources/templates/swift/SwiftEnumDefinition.mustache
  gluecodium/src/main/resources/templates/swift/SwiftInterfaceDefinition.mustache
  gluecodium/src/main/resources/templates/swift/SwiftLambdaDefinition.mustache
  gluecodium/src/main/resources/templates/swift/SwiftStructDefinition.mustache
  gluecodium/src/test/resources/smoke/aux_conversions/auxiliary/AuxConversionsAux.lime
  gluecodium/src/test/resources/smoke/aux_conversions/input/AuxConversionsMain.lime
  gluecodium/src/test/resources/smoke/aux_conversions/output/swift/smoke/AuxClass.swift
  gluecodium/src/test/resources/smoke/aux_conversions/output/swift/smoke/AuxEnum.swift
  gluecodium/src/test/resources/smoke/aux_conversions/output/swift/smoke/AuxInterface.swift
  gluecodium/src/test/resources/smoke/aux_conversions/output/swift/smoke/AuxStruct.swift
Labels: swift

#757 Fix "moveToCType" usage in Swift
  CHANGELOG.md
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/input/lime/NullableCollections.lime
  functional-tests/functional/input/src/cpp/NullableCollections.cpp
  functional-tests/functional/swift/Tests/NullableCollectionsTests.swift
  functional-tests/functional/swift/main.swift
  gluecodium/src/main/resources/templates/swift/SwiftLambdaConversion.mustache
  gluecodium/src/main/resources/templates/swift/SwiftLists.mustache
  gluecodium/src/main/resources/templates/swift/SwiftSets.mustache
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/Comments.swift
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/ExcludedComments.swift
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/ExcludedCommentsOnly.swift
  gluecodium/src/test/resources/smoke/external_types/output/swift/Collections.swift
  gluecodium/src/test/resources/smoke/external_types/output/swift/Sets.swift
  gluecodium/src/test/resources/smoke/generic_types/output/swift/Collections.swift
  gluecodium/src/test/resources/smoke/generic_types/output/swift/Sets.swift
  gluecodium/src/test/resources/smoke/lambdas/output/swift/smoke/Lambdas.swift
  gluecodium/src/test/resources/smoke/lambdas/output/swift/smoke/LambdasInterface.swift
  gluecodium/src/test/resources/smoke/lambdas/output/swift/smoke/LambdasWithStructuredTypes.swift
  gluecodium/src/test/resources/smoke/nullable/output/swift/Collections.swift
Labels: bug, swift

#760 Add CI job for running Swift functional tests on a Mac
  .github/workflows/functional-tests.yml
  docs/lime_idl.md
  functional-tests/functional/swift/Tests/LocalesTests.swift
  functional-tests/functional/swift/Tests/SerializationTests.swift
Labels: ci, swift

#762 Adds option to choose cmake generator to build Swift functional tests
  functional-tests/scripts/build-swift-functional
Labels: cmake, swift

#766 Add "swift expose internals" command line option
  CHANGELOG.md
  cmake/.cmake-format.py
  cmake/modules/gluecodium/obsolete/gluecodium/Generate.cmake
  gluecodium/src/main/java/com/here/gluecodium/Gluecodium.kt
  gluecodium/src/main/java/com/here/gluecodium/cli/OptionReader.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGeneratorSuite.kt
  gluecodium/src/main/resources/swift/RefHolder.swift
  gluecodium/src/main/resources/templates/swift/GetReference.mustache
  gluecodium/src/main/resources/templates/swift/RefHolder.mustache
  gluecodium/src/main/resources/templates/swift/SwiftClassConversion.mustache
  gluecodium/src/main/resources/templates/swift/SwiftEnumConversion.mustache
  gluecodium/src/main/resources/templates/swift/SwiftLambdaConversion.mustache
  gluecodium/src/main/resources/templates/swift/SwiftStructConversion.mustache
  gluecodium/src/test/resources/smoke/expose_internals/input/ExposeInternals.lime
  gluecodium/src/test/resources/smoke/expose_internals/input/commandlineoptions.txt
  gluecodium/src/test/resources/smoke/expose_internals/output/swift/RefHolder.swift
  gluecodium/src/test/resources/smoke/expose_internals/output/swift/smoke/ExposeClass.swift
  gluecodium/src/test/resources/smoke/expose_internals/output/swift/smoke/ExposeEnum.swift
  gluecodium/src/test/resources/smoke/expose_internals/output/swift/smoke/ExposeInterface.swift
  gluecodium/src/test/resources/smoke/expose_internals/output/swift/smoke/ExposeStruct.swift
  gluecodium/src/test/resources/smoke/instances/output/swift/RefHolder.swift
Labels: swift

#767 Adds support for 'swiftexpose' option in CMake
  cmake/modules/gluecodium/gluecodium/KnownOptionalProperties.cmake
  cmake/modules/gluecodium/gluecodium/details/runGenerate.cmake
Labels: cmake

#765 Adds supports for Swift executables in cmake
  cmake/.cmake-format.py
  cmake/modules/gluecodium/gluecodium/TargetGeneratedSources.cmake
  cmake/modules/gluecodium/swift/TargetAddModuleModulemap.cmake
  cmake/modules/gluecodium/swift/TargetCopySwiftSources.cmake
  cmake/modules/gluecodium/swift/TargetSwiftSources.cmake
  cmake/tests/unit/gluecodium_target_add_module_modulemap/single-executable/CMakeLists.txt
  cmake/tests/unit/gluecodium_target_add_module_modulemap/single-executable/cpp/FooImpl.cpp
  cmake/tests/unit/gluecodium_target_add_module_modulemap/single-executable/lime/foo.lime
  cmake/tests/unit/gluecodium_target_add_module_modulemap/single-executable/swift/main.swift
Labels: cmake

#770 Update CMake version to 3.19 for all CI jobs
  .github/workflows/functional-tests.yml
Labels: ci

#771 Fixes error message and output folder deduction in cmake
  cmake/modules/gluecodium/gluecodium/AddGenerateCommand.cmake
  cmake/modules/gluecodium/gluecodium/details/ReadRequiredProperties.cmake
  cmake/tests/unit/gluecodium_read_required_properties/gluecodium_generate-not-called-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_read_required_properties/gluecodium_generate-not-called-XFAIL/successful.regex
  cmake/tests/unit/gluecodium_read_required_properties/gluecodium_read_required_properties/CMakeLists.txt
  cmake/tests/unit/gluecodium_read_required_properties/wrong-target-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_read_required_properties/wrong-target-XFAIL/successful.regex
Labels: cmake

#772 Removes additional unrelated check while traversiong linked targets
  cmake/modules/gluecodium/gluecodium/details/GetLinkedTargets.cmake
  cmake/tests/unit/get_linked_targets_with_generated_sources/get_linked_targets_with_generated_sources/CMakeLists.txt
Labels: cmake

#775 Upgrade Dart version to 2.10.5 (latest stable) on CI
  .github/workflows/functional-tests.yml
Labels: ci

#774 Uses ctest to run dart tests
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/dart/CMakeLists.txt
  functional-tests/functional/dart/main.dart
  functional-tests/functional/dart/test/CallbacksMultithreaded_test.dart
  functional-tests/scripts/build-dart-functional
Labels: ci, cmake

#776 Introduces CMake module FindDartLang.cmake
  cmake/modules/FindDartLang.cmake
  cmake/modules/gluecodium/gluecodium/details/FindPackageHost.cmake
  cmake/tests/unit/gluecodium_find_package_host/gluecodium_find_package_host/CMakeLists.txt
Labels: cmake, dart

#777 Fixes formatting in cmake functions which read properties
  cmake/modules/gluecodium/gluecodium/details/ReadRequiredProperties.cmake
  cmake/tests/unit/gluecodium_read_required_properties/gluecodium_read_required_properties/CMakeLists.txt
Labels: cmake

#779 Copy Dart SDK include dir for memchecked build on CI
  .github/workflows/functional-tests.yml
Labels: ci, dart

#778 Finds Dart in cmake includes for dart generator
  cmake/modules/gluecodium/gluecodium/TargetIncludeDirectories.cmake
  cmake/modules/gluecodium/obsolete/gluecodium/TargetIncludeDirectories.cmake
  cmake/tests/unit/gluecodium_generate/werror-DartOverloads-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/werror-DeprecatedAttributes-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/werror-DocLinks-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/werror-list-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/werror-not-set/CMakeLists.txt
  cmake/tests/unit/gluecodium_list_generated_files/gluecodium_list_generated_files/CMakeLists.txt
  cmake/tests/unit/gluecodium_read_required_properties/gluecodium_read_required_properties/CMakeLists.txt
Labels: cmake, dart

#780 Fix Dart SDK caching on CI
  .github/workflows/functional-tests.yml
Labels: ci, dart

#781 Switches cpp functional tests to ctest
  .github/workflows/functional-tests.yml
  functional-tests/CMakeLists.txt
  functional-tests/scripts/build-cpp-functional
Labels: c++, cmake

#782 Adds option to choose cmake generator for cpp tests
  functional-tests/functional/CMakeLists.txt
  functional-tests/scripts/build-cpp-functional
Labels: c++, cmake

#784 Fixes issue in FindDartLang.cmake with duplicated target
  cmake/modules/FindDartLang.cmake
Labels: cmake, dart

#785 Adds workaround for dart includes
  cmake/modules/FindDartLang.cmake
  cmake/modules/gluecodium/gluecodium/TargetIncludeDirectories.cmake
  cmake/modules/gluecodium/obsolete/gluecodium/TargetIncludeDirectories.cmake
Labels: cmake, dart

#787 Fixes CMake warning about endforeach mismatch
  cmake/modules/gluecodium/gluecodium/TargetIncludeDirectories.cmake
Labels: cmake

#788 Fixes CMake warning about endforeach mismatch in obsolete API
  cmake/modules/gluecodium/obsolete/gluecodium/TargetIncludeDirectories.cmake
Labels: cmake

#789 Fixes logic in FindDartLang when fixup includes was added even if dar…
  cmake/modules/FindDartLang.cmake
Labels: cmake, dart

#791 Fixes issue with exposing of list of directories
  cmake/modules/FindDartLang.cmake
  cmake/modules/gluecodium/gluecodium/TargetIncludeDirectories.cmake
  cmake/modules/gluecodium/obsolete/gluecodium/TargetIncludeDirectories.cmake
Labels: cmake, dart

#790 Rename "Cpp2" files left over from generator refactoring
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeCppNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeGeneratorPredicates.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeImplIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/Cpp2IncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/Cpp2NameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppFullNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppGeneratorPredicates.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppIncludesCache.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppNameCache.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaGeneratorSuite.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniGeneratorPredicates.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniTemplates.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGeneratorSuite.kt
Labels: c++

#792 Fix doc references to function overloads
  CHANGELOG.md
  docs/lime_idl.md
  gluecodium/src/main/java/com/here/gluecodium/generator/common/CommentsProcessor.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppNameResolver.kt
  gluecodium/src/test/resources/smoke/comments/input/ReferToNestedType.lime
  gluecodium/src/test/resources/smoke/comments/output/android/com/example/smoke/MapScene.java
  gluecodium/src/test/resources/smoke/comments/output/cpp/include/smoke/MapScene.h
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/map_scene.dart
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/MapScene.swift
Labels: bug, c++

#794 Makes cmake API compatible with cmake < 3.19
  cmake/modules/gluecodium/gluecodium/GetLinkedTargetsWithGeneratedSources.cmake
  cmake/modules/gluecodium/gluecodium/details/GetLinkedTargets.cmake
Labels: cmake

#796 Introduces variable to disable obsolete cmake API
  cmake/modules/gluecodium/Gluecodium.cmake
  cmake/modules/gluecodium/gluecodium/GetLinkedTargetsWithGeneratedSources.cmake
  cmake/modules/gluecodium/gluecodium/details/GetLinkedTargets.cmake
  cmake/tests/unit/apigen_create_package/missing-NAME-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_create_package/missing-TARGET-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_create_package/recognised-UNPARSED_ARGUMENTS-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_create_package/single-module-packaging-mandatory-params/CMakeLists.txt
  cmake/tests/unit/apigen_generate/missing-CPP_INTERNAL_NAMESPACE-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_generate/missing-GENERATOR-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_generate/missing-LIME_SOURCES-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_generate/missing-TARGET-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_generate/object-modules/CMakeLists.txt
  cmake/tests/unit/apigen_generate/recognised-UNPARSED_ARGUMENTS-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_generate/shared-modules/CMakeLists.txt
  cmake/tests/unit/apigen_generate/single-module-mandatory-params/CMakeLists.txt
  cmake/tests/unit/apigen_generate/wrong-GENERATOR-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_target_include_directories/missing-COMMON_OUTPUT_DIR-in-apigen_generate-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_target_include_directories/recognised-UNPARSED_ARGUMENTS-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_target_sources/missing-COMMON_OUTPUT_DIR-in-apigen_generate-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_target_sources/recognised-UNPARSED_ARGUMENTS-XFAIL/CMakeLists.txt
  functional-tests/CMakeLists.txt
  functional-tests/namerules/CMakeLists.txt
Labels: cmake

#798 Fix default ctor for structs with lists in C++
  CHANGELOG.md
  functional-tests/scripts/valgrind_suppressions
  gluecodium/src/main/java/com/here/gluecodium/generator/common/CommonGeneratorPredicates.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppGeneratorPredicates.kt
  gluecodium/src/test/resources/smoke/structs/input/ScalarKeyframe.lime
  gluecodium/src/test/resources/smoke/structs/output/cpp/include/smoke/ScalarKeyframeTrack.h
  gluecodium/src/test/resources/smoke/structs/output/cpp/include/smoke/Structs.h
  gluecodium/src/test/resources/smoke/structs/output/cpp/src/smoke/Structs.cpp
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeTypeHelper.kt
Labels: bug, c++

#801 Add "positional defaults" for Java structs
  CHANGELOG.md
  docs/lime_idl.md
  functional-tests/functional/android/app/src/test/java/com/here/android/test/DefaultsTest.java
  functional-tests/functional/input/lime/PositionalDefaults.lime
  gluecodium/src/main/java/com/here/gluecodium/generator/common/templates/TemplateEngine.kt
  gluecodium/src/main/resources/templates/java/JavaStruct.mustache
  gluecodium/src/test/resources/smoke/defaults/input/PositionalDefaults.lime
  gluecodium/src/test/resources/smoke/defaults/output/android/com/example/smoke/StructWithJavaPositionalDefaults.java
Labels: enhancement, java
