Repository heremaps/gluecodium, pull requests merged in 2021-08, with the labels that each got.

#1025 Fix another batch of "dart analyze" warnings
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartDeclarationImportResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportResolver.kt
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/struct_with_collection_defaults.dart
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/struct_with_initializer_defaults.dart
  gluecodium/src/test/resources/smoke/equatable/output/dart/lib/src/smoke/equatable.dart
  gluecodium/src/test/resources/smoke/equatable/output/dart/lib/src/smoke/equatable_struct_with_internal_fields.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/generic_types_with_basic_types.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/generic_types_with_generic_types.dart
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/some_skipped_struct.dart
Labels: dart

#1024 Add support for in-platform tag-enabling
  CHANGELOG.md
  docs/lime_idl.md
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/input/lime/EnableIfInPlatform.lime
  gluecodium/src/test/resources/smoke/skip/input/EnableIfInPlatform.lime
  gluecodium/src/test/resources/smoke/skip/output/android/com/example/smoke/EnableTagsInJava.java
  gluecodium/src/test/resources/smoke/skip/output/android/jni/com_example_smoke_EnableTagsInJavaImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/skip/output/cbridge/src/smoke/cbridge_EnableTagsInSwift.cpp
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_EnableTagsInDart.cpp
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/enable_tags_in_dart.dart
  gluecodium/src/test/resources/smoke/skip/output/swift/smoke/EnableTagsInSwift.swift
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeConverter.kt
  lime-runtime/src/main/java/com/here/gluecodium/common/LimeModelSkipPredicates.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeAttributeValueType.kt
Labels: enhancement

#1029 Fix clashing lambdas in Swift
  functional-tests/functional/input/lime/Lambdas.lime
  gluecodium/src/main/resources/templates/swift/ConversionPrefixFrom.mustache
  gluecodium/src/main/resources/templates/swift/ConversionPrefixTo.mustache
  gluecodium/src/main/resources/templates/swift/SwiftLambdaConversion.mustache
  gluecodium/src/test/resources/smoke/attributes/output/swift/smoke/AttributesLambda.swift
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/Comments.swift
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/ExcludedComments.swift
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/ExcludedCommentsOnly.swift
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/MapScene.swift
  gluecodium/src/test/resources/smoke/lambdas/output/swift/smoke/Lambdas.swift
  gluecodium/src/test/resources/smoke/lambdas/output/swift/smoke/LambdasInterface.swift
  gluecodium/src/test/resources/smoke/lambdas/output/swift/smoke/LambdasWithStructuredTypes.swift
  gluecodium/src/test/resources/smoke/lambdas/output/swift/smoke/StandaloneProducer.swift
Labels: bug, swift

#1027 Moved LimeImportsCollector to GenericImportsCollector
  gluecodium/src/main/java/com/here/gluecodium/generator/common/GenericImportsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/lime/LimeGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/lime/LimeImportsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/lime/LimeImportsResolver.kt
Labels: lime

#1036 Fix clashing lambdas in Java
  CHANGELOG.md
  functional-tests/functional/input/lime/Lambdas.lime
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniGeneratorPredicates.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniTemplates.kt
  gluecodium/src/main/resources/templates/jni/CppProxyImplementation.mustache
  gluecodium/src/main/resources/templates/jni/Implementation.mustache
  gluecodium/src/main/resources/templates/jni/InstanceConversionHeader.mustache
  gluecodium/src/main/resources/templates/jni/InstanceConversionImplementation.mustache
  gluecodium/src/main/resources/templates/jni/JniConversionPrefix.mustache
  gluecodium/src/main/resources/templates/jni/LambdaOverloadedConversionHeader.mustache
  gluecodium/src/main/resources/templates/jni/LambdaOverloadedConversionImpl.mustache
  gluecodium/src/main/resources/templates/jni/LazyNativeListImpl.mustache
  gluecodium/src/main/resources/templates/jni/StructConversionImplementation.mustache
  gluecodium/src/main/resources/templates/jni/utils/FieldAccessMethodsHeader.mustache
  gluecodium/src/main/resources/templates/jni/utils/FieldAccessMethodsImplementation.mustache
  gluecodium/src/test/resources/smoke/inheritance/input/InheritanceIncludes.lime
  gluecodium/src/test/resources/smoke/lambdas/output/android/jni/com_example_smoke_Lambdas.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/android/jni/com_example_smoke_Lambdas_ConfounderImpl.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/android/jni/com_example_smoke_Lambdas_ConfounderImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/android/jni/com_example_smoke_StandaloneProducer__Conversion.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/android/jni/com_example_smoke_StandaloneProducer__Conversion.h
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeSignatureResolver.kt
Labels: bug, java

#1040 Remove Dart "-stubs" mode
  CHANGELOG.md
  cmake/.cmake-format.py
  cmake/modules/gluecodium/Gluecodium.cmake
  cmake/modules/gluecodium/gluecodium/GenerateStubs.cmake
  cmake/modules/gluecodium/gluecodium/KnownOptionalProperties.cmake
  cmake/modules/gluecodium/gluecodium/details/runGenerate.cmake
  cmake/tests/unit/gluecodium_generate/stubs-for-dart/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/stubs-for-dart/lime/foo.lime
  cmake/tests/unit/gluecodium_generate_stubs/missing-FOR_TARGET-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate_stubs/missing-FOR_TARGET-XFAIL/successful.regex
  cmake/tests/unit/gluecodium_generate_stubs/single-module/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate_stubs/single-module/cpp/FooImpl.cpp
  cmake/tests/unit/gluecodium_generate_stubs/single-module/lime/bar.lime
  cmake/tests/unit/gluecodium_generate_stubs/single-module/lime/foo.lime
  cmake/tests/unit/gluecodium_generate_stubs/single-module/test_parameters/explicit-output-dir.txt
  cmake/tests/unit/gluecodium_generate_stubs/single-module/test_parameters/global-output-dir.txt
  cmake/tests/unit/gluecodium_generate_stubs/single-module/test_parameters/global-stubs-has-precedence-over.txt
  cmake/tests/unit/gluecodium_generate_stubs/single-module/test_parameters/global-stubs-output-dir.txt
  cmake/tests/unit/gluecodium_generate_stubs/single-module/test_parameters/no-genex-eval.txt
  cmake/tests/unit/gluecodium_generate_stubs/single-module/test_parameters/no-parameters.txt
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/cpp/CommonMainFooImpl.cpp
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/cpp/Dummy.h
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/cpp/MainBarImpl.cpp
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/lime/common_main_foo.lime
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/lime/main_bar.lime
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/test_parameters/no-genex-eval.txt
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/test_parameters/no-genex-filter.txt
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/test_parameters/no-parameters.txt
  cmake/tests/unit/gluecodium_generate_stubs/two-shared-modules/test_parameters/visibility-preset-hidden.txt
  cmake/tests/unit/gluecodium_generate_stubs/unparsed-options-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate_stubs/unparsed-options-XFAIL/successful.regex
  gluecodium/src/main/java/com/here/gluecodium/cli/OptionReader.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/common/GeneratorOptions.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGenerator.kt
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartRedirectImpl.mustache
  gluecodium/src/main/resources/templates/dart/DartRedirectProperty.mustache
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/test/resources/smoke/stubs_classes/input/Classes.lime
  gluecodium/src/test/resources/smoke/stubs_classes/input/commandlineoptions.txt
  gluecodium/src/test/resources/smoke/stubs_classes/output/dart/lib/src/smoke/some_class.dart
  gluecodium/src/test/resources/smoke/stubs_structs/input/Structs.lime
  gluecodium/src/test/resources/smoke/stubs_structs/input/commandlineoptions.txt
  gluecodium/src/test/resources/smoke/stubs_structs/output/dart/lib/src/smoke/struct_with_constructor.dart
  gluecodium/src/test/resources/smoke/stubs_structs/output/dart/lib/src/smoke/struct_with_methods.dart
Labels: dart

#1039 Make generated Dart code testable/mockable
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/common/CommonGeneratorPredicates.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartDeclarationImportResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGenerator.kt
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartFunctionSignature.mustache
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/dart/DartProperty.mustache
  gluecodium/src/main/resources/templates/dart/DartRedirectConstructor.mustache
  gluecodium/src/main/resources/templates/dart/DartRedirectImpl.mustache
  gluecodium/src/main/resources/templates/dart/DartRedirectProperty.mustache
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/test/resources/smoke/basic_types/output/dart/lib/src/smoke/basic_types.dart
  gluecodium/src/test/resources/smoke/constructors/output/dart/lib/src/smoke/constructors.dart
  gluecodium/src/test/resources/smoke/constructors/output/dart/lib/src/smoke/single_named_constructor.dart
  gluecodium/src/test/resources/smoke/constructors/output/dart/lib/src/smoke/single_nameless_constructor.dart
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/default_values.dart
  gluecodium/src/test/resources/smoke/enums/output/dart/lib/src/smoke/enums.dart
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/errors.dart
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/errors_interface.dart
  gluecodium/src/test/resources/smoke/escaped_names/output/dart/lib/src/package/class.dart
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/smoke/enums.dart
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/smoke/structs.dart
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/smoke/use_dart_external_types.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/use_optimized_list.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/smoke.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/class_with_internal_lambda.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/lambdas.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/interface_with_static.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/level_one.dart
  gluecodium/src/test/resources/smoke/packages/output/dart/lib/src/smoke/off/nested_packages.dart
  gluecodium/src/test/resources/smoke/platform_names/output/dart/lib/src/smoke/wee_interface.dart
  gluecodium/src/test/resources/smoke/platform_names/output/dart/lib/src/smoke/wee_types.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/cached_properties.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/properties.dart
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/enable_if_enabled.dart
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/skip_functions.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/structs.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/structs_with_methods.dart
  gluecodium/src/test/resources/smoke/typedefs/output/dart/lib/src/smoke/type_defs.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/internal_class_with_functions.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/internal_class_with_static_property.dart
Labels: enhancement, dart

#1042 Fix validation for @Java(Builder) deprecation
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/Gluecodium.kt
  gluecodium/src/main/java/com/here/gluecodium/validator/LimeDeprecationsValidator.kt
  gluecodium/src/test/java/com/here/gluecodium/validator/LimeDeprecationsValidatorTest.kt
Labels: bug, java

#1044 Remove @Java(Builder) attribute
  CHANGELOG.md
  cmake/tests/unit/gluecodium_generate/werror-DeprecatedAttributes-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/werror-DeprecatedAttributes-XFAIL/cpp/FooImpl.cpp
  cmake/tests/unit/gluecodium_generate/werror-DeprecatedAttributes-XFAIL/lime/foo.lime
  cmake/tests/unit/gluecodium_generate/werror-DeprecatedAttributes-XFAIL/successful.regex
  docs/lime_idl.md
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/android/src/test/java/com/here/android/test/BuilderTest.java
  functional-tests/functional/android/src/test/java/com/here/android/test/EquatableNullableTest.java
  functional-tests/functional/android/src/test/java/com/here/android/test/EquatableTest.java
  functional-tests/functional/android/src/test/java/com/here/android/test/NestingTest.java
  functional-tests/functional/android/src/test/java/com/here/android/test/PlainDataStructuresTest.java
  functional-tests/functional/android/src/test/java/com/here/android/test/SerializationTest.java
  functional-tests/functional/input/lime/Equatable.lime
  functional-tests/functional/input/lime/JavaBuilder.lime
  functional-tests/functional/input/lime/PlainDataStructuresImmutable.lime
  functional-tests/functional/input/lime/Serialization.lime
  gluecodium/src/main/java/com/here/gluecodium/Gluecodium.kt
  gluecodium/src/main/java/com/here/gluecodium/validator/LimeDeprecationsValidator.kt
  gluecodium/src/main/resources/templates/java/FieldsBuilder.mustache
  gluecodium/src/main/resources/templates/java/JavaStruct.mustache
  gluecodium/src/test/java/com/here/gluecodium/validator/LimeDeprecationsValidatorTest.kt
  gluecodium/src/test/resources/smoke/java_builder/input/JavaBuilder.lime
  gluecodium/src/test/resources/smoke/java_builder/output/android/com/example/smoke/AllOptional.java
  gluecodium/src/test/resources/smoke/java_builder/output/android/com/example/smoke/ManyMandatoryAndOptionalFields.java
  gluecodium/src/test/resources/smoke/java_builder/output/android/com/example/smoke/OneMandatoryField.java
  gluecodium/src/test/resources/smoke/java_builder/output/android/com/example/smoke/TwoMandatoryTwoOptional.java
  gluecodium/src/test/resources/smoke/structs/input/Structs.lime
  gluecodium/src/test/resources/smoke/structs/output/android/com/example/smoke/Structs.java
  gluecodium/src/test/resources/smoke/structs/output/lime/smoke/Structs.lime
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeConverter.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeAttributeValueType.kt
Labels: java

#1045 Add support for deprecating "positional defaults" struct ctors
  CHANGELOG.md
  docs/lime_idl.md
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/main/resources/templates/java/JavaStruct.mustache
  gluecodium/src/test/resources/smoke/defaults/input/DartPositionalDefaults.lime
  gluecodium/src/test/resources/smoke/defaults/input/JavaPositionalDefaults.lime
  gluecodium/src/test/resources/smoke/defaults/output/android/com/example/smoke/JavaDeprecatedPosDefaults.java
  gluecodium/src/test/resources/smoke/defaults/output/android/com/example/smoke/JavaDeprecatedPosDefaultsCustom.java
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/dart_deprecated_pos_defaults.dart
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/dart_deprecated_pos_defaults_custom.dart
Labels: enhancement, java, dart

#1046 Fix duplicate documentation for static functions on structs in Dart
  CHANGELOG.md
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/test/resources/smoke/comments/input/Comments.lime
  gluecodium/src/test/resources/smoke/comments/output/android/com/example/smoke/Comments.java
  gluecodium/src/test/resources/smoke/comments/output/cpp/include/smoke/Comments.h
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/comments.dart
  gluecodium/src/test/resources/smoke/comments/output/lime/smoke/comments.lime
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/Comments.swift
Labels: bug, dart

#1050 Remove `_copy()` ctor from Dart structs
  CHANGELOG.md
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/dart_deprecated_pos_defaults_custom.dart
  gluecodium/src/test/resources/smoke/platform_names/output/dart/lib/src/smoke/wee_types.dart
  gluecodium/src/test/resources/smoke/structs/output/dart/lib/src/smoke/structs_with_methods.dart
Labels: bug, dart

#1053 Restore validation of constructor overloads
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/common/PlatformSignatureResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGeneratorPredicates.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftSignatureResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/validator/LimeOverloadsValidator.kt
  gluecodium/src/test/java/com/here/gluecodium/validator/LimeOverloadsValidatorTest.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeSignatureResolver.kt
Labels: bug

#1064 Add syntax for field constructor in LIME IDL grammar
  functional-tests/functional/input/lime/Comments.lime
  functional-tests/functional/input/lime/EnableIfEnabled.lime
  functional-tests/functional/input/lime/EnableIfSkipped.lime
  functional-tests/functional/input/lime/JavaExternalTypes.lime
  functional-tests/functional/input/lime/NestingInStruct.lime
  functional-tests/functional/input/lime/OptimizedList.lime
  functional-tests/functional/input/lime/SkipTags.lime
  gluecodium/src/main/java/com/here/gluecodium/generator/common/NameRules.kt
  gluecodium/src/test/resources/smoke/attributes/input/Attributes.lime
  gluecodium/src/test/resources/smoke/attributes/input/AttributesWithComments.lime
  gluecodium/src/test/resources/smoke/basic_types/input/CppRefReturnType.lime
  gluecodium/src/test/resources/smoke/comments/input/Comments.lime
  gluecodium/src/test/resources/smoke/comments/input/DeprecationComments.lime
  gluecodium/src/test/resources/smoke/expose_internals/input/ExposeInternals.lime
  gluecodium/src/test/resources/smoke/external_types/input/SerializableExternalCombination.lime
  gluecodium/src/test/resources/smoke/generic_types/auxiliary/AuxParent.lime
  gluecodium/src/test/resources/smoke/generic_types/input/OptimizedList.lime
  gluecodium/src/test/resources/smoke/inheritance/input/InheritanceIncludes.lime
  gluecodium/src/test/resources/smoke/nesting/input/NestingInStruct.lime
  gluecodium/src/test/resources/smoke/nesting/output/lime/smoke/OuterStruct.lime
  gluecodium/src/test/resources/smoke/skip/input/EnableIf.lime
  gluecodium/src/test/resources/smoke/skip/input/SkipTags.lime
  gluecodium/src/test/resources/smoke/skip/input/SkipTagsIncludes.lime
  gluecodium/src/test/resources/smoke/structs/input/RecursiveStructs.lime
  gluecodium/src/test/resources/smoke/typedefs/input/TypeDefs.lime
  gluecodium/src/test/resources/smoke/typedefs/output/lime/smoke/TypeCollection.lime
  gluecodium/src/test/resources/smoke/typedefs/output/lime/smoke/TypeDefs.lime
  lime-loader/src/main/antlr/LimeLexer.g4
  lime-loader/src/main/antlr/LimeParser.g4
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeModelBuilder.kt
  lime-runtime/src/main/java/com/here/gluecodium/common/LimeModelFilter.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeFieldConstructor.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeFieldRef.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeLazyFieldRef.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeStruct.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeTypeHelper.kt
  tools/Lime_IDL_file_type_for_IntelliJ.jar
Labels: enhancement, lime
