Repository heremaps/gluecodium, pull requests merged in 2021-05, with the labels that each got.

#884 Fix missing FFI include for structs with methods
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppIncludeResolver.kt
  gluecodium/src/test/resources/smoke/structs/output/dart/ffi/ffi_smoke_StructsWithMethods.cpp
Labels: bug, dart

#883 Generalize imports/includes collection logic in Dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartDeclarationImportsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppIncludeCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppIncludeResolver.kt
Labels: dart

#886 Fix missing imports for Swift external types used in collections
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftImportsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftImportsResolver.kt
  gluecodium/src/test/resources/smoke/external_types/input/SwiftExternalTypes.lime
  gluecodium/src/test/resources/smoke/external_types/output/swift/Collections.swift
  gluecodium/src/test/resources/smoke/external_types/output/swift/Dictionaries.swift
  gluecodium/src/test/resources/smoke/external_types/output/swift/Sets.swift
  gluecodium/src/test/resources/smoke/external_types/output/swift/smoke/ExternalMap.swift
Labels: bug, swift

#887 Generalize SwiftImportsCollector
  gluecodium/src/main/java/com/here/gluecodium/generator/common/GenericImportsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftImportsCollector.kt
Labels: swift

#891 Fix missing imports for constants in Dart
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/common/GenericImportsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppIncludeResolver.kt
  gluecodium/src/test/resources/smoke/constants/input/Constants.lime
  gluecodium/src/test/resources/smoke/constants/output/dart/lib/src/smoke/cross_file_constants.dart
Labels: bug, dart

#894 Add Dart overloads validation for structs
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartOverloadsValidator.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/dart/DartOverloadsValidatorTest.kt
Labels: bug, dart

#908 Run Dart functional tests on Ubuntu 20 on CI
  .github/workflows/functional-tests.yml
  functional-tests/functional/dart/CMakeLists.txt
Labels: ci, dart

#926 Make 'fromLambdas()' ctor nameless in Dart
  CHANGELOG.md
  functional-tests/functional/dart/test/CppConstMethods_test.dart
  functional-tests/functional/dart/test/ExternalTypes_test.dart
  functional-tests/functional/dart/test/InterfaceWithStatic_test.dart
  functional-tests/functional/dart/test/Interfaces_test.dart
  functional-tests/functional/dart/test/ListenersWithAttributes_test.dart
  functional-tests/functional/dart/test/ListenersWithErrors_test.dart
  functional-tests/functional/dart/test/ListenersWithReturnValues_test.dart
  functional-tests/functional/dart/test/Listeners_test.dart
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/attributes_interface.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/comments_interface.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/deprecation_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/deprecation_comments_only.dart
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/errors_interface.dart
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/smoke/external_interface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/child_interface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/parent_interface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/simple_interface.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/calculator_listener.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/interface_with_static.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/listener_with_properties.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/listeners_with_return_values.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/outer_class.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/outer_class_with_inheritance.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/outer_interface.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/outer_struct.dart
  gluecodium/src/test/resources/smoke/platform_names/output/dart/lib/src/smoke/wee_listener.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/properties_interface.dart
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/inherit_from_skipped.dart
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/skip_proxy.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/internal_interface.dart
Labels: dart

#931 Adds support for ALIAS libraries in cmake
  cmake/modules/gluecodium/gluecodium/details/ListGeneratedFiles.cmake
  cmake/modules/gluecodium/gluecodium/details/ResolvePossibleAlias.cmake
  cmake/modules/gluecodium/swift/TargetLinkFrameworks.cmake
  cmake/tests/unit/get_linked_targets_with_generated_sources/get_linked_targets_with_generated_sources/CMakeLists.txt
  cmake/tests/unit/gluecodium_list_generated_files/gluecodium_list_generated_files/CMakeLists.txt
  cmake/tests/unit/gluecodium_read_required_properties/gluecodium_read_required_properties/CMakeLists.txt
  cmake/tests/unit/gluecodium_resolve_possible_alias/gluecodium_resolve_possible_alias/CMakeLists.txt
  cmake/tests/unit/gluecodium_resolve_possible_alias/gluecodium_resolve_possible_alias/cpp/dummy.cpp
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-shared-modules-dependent-on-object-libs/CMakeLists.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-shared-modules-dependent-on-object-libs/test_parameters/dont-use-TARGET_GENEX_EVAL-use-aliases.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-shared-modules-dependent-on-object-libs/test_parameters/use-aliases.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/frameworks-in-different-subfolders/CMakeLists.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/frameworks-in-different-subfolders/framework-common-main/CMakeLists.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/frameworks-in-different-subfolders/framework-main/CMakeLists.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/frameworks-in-different-subfolders/test_parameters/use-aliases.txt
  cmake/tests/unit/gluecodium_target_swift_sources/custom-swift-sources-in-dependency/CMakeLists.txt
  cmake/tests/unit/gluecodium_target_swift_sources/custom-swift-sources-in-dependency/test_parameters/interface-COPY_FROM_TARGETS.txt
  cmake/tests/unit/gluecodium_target_swift_sources/custom-swift-sources-in-dependency/test_parameters/interface-use-alias-COPY_FROM_TARGETS.txt
  cmake/tests/unit/gluecodium_target_swift_sources/custom-swift-sources-in-dependency/test_parameters/object-COPY_FROM_TARGETS.txt
  cmake/tests/unit/gluecodium_target_swift_sources/custom-swift-sources-in-dependency/test_parameters/object-use-alias-COPY_FROM_TARGETS.txt
  cmake/tests/unit/gluecodium_target_swift_sources/custom-swift-sources-in-dependency/test_parameters/static-COPY_FROM_TARGETS.txt
  cmake/tests/unit/gluecodium_target_swift_sources/custom-swift-sources-in-dependency/test_parameters/static-use-alias-COPY_FROM_TARGETS.txt
  cmake/tests/unit/gluecodium_target_swift_sources/several-modules-framework/CMakeLists.txt
  cmake/tests/unit/gluecodium_target_swift_sources/several-modules-framework/test_parameters/object-object-COPY_FROM_TARGETS-GLUECODIUM_DONT_USE_TARGET_GENEX_EVAL.txt
  cmake/tests/unit/gluecodium_target_swift_sources/several-modules-framework/test_parameters/object-object-COPY_FROM_TARGETS.txt
  cmake/tests/unit/gluecodium_target_swift_sources/several-modules-framework/test_parameters/object-object-use-alias-COPY_FROM_TARGETS-GLUECODIUM_DONT_USE_TARGET_GENEX_EVAL.txt
  cmake/tests/unit/gluecodium_target_swift_sources/several-modules-framework/test_parameters/object-object-use-alias-COPY_FROM_TARGETS.txt
  cmake/tests/unit/gluecodium_target_swift_sources/several-modules-framework/test_parameters/object-object-use-alias-GLUECODIUM_DONT_USE_TARGET_GENEX_EVAL.txt
  cmake/tests/unit/gluecodium_target_swift_sources/several-modules-framework/test_parameters/object-object-use-alias.txt
Labels: bug, cmake

#933 Adds paths to Dart related to new Flutter
  cmake/modules/FindDartLang.cmake
Labels: cmake
