Repository heremaps/gluecodium, pull requests merged in 2021-01, with the labels that each got.

#671 Update apt repos before installing valgrind on CI
  .github/workflows/gluecodium.yml
Labels: ci

#669 Propagate `@Deprecated` attribute to property accessors
  CHANGELOG.md
  gluecodium/src/test/resources/smoke/comments/input/DeprecationComments.lime
  gluecodium/src/test/resources/smoke/comments/output/android/com/example/smoke/DeprecationComments.java
  gluecodium/src/test/resources/smoke/comments/output/cpp/include/smoke/DeprecationComments.h
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/deprecation_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/lime/smoke/DeprecationComments.lime
  gluecodium/src/test/resources/smoke/comments/output/swift/smoke/DeprecationComments.swift
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeConverter.kt
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeModelBuilder.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeAttributes.kt
Labels: bug

#672 Applies formatting to all cmake files
  cmake/.cmake-format.py
  cmake/modules/gluecodium/All.cmake
  cmake/modules/gluecodium/Android.cmake
  cmake/modules/gluecodium/Gluecodium.cmake
  cmake/modules/gluecodium/Packaging.cmake
  cmake/modules/gluecodium/Swift.cmake
  cmake/modules/gluecodium/android/AndroidArchive.cmake
  cmake/modules/gluecodium/gluecodium/CheckArguments.cmake
  cmake/modules/gluecodium/gluecodium/Generate.cmake
  cmake/modules/gluecodium/gluecodium/GeneratedSources.cmake
  cmake/modules/gluecodium/gluecodium/Gradle.cmake
  cmake/modules/gluecodium/gluecodium/GradleSync.cmake
  cmake/modules/gluecodium/gluecodium/PackagingUtils.cmake
  cmake/modules/gluecodium/gluecodium/TargetIncludeDirectories.cmake
  cmake/modules/gluecodium/gluecodium/TargetSources.cmake
  cmake/modules/gluecodium/gluecodium/runGenerate.cmake
  cmake/modules/gluecodium/java/Compile.cmake
  cmake/modules/gluecodium/java/Jar.cmake
  cmake/modules/gluecodium/java/runCompile.cmake
  cmake/modules/gluecodium/kotlin/Dokka.cmake
  cmake/modules/gluecodium/swift/Build.cmake
  cmake/modules/gluecodium/swift/Compile.cmake
  cmake/modules/gluecodium/swift/Configuration.cmake
  cmake/modules/gluecodium/swift/FatLibrary.cmake
  cmake/modules/gluecodium/swift/FrameworkBundle.cmake
  cmake/modules/gluecodium/swift/FrameworkInfoPlist.cmake
  cmake/modules/gluecodium/swift/GetLinkLibraries.cmake
  cmake/modules/gluecodium/swift/Modulemap.cmake
  cmake/modules/gluecodium/swift/Package.cmake
  cmake/modules/gluecodium/swift/Test.cmake
  cmake/tests/unit/apigen_check_arguments/apigen_deprecate_argument-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_check_arguments/apigen_deprecate_argument_renamed-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_check_arguments/check-required-arguments-exist/CMakeLists.txt
  cmake/tests/unit/apigen_check_arguments/required-argument-not-exist-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_check_arguments/unparsed-arguments-present-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_create_package/missing-NAME-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_create_package/missing-TARGET-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_create_package/recognised-UNPARSED_ARGUMENTS-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_create_package/single-module-packaging-mandatory-params/CMakeLists.txt
  cmake/tests/unit/apigen_generate/missing-CPP_INTERNAL_NAMESPACE-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_generate/missing-GENERATOR-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_generate/missing-LIME_SOURCES-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_generate/missing-TARGET-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_generate/object-modules/CMakeLists.txt
  cmake/tests/unit/apigen_generate/recognised-UNPARSED_ARGUMENTS-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_generate/shared-modules/CMakeLists.txt
  cmake/tests/unit/apigen_generate/single-module-mandatory-params/CMakeLists.txt
  cmake/tests/unit/apigen_generate/wrong-GENERATOR-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_target_include_directories/missing-COMMON_OUTPUT_DIR-in-apigen_generate-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_target_include_directories/recognised-UNPARSED_ARGUMENTS-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_target_sources/missing-COMMON_OUTPUT_DIR-in-apigen_generate-XFAIL/CMakeLists.txt
  cmake/tests/unit/apigen_target_sources/recognised-UNPARSED_ARGUMENTS-XFAIL/CMakeLists.txt
  cmake/tests/unit/example/example-XFAIL/CMakeLists.txt
  cmake/tests/unit/example/example_success/CMakeLists.txt
  cmake/tests/utils/assert.cmake
  cmake/tests/utils/check_file_or_directory_exists_after_build.cmake
  cmake/tests/utils/check_symbols_exists_after_build.cmake
  cmake/tests/utils/message_colored.cmake
  cmake/tests/utils/unset_all.cmake
Labels: cmake

#673 Remove support for "stubs" mode of Java generator
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/cli/OptionReader.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaGeneratorSuite.kt
  gluecodium/src/main/resources/templates/java/JavaClass.mustache
  gluecodium/src/main/resources/templates/java/JavaException.mustache
  gluecodium/src/main/resources/templates/java/JavaField.mustache
  gluecodium/src/main/resources/templates/java/JavaFunction.mustache
  gluecodium/src/main/resources/templates/java/JavaImplClass.mustache
  gluecodium/src/main/resources/templates/java/JavaMethodSignature.mustache
  gluecodium/src/main/resources/templates/java/JavaStruct.mustache
  gluecodium/src/test/resources/stubs_smoke/classes/output/android/com/example/smoke/SomeClass.java
  gluecodium/src/test/resources/stubs_smoke/exceptions/output/android/com/example/smoke/SomeException.java
  gluecodium/src/test/resources/stubs_smoke/structs/output/android/com/example/smoke/ImmutableStruct.java
  gluecodium/src/test/resources/stubs_smoke/structs/output/android/com/example/smoke/StructWithConstructor.java
  gluecodium/src/test/resources/stubs_smoke/structs/output/android/com/example/smoke/StructWithMethods.java
Labels: java

#675 Adds cmake function string_join which is compatible with cmake < 3.12
  cmake/modules/gluecodium/gluecodium/StringJoin.cmake
  cmake/modules/gluecodium/gluecodium/runGenerate.cmake
  cmake/tests/unit/string_join/string_join/CMakeLists.txt
Labels: cmake

#677 Improve test output for flaky tests diagnostics
  examples/platforms/android/app/build.gradle
  examples/platforms/android/app/src/test/java/com/here/android/test/ListenerWithMapsTest.java
Labels: java

#678 Add `@Dart(PositionalDefaults)` attribute
  CHANGELOG.md
  docs/lime_idl.md
  examples/libhello/CMakeLists.txt
  examples/libhello/lime/test/PositionalDefaults.lime
  examples/platforms/dart/test/Defaults_test.dart
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/test/resources/smoke/defaults/input/PositionalDefaults.lime
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/struct_with_all_defaults.dart
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/struct_with_some_defaults.dart
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeConverter.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeAttributeValueType.kt
Labels: dart, enhancement

#679 Fixes error message when env variable is missing
  cmake/tests/run_tests.cmake
Labels: cmake

#680 Fix flaky Android functional test
  examples/libhello/lime/test/ListenerWithMaps.lime
  examples/libhello/src/test/ListenerWithMaps.cpp
  examples/platforms/android/app/src/test/java/com/here/android/test/ListenerWithMapsTest.java
  examples/platforms/ios/Tests/testTests/ListenersWithDictionaries.swift
Labels: java

#685 Fix NativeBase inheritance for inner classes in Java
  CHANGELOG.md
  gluecodium/src/main/resources/templates/java/JavaClass.mustache
  gluecodium/src/test/resources/smoke/nesting/output/android/com/example/smoke/OuterClassWithInheritance.java
Labels: bug, java

#684 Improve DartOverloadsValidator messages
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartOverloadsValidator.kt
Labels: dart

#687 Don't run functional tests on .md file changes
  .github/workflows/functional-tests.yml
  .github/workflows/unit-tests.yml
Labels: ci

#688 Ignore more files for Functional Tests CI workflow
  .github/workflows/functional-tests.yml
  scripts/install-cmake.sh
  scripts/parse_changelog.sh
  scripts/release-email.template
  scripts/upload-dependencies
Labels: ci

#689 Don't trigger functional tests on version file changes
  .github/workflows/functional-tests.yml
Labels: ci

#694 Adds possibility to run parametrised CMake tests
  cmake/tests/run_tests.cmake
  cmake/tests/unit/string_join/string_join/CMakeLists.txt
  cmake/tests/unit/string_join/string_join/test_parameters/DONT_USE_STRING_JOIN.txt
  cmake/tests/unit/string_join/string_join/test_parameters/no-parameters.txt
Labels: cmake

#691 Extract CMake tests into a separate CI job
  .github/workflows/functional-tests.yml
  cmake/CHANGELOG.md
Labels: ci

#695 Runs tests for apigen_generate with compatible with old CMake
  cmake/tests/unit/apigen_generate/object-modules/test_parameters/DONT_USE_FILTER_GENERATOR_EXPRESSION.txt
  cmake/tests/unit/apigen_generate/object-modules/test_parameters/no-parameters.txt
  cmake/tests/unit/apigen_generate/shared-modules/test_parameters/DONT_USE_FILTER_GENERATOR_EXPRESSION.txt
  cmake/tests/unit/apigen_generate/shared-modules/test_parameters/no-parameters.txt
  cmake/tests/unit/apigen_generate/single-module-mandatory-params/test_parameters/DONT_USE_FILTER_GENERATOR_EXPRESSION.txt
  cmake/tests/unit/apigen_generate/single-module-mandatory-params/test_parameters/no-parameters.txt
Labels: cmake

#692 Don't use inheritance in Dart interface wrappers
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/attributes_interface.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/comments_interface.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/deprecation_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/deprecation_comments_only.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/excluded_comments_interface.dart
  gluecodium/src/test/resources/smoke/equatable/output/dart/lib/src/smoke/equatable_interface.dart
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/errors_interface.dart
  gluecodium/src/test/resources/smoke/escaped_names/output/dart/lib/src/package/interface.dart
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/smoke/external_interface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/child_interface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/parent_interface.dart
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/simple_interface.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/calculator_listener.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/listener_with_properties.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/listeners_with_return_values.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/outer_class.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/outer_interface.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/outer_struct.dart
  gluecodium/src/test/resources/smoke/platform_names/output/dart/lib/src/smoke/wee_listener.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/properties_interface.dart
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/inherit_from_skipped.dart
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/skip_proxy.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/internal_interface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/public_interface.dart
Labels: dart

#700 Fix properties inheritance for classes in Dart
  CHANGELOG.md
  functional-tests/functional/input/lime/Inheritance.lime
  functional-tests/functional/input/src/cpp/ChildClassImpl.cpp
  functional-tests/functional/input/src/cpp/ChildClassImpl.h
  functional-tests/functional/input/src/cpp/GrandchildClassImpl.cpp
  functional-tests/functional/input/src/cpp/GrandchildClassImpl.h
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/test/resources/smoke/inheritance/input/Inheritance.lime
  gluecodium/src/test/resources/smoke/inheritance/output/cpp/include/smoke/ParentClass.h
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/parent_class.dart
Labels: bug, dart

#704 Add `@Skip` attribute to LIME IDL syntax
  cmake/.cmake-format.py
  cmake/modules/gluecodium/gluecodium/Generate.cmake
  docs/lime_idl.md
  gluecodium/src/main/java/com/here/gluecodium/Gluecodium.kt
  gluecodium/src/main/java/com/here/gluecodium/cli/OptionReader.kt
  gluecodium/src/test/resources/smoke/skip/input/SkipTags.lime
  gluecodium/src/test/resources/smoke/skip/output/lime/smoke/SkipMixed.lime
  gluecodium/src/test/resources/smoke/skip/output/lime/smoke/SkipPlatforms.lime
  gluecodium/src/test/resources/smoke/skip/output/lime/smoke/SkipTagsOnly.lime
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeConverter.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeAttributeType.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeAttributeValueType.kt
  tools/Lime_IDL_file_type_for_IntelliJ.jar
Labels: enhancement

#706 Add `@Skip` attribute support to Java generator
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/input/src/android/SkipMe.java
  functional-tests/functional/input/src/android/SkipMeToo.java
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaGeneratorSuite.kt
  gluecodium/src/test/resources/smoke/skip/output/android/com/example/smoke/SkipTagsOnly.java
Labels: enhancement, java

#707 Add `@Skip` attribute support to Swift generator
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/input/src/swift/SkipMe.swift
  functional-tests/functional/input/src/swift/SkipMeToo.swift
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGeneratorSuite.kt
  gluecodium/src/test/resources/smoke/skip/output/swift/smoke/SkipTagsOnly.swift
  gluecodium/src/test/resources/smoke/skip/output/swift/smoke/SkipTypesTags.swift
Labels: enhancement, swift

#708 Add `@Skip` attribute support to Dart generator
  CHANGELOG.md
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/input/src/dart/skip_me.dart
  functional-tests/functional/input/src/dart/skip_me_too.dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGeneratorSuite.kt
  gluecodium/src/test/resources/smoke/skip/output/android/jni/com_example_smoke_SkipTagsOnly.h
  gluecodium/src/test/resources/smoke/skip/output/cbridge/include/smoke/cbridge_SkipTagsOnly.h
  gluecodium/src/test/resources/smoke/skip/output/cbridge/include/smoke/cbridge_SkipTypesTags.h
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_SkipTagsOnly.h
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_SkipTypesTags.h
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/skip_tags_only.dart
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/skip_types_tags.dart
Labels: dart, enhancement

#709 Compute enumerator implicit values dynamically in LIME model
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/android/app/src/test/java/com/here/android/test/SkipEnumeratorTest.java
  functional-tests/functional/dart/main.dart
  functional-tests/functional/dart/test/SkipEnumerator_test.dart
  functional-tests/functional/input/lime/SkipEnumerator.lime
  functional-tests/functional/input/src/cpp/SkipEnumerator.cpp
  functional-tests/functional/swift/Tests/SkipEnumeratorTests.swift
  functional-tests/functional/swift/main.swift
  gluecodium/src/main/java/com/here/gluecodium/generator/common/LimeModelFilter.kt
  gluecodium/src/test/resources/smoke/skip/input/SkipEnumerator.lime
  gluecodium/src/test/resources/smoke/skip/output/android/com/example/smoke/SkipEnumeratorAutoTag.java
  gluecodium/src/test/resources/smoke/skip/output/android/com/example/smoke/SkipEnumeratorExplicitTag.java
  gluecodium/src/test/resources/smoke/skip/output/cpp/include/smoke/SkipEnumeratorAutoTag.h
  gluecodium/src/test/resources/smoke/skip/output/cpp/include/smoke/SkipEnumeratorExplicitTag.h
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/skip_enumerator_auto_tag.dart
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/skip_enumerator_explicit_tag.dart
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeModelBuilder.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeEnumerator.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeValue.kt
Labels: bug, dart, java

#713 Applies formatting to Generate.cmake
  cmake/modules/gluecodium/gluecodium/Generate.cmake
Labels: cmake

#714 Prefixes functions to check arguments in CMake with gluecodium_
  cmake/modules/gluecodium/Packaging.cmake
  cmake/modules/gluecodium/gluecodium/CheckArguments.cmake
  cmake/modules/gluecodium/gluecodium/Generate.cmake
  cmake/modules/gluecodium/gluecodium/TargetIncludeDirectories.cmake
  cmake/modules/gluecodium/gluecodium/TargetSources.cmake
  cmake/tests/unit/gluecodium_check_arguments/apigen_deprecate_argument-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_check_arguments/apigen_deprecate_argument-XFAIL/successful.regex
  cmake/tests/unit/gluecodium_check_arguments/apigen_deprecate_argument_renamed-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_check_arguments/apigen_deprecate_argument_renamed-XFAIL/successful.regex
  cmake/tests/unit/gluecodium_check_arguments/check-required-arguments-exist/CMakeLists.txt
  cmake/tests/unit/gluecodium_check_arguments/required-argument-not-exist-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_check_arguments/required-argument-not-exist-XFAIL/successful.regex
  cmake/tests/unit/gluecodium_check_arguments/unparsed-arguments-present-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_check_arguments/unparsed-arguments-present-XFAIL/successful.regex
  cmake/tests/utils/run_check_symbol_exists.cmake
Labels: cmake

#716 Add export macro to classes in CBridge and JNI
  gluecodium/src/main/resources/templates/cbridge/common/TypeInitRepository.mustache
  gluecodium/src/main/resources/templates/cbridge/common/WrapperCacheHeader.mustache
  gluecodium/src/main/resources/templates/jni/EnumConversionHeader.mustache
  gluecodium/src/main/resources/templates/jni/InstanceConversionHeader.mustache
  gluecodium/src/main/resources/templates/jni/StructConversionHeader.mustache
  gluecodium/src/main/resources/templates/jni/utils/BoxingConversionUtilsHeader.mustache
  gluecodium/src/main/resources/templates/jni/utils/CppProxyBaseHeader.mustache
  gluecodium/src/main/resources/templates/jni/utils/FieldAccessMethodsHeader.mustache
  gluecodium/src/main/resources/templates/jni/utils/JniBaseHeader.mustache
  gluecodium/src/main/resources/templates/jni/utils/JniCallJavaMethodHeader.mustache
  gluecodium/src/main/resources/templates/jni/utils/JniClassCacheHeader.mustache
  gluecodium/src/main/resources/templates/jni/utils/JniCppConversionUtilsHeader.mustache
  gluecodium/src/main/resources/templates/jni/utils/JniWrapperCacheHeader.mustache
  gluecodium/src/test/resources/namespace_smoke/basic/output/android/jni/com_example_smoke_SomeStruct__Conversion.h
  gluecodium/src/test/resources/smoke/enums/output/android/jni/com_example_smoke_Enums_SimpleEnum__Conversion.h
  gluecodium/src/test/resources/smoke/enums/output/android/jni/com_example_smoke_TCEnum__Conversion.h
  gluecodium/src/test/resources/smoke/escaped_names/output/android/jni/com_example_package_Class__Conversion.h
  gluecodium/src/test/resources/smoke/escaped_names/output/android/jni/com_example_package_Enum__Conversion.h
  gluecodium/src/test/resources/smoke/escaped_names/output/android/jni/com_example_package_Struct__Conversion.h
  gluecodium/src/test/resources/smoke/external_types/output/android/jni/com_example_smoke_ExternalClass__Conversion.h
  gluecodium/src/test/resources/smoke/external_types/output/android/jni/com_example_smoke_ExternalInterface__Conversion.h
  gluecodium/src/test/resources/smoke/instances/output/android/jni/com_example_smoke_SimpleClass__Conversion.h
  gluecodium/src/test/resources/smoke/instances/output/android/jni/com_example_smoke_SimpleInterface__Conversion.h
  gluecodium/src/test/resources/smoke/lambdas/output/android/jni/com_example_smoke_Lambdas_Confounder__Conversion.h
  gluecodium/src/test/resources/smoke/listeners/output/android/jni/com_example_smoke_CalculatorListener__Conversion.h
  gluecodium/src/test/resources/smoke/platform_names/output/android/jni/com_example_smoke_barEnum__Conversion.h
  gluecodium/src/test/resources/smoke/platform_names/output/android/jni/com_example_smoke_barStruct__Conversion.h
  gluecodium/src/test/resources/smoke/structs/output/android/jni/com_example_smoke_AllTypesStruct__Conversion.h
  gluecodium/src/test/resources/smoke/structs/output/android/jni/com_example_smoke_Structs_AllTypesStruct__Conversion.h
Labels: swift

#717 Moves old functionality to obsolete folders.
  cmake/modules/gluecodium/Android.cmake
  cmake/modules/gluecodium/Gluecodium.cmake
  cmake/modules/gluecodium/Packaging.cmake
  cmake/modules/gluecodium/Swift.cmake
  cmake/modules/gluecodium/gluecodium/details/CheckArguments.cmake
  cmake/modules/gluecodium/gluecodium/details/Gradle.cmake
  cmake/modules/gluecodium/gluecodium/details/GradleSync.cmake
  cmake/modules/gluecodium/gluecodium/details/StringJoin.cmake
  cmake/modules/gluecodium/gluecodium/details/build.gradle
  cmake/modules/gluecodium/gluecodium/details/compileJava.gradle
  cmake/modules/gluecodium/gluecodium/details/gradle.properties
  cmake/modules/gluecodium/gluecodium/details/gradle/wrapper/gradle-wrapper.jar
  cmake/modules/gluecodium/gluecodium/details/gradle/wrapper/gradle-wrapper.properties
  cmake/modules/gluecodium/gluecodium/details/gradlew
  cmake/modules/gluecodium/gluecodium/details/gradlew.bat
  cmake/modules/gluecodium/gluecodium/details/settings.gradle
  cmake/modules/gluecodium/obsolete/android/AndroidArchive.cmake
  cmake/modules/gluecodium/obsolete/gluecodium/Generate.cmake
  cmake/modules/gluecodium/obsolete/gluecodium/GeneratedSources.cmake
  cmake/modules/gluecodium/obsolete/gluecodium/PackagingUtils.cmake
  cmake/modules/gluecodium/obsolete/gluecodium/TargetIncludeDirectories.cmake
  cmake/modules/gluecodium/obsolete/gluecodium/TargetSources.cmake
  cmake/modules/gluecodium/obsolete/gluecodium/runGenerate.cmake
  cmake/modules/gluecodium/obsolete/java/Compile.cmake
  cmake/modules/gluecodium/obsolete/java/Jar.cmake
  cmake/modules/gluecodium/obsolete/java/runCompile.cmake
  cmake/modules/gluecodium/obsolete/kotlin/Dokka.cmake
  cmake/modules/gluecodium/obsolete/swift/Build.cmake
  cmake/modules/gluecodium/obsolete/swift/Compile.cmake
  cmake/modules/gluecodium/obsolete/swift/Configuration.cmake
  cmake/modules/gluecodium/obsolete/swift/FatLibrary.cmake
  cmake/modules/gluecodium/obsolete/swift/FrameworkBundle.cmake
  cmake/modules/gluecodium/obsolete/swift/FrameworkInfoPlist.cmake
  cmake/modules/gluecodium/obsolete/swift/GetLinkLibraries.cmake
  cmake/modules/gluecodium/obsolete/swift/MacOSXFrameworkInfo.plist.in
  cmake/modules/gluecodium/obsolete/swift/Modulemap.cmake
  cmake/modules/gluecodium/obsolete/swift/Package.cmake
  cmake/modules/gluecodium/obsolete/swift/README.md
  cmake/modules/gluecodium/obsolete/swift/Test.cmake
  cmake/tests/unit/gluecodium_check_arguments/apigen_deprecate_argument-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_check_arguments/apigen_deprecate_argument_renamed-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_check_arguments/check-required-arguments-exist/CMakeLists.txt
  cmake/tests/unit/gluecodium_check_arguments/required-argument-not-exist-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_check_arguments/unparsed-arguments-present-XFAIL/CMakeLists.txt
  cmake/tests/unit/string_join/string_join/CMakeLists.txt
Labels: cmake

#719 Unifies common cmake functionality for new and obsolete API
  cmake/modules/gluecodium/gluecodium/details/Gradle.cmake
  cmake/modules/gluecodium/gluecodium/details/GradleSync.cmake
  cmake/modules/gluecodium/gluecodium/details/InitVariablesWithUnitedFilePaths.cmake
  cmake/modules/gluecodium/obsolete/gluecodium/Generate.cmake
  cmake/modules/gluecodium/obsolete/gluecodium/GeneratedSources.cmake
  cmake/modules/gluecodium/obsolete/gluecodium/TargetSources.cmake
  cmake/modules/gluecodium/obsolete/gluecodium/runGenerate.cmake
  cmake/modules/gluecodium/obsolete/java/Compile.cmake
  cmake/modules/gluecodium/obsolete/java/runCompile.cmake
  cmake/modules/gluecodium/obsolete/swift/Modulemap.cmake
Labels: cmake

#720 Adapts cmake function check_symbols_after_build for test on iOS
  cmake/tests/utils/check_symbols_after_build.cmake
  cmake/tests/utils/run_check_symbol_exists.cmake
Labels: cmake

#729 Adds cmake function to link Swift frameworks.
  cmake/modules/gluecodium/Swift.cmake
  cmake/modules/gluecodium/swift/TargetLinkFrameworks.cmake
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-shared-modules-dependent-on-object-libs/CMakeLists.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-shared-modules-dependent-on-object-libs/cpp/CommonMainFooImpl.cpp
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-shared-modules-dependent-on-object-libs/cpp/MainBarImpl.cpp
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-shared-modules-dependent-on-object-libs/lime/common_main_foo.lime
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-shared-modules-dependent-on-object-libs/lime/main_bar.lime
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-shared-modules-dependent-on-object-libs/swift/use_bar.swift
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-shared-modules-dependent-on-object-libs/test_parameters/CMAKE_CXX_VISIBILITY_PRESET-hidden.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-shared-modules-dependent-on-object-libs/test_parameters/custom-OUTPUT_NAME-dont-use-TARGET_GENEX_EVAL.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-shared-modules-dependent-on-object-libs/test_parameters/custom-OUTPUT_NAME.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-shared-modules-dependent-on-object-libs/test_parameters/dont-use-TARGET_GENEX_EVAL.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-shared-modules-dependent-on-object-libs/test_parameters/no-parameters.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-single-shared-modules/CMakeLists.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-single-shared-modules/cpp/CommonMainFooImpl.cpp
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-single-shared-modules/cpp/MainBarImpl.cpp
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-single-shared-modules/lime/common_main_foo.lime
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-single-shared-modules/lime/main_bar.lime
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-single-shared-modules/swift/use_bar.swift
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-single-shared-modules/test_parameters/CMAKE_CXX_VISIBILITY_PRESET-hidden.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-single-shared-modules/test_parameters/custom-OUTPUT_NAME-dont-use-TARGET_GENEX_EVAL.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-single-shared-modules/test_parameters/custom-OUTPUT_NAME.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-single-shared-modules/test_parameters/dont-use-TARGET_GENEX_EVAL.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/dependent-frameworks-with-single-shared-modules/test_parameters/no-parameters.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/frameworks-in-different-subfolders/CMakeLists.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/frameworks-in-different-subfolders/framework-common-main/CMakeLists.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/frameworks-in-different-subfolders/framework-common-main/cpp/CommonMainFooImpl.cpp
  cmake/tests/unit/gluecodium_target_link_frameworks/frameworks-in-different-subfolders/framework-common-main/lime/common_main_foo.lime
  cmake/tests/unit/gluecodium_target_link_frameworks/frameworks-in-different-subfolders/framework-main/CMakeLists.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/frameworks-in-different-subfolders/framework-main/cpp/MainBarImpl.cpp
  cmake/tests/unit/gluecodium_target_link_frameworks/frameworks-in-different-subfolders/framework-main/lime/main_bar.lime
  cmake/tests/unit/gluecodium_target_link_frameworks/frameworks-in-different-subfolders/swift/use_bar.swift
  cmake/tests/unit/gluecodium_target_link_frameworks/frameworks-in-different-subfolders/test_parameters/CMAKE_CXX_VISIBILITY_PRESET-hidden.txt
  cmake/tests/unit/gluecodium_target_link_frameworks/frameworks-in-different-subfolders/test_parameters/no-parameters.txt
Labels: cmake

#730 Upgrade CMake for CMake tests to 3.19.3
  .github/workflows/functional-tests.yml
Labels: cmake

#731 Adds tests reletaed to INTERFACE libraries
  cmake/tests/unit/gluecodium_generate/two-interface-libs-in-one-module/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/two-interface-libs-in-one-module/cpp/CommonMainFooImpl.cpp
  cmake/tests/unit/gluecodium_generate/two-interface-libs-in-one-module/cpp/Dummy.cpp
  cmake/tests/unit/gluecodium_generate/two-interface-libs-in-one-module/cpp/MainBarImpl.cpp
  cmake/tests/unit/gluecodium_generate/two-interface-libs-in-one-module/lime/common_main_foo.lime
  cmake/tests/unit/gluecodium_generate/two-interface-libs-in-one-module/lime/main_bar.lime
  cmake/tests/unit/gluecodium_generate/two-interface-libs-in-one-module/test_parameters/CMAKE_CXX_VISIBILITY_PRESET-hidden.txt
  cmake/tests/unit/gluecodium_generate/two-interface-libs-in-one-module/test_parameters/DONT_USE_FILTER_GENERATOR_EXPRESSION.txt
  cmake/tests/unit/gluecodium_generate/two-interface-libs-in-one-module/test_parameters/no-parameters.txt
  cmake/tests/unit/gluecodium_target_swift_sources/custom-swift-sources-in-dependency/test_parameters/interface.txt
  cmake/tests/unit/gluecodium_target_swift_sources/several-interface-modules-framework/CMakeLists.txt
  cmake/tests/unit/gluecodium_target_swift_sources/several-interface-modules-framework/cpp/CommonMainFooImpl.cpp
  cmake/tests/unit/gluecodium_target_swift_sources/several-interface-modules-framework/cpp/MainBarImpl.cpp
  cmake/tests/unit/gluecodium_target_swift_sources/several-interface-modules-framework/lime/common_main_foo.lime
  cmake/tests/unit/gluecodium_target_swift_sources/several-interface-modules-framework/lime/main_bar.lime
  cmake/tests/unit/gluecodium_target_swift_sources/several-interface-modules-framework/swift/dummy.swift
  cmake/tests/unit/gluecodium_target_swift_sources/several-interface-modules-framework/swift/use_foo_bar.swift
  cmake/tests/unit/gluecodium_target_swift_sources/several-interface-modules-framework/test_parameters/CMAKE_CXX_VISIBILITY_PRESET-hidden.txt
  cmake/tests/unit/gluecodium_target_swift_sources/several-interface-modules-framework/test_parameters/GLUECODIUM_DONT_USE_TARGET_GENEX_EVAL.txt
  cmake/tests/unit/gluecodium_target_swift_sources/several-interface-modules-framework/test_parameters/no-parameters.txt
  cmake/tests/unit/gluecodium_target_swift_sources/transitive-dependency-framework/test_parameters/interface-interface-GLUECODIUM_DONT_USE_TARGET_GENEX_EVAL.txt
  cmake/tests/unit/gluecodium_target_swift_sources/transitive-dependency-framework/test_parameters/interface-interface.txt
  cmake/tests/unit/gluecodium_target_swift_sources/transitive-dependency-framework/test_parameters/static-interface-GLUECODIUM_DONT_USE_TARGET_GENEX_EVAL.txt
  cmake/tests/unit/gluecodium_target_swift_sources/transitive-dependency-framework/test_parameters/static-interface.txt
Labels: cmake
