Repository heremaps/gluecodium, pull requests merged in 2021-06, with the labels that each got.

#935 Don't return null for non-nullable Blobs in Java
  CHANGELOG.md
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/android/src/test/java/com/here/android/test/BlobsTest.java
  functional-tests/functional/input/lime/Blobs.lime
  functional-tests/functional/input/src/cpp/Blobs.cpp
  gluecodium/src/main/resources/templates/jni/utils/JniCppConversionUtilsImplementation.mustache
Labels: bug, java

#937 Update Dart generator to generate void return type explicitly
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartNameResolver.kt
  gluecodium/src/main/resources/templates/dart/DartFunctionSignature.mustache
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/attributes_class.dart
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/attributes_interface.dart
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/attributes_lambda.dart
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/attributes_struct.dart
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/attributes_with_comments.dart
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/attributes_with_deprecated.dart
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/multiple_attributes_dart.dart
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/special_attributes.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/comments_interface.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/comments_links.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/excluded_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/excluded_comments_only.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/internal_class_with_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/map_scene.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/platform_comments.dart
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/errors.dart
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/errors_interface.dart
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/smoke/enums.dart
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/smoke/external_class.dart
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/smoke/external_interface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/child_class_from_class.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/child_class_from_interface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/child_interface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/parent_class.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/parent_interface.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/lambdas.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/lambdas_with_structured_types.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/calculator_listener.dart
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/lib/src/smoke/special_names.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/outer_struct.dart
  gluecodium/src/test/resources/smoke/platform_names/output/dart/lib/src/smoke/wee_listener.dart
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/enable_if_enabled.dart
  gluecodium/src/test/resources/smoke/stubs_classes/output/dart/lib/src/smoke/some_class.dart
  gluecodium/src/test/resources/smoke/stubs_structs/output/dart/lib/src/smoke/struct_with_methods.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/internal_class.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/internal_class_with_functions.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/internal_interface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/public_type_collection.dart
Labels: bug, dart

#924 Fix generated Dart code for "stubs" mode
  CHANGELOG.md
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/test/resources/smoke/stubs_classes/output/dart/lib/src/smoke/some_class.dart
  gluecodium/src/test/resources/smoke/stubs_structs/output/dart/lib/src/smoke/struct_with_constructor.dart
  gluecodium/src/test/resources/smoke/stubs_structs/output/dart/lib/src/smoke/struct_with_methods.dart
Labels: bug, dart

#938 Add automatic finalizers for Lambdas in Dart
  CHANGELOG.md
  gluecodium/src/main/resources/templates/dart/DartLambda.mustache
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/attributes_lambda.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/excluded_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/excluded_comments_only.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/map_scene.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_Lambdas.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_Lambdas.h
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_StandaloneProducer.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_StandaloneProducer.h
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/class_with_internal_lambda.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/lambdas.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/lambdas_with_structured_types.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/standalone_producer.dart
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/ffi/ffi_smoke_SpecialNamesInterface.cpp
Labels: dart, enhancement

#941 Fix usage of `Locale` hash function in C++ sets and maps
  CHANGELOG.md
  functional-tests/functional/input/lime/Locales.lime
  functional-tests/functional/input/src/cpp/Locales.cpp
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppLibraryIncludes.kt
  gluecodium/src/test/resources/smoke/locales/input/Locales.lime
  gluecodium/src/test/resources/smoke/locales/output/cbridge/src/GenericCollections.cpp
  gluecodium/src/test/resources/smoke/locales/output/cpp/include/smoke/Locales.h
  gluecodium/src/test/resources/smoke/locales/output/dart/ffi/GenericTypesConversion.cpp
  gluecodium/src/test/resources/smoke/locales/output/lime/smoke/Locales.lime
  gluecodium/src/test/resources/smoke/locales/output/swift/smoke/Locales.swift
  gluecodium/src/test/resources/smoke/nesting/output/cbridge/src/smoke/cbridge_OuterStruct.cpp
  gluecodium/src/test/resources/smoke/nesting/output/cpp/include/smoke/OuterStruct.h
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterStruct.cpp
Labels: bug, c++

#942 Fix @Optimized lists as fields in Java
  CHANGELOG.md
  functional-tests/functional/android/src/test/java/com/here/android/test/BlobsTest.java
  functional-tests/functional/android/src/test/java/com/here/android/test/ListenerRoundtripTest.java
  functional-tests/scripts/build-android-functional
  gluecodium/src/main/resources/templates/jni/StructConversionImplementation.mustache
  gluecodium/src/test/resources/smoke/generic_types/output/android/jni/com_example_smoke_UseOptimizedListStruct__Conversion.cpp
Labels: bug, java

#943 Fix compilation of Java generated code on Mac
  CHANGELOG.md
  gluecodium/src/main/resources/templates/jni/utils/JniReferenceHeader.mustache
Labels: bug, java

#945 Fix CBridge warning about C99 feature
  CHANGELOG.md
  gluecodium/src/main/resources/templates/cbridge/CBridgeFunctionDefinition.mustache
  gluecodium/src/test/resources/smoke/constructors/output/cbridge/src/smoke/cbridge_Constructors.cpp
  gluecodium/src/test/resources/smoke/errors/output/cbridge/src/smoke/cbridge_Errors.cpp
  gluecodium/src/test/resources/smoke/errors/output/cbridge/src/smoke/cbridge_ErrorsInterface.cpp
  gluecodium/src/test/resources/smoke/name_rules/output/cbridge/src/namerules/cbridge_NameRules.cpp
  gluecodium/src/test/resources/smoke/structs/output/cbridge/src/smoke/cbridge_StructsWithMethods.cpp
  gluecodium/src/test/resources/smoke/structs/output/cbridge/src/smoke/cbridge_StructsWithMethodsInterface.cpp
Labels: bug, swift

#948 Normalize FFI names for nullable basic types
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiNameResolver.kt
  gluecodium/src/main/resources/templates/dart/DartBuiltInTypesConversion.mustache
  gluecodium/src/main/resources/templates/ffi/FfiNullableHandlesHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiNullableHandlesImpl.mustache
Labels: dart

#958 Clean build dir between two Android test suites on CI
  .github/workflows/functional-tests.yml
Labels: ci

#950 Ignore Parcelable attribute for external Java structs (#917)
  functional-tests/functional/android/src/test/java/com/here/android/test/ExternalTypesTest.java
  functional-tests/functional/input/lime/JavaExternalTypes.lime
  functional-tests/functional/input/src/android/java/com/here/android/AnExternalStruct.java
  functional-tests/functional/input/src/android/java/com/here/android/ExternalStructMarkedAsSerializableConverter.java
  gluecodium/src/main/resources/templates/java/JavaStruct.mustache
  gluecodium/src/test/resources/smoke/external_types/input/SerializableExternalCombination.lime
  gluecodium/src/test/resources/smoke/external_types/output/android/com/example/dontsmoke/ExternalMarkedAsSerializable.java
  gluecodium/src/test/resources/smoke/external_types/output/android/com/example/dontsmoke/SerializableStructWithExternalField.java
Labels: bug, dart

#960 Fix Dart FFI missing include for top-level lambdas
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_StandaloneProducer.cpp
Labels: bug, dart

#952 Fix unnecessary cast in Dart class/interface equality operator
  CHANGELOG.md
  gluecodium/src/main/resources/templates/dart/DartEqualityOperator.mustache
  gluecodium/src/test/resources/smoke/equatable/output/dart/lib/src/smoke/equatable_interface.dart
Labels: dart

#963 Adds exclusion for functional tests to filter cpp separately
  functional-tests/functional/CMakeLists.txt
Labels: ci

#951 Don't return `void` from functions in Dart
  CHANGELOG.md
  gluecodium/src/main/resources/templates/dart/DartFunctionBody.mustache
  gluecodium/src/main/resources/templates/dart/DartFunctionException.mustache
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/attributes_class.dart
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/attributes_interface.dart
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/attributes_lambda.dart
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/attributes_struct.dart
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/attributes_with_comments.dart
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/attributes_with_deprecated.dart
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/multiple_attributes_dart.dart
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/special_attributes.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/comments_interface.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/comments_links.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/deprecation_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/deprecation_comments_only.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/excluded_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/excluded_comments_only.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/internal_class_with_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/map_scene.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/platform_comments.dart
  gluecodium/src/test/resources/smoke/dates/output/dart/lib/src/smoke/dates.dart
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/errors.dart
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/errors_interface.dart
  gluecodium/src/test/resources/smoke/escaped_names/output/dart/lib/src/package/class.dart
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/smoke/enums.dart
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/smoke/external_class.dart
  gluecodium/src/test/resources/smoke/external_types/output/dart/lib/src/smoke/external_interface.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/generic_types_with_basic_types.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/child_class_from_class.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/child_class_from_interface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/child_interface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/child_with_parent_class_references.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/parent_class.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/parent_interface.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/lambdas.dart
  gluecodium/src/test/resources/smoke/lambdas/output/dart/lib/src/smoke/lambdas_with_structured_types.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/calculator_listener.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/interface_with_static.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/listener_with_properties.dart
  gluecodium/src/test/resources/smoke/locales/output/dart/lib/src/smoke/locales.dart
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/lib/src/smoke/special_names.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/outer_struct.dart
  gluecodium/src/test/resources/smoke/nullable/output/dart/lib/src/smoke/nullable.dart
  gluecodium/src/test/resources/smoke/platform_names/output/dart/lib/src/smoke/wee_interface.dart
  gluecodium/src/test/resources/smoke/platform_names/output/dart/lib/src/smoke/wee_listener.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/properties.dart
  gluecodium/src/test/resources/smoke/properties/output/dart/lib/src/smoke/properties_interface.dart
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/enable_if_enabled.dart
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/inherit_from_skipped.dart
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/skip_proxy.dart
  gluecodium/src/test/resources/smoke/stubs_classes/output/dart/lib/src/smoke/some_class.dart
  gluecodium/src/test/resources/smoke/stubs_structs/output/dart/lib/src/smoke/struct_with_methods.dart
  gluecodium/src/test/resources/smoke/typedefs/output/dart/lib/src/smoke/type_defs.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/internal_class.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/internal_class_with_functions.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/internal_class_with_static_property.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/internal_interface.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/public_class.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/public_type_collection.dart
Labels: dart

#969 Fix the crash for overloads of a skipped function
  CHANGELOG.md
  gluecodium/src/test/resources/smoke/skip/input/SkipOverloads.lime
  lime-runtime/src/main/java/com/here/gluecodium/common/LimeModelFilter.kt
Labels: bug

#967 Use C++ name resolver in Dart FFI
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppNameResolver.kt
  gluecodium/src/test/resources/smoke/basic_types/output/dart/ffi/ffi_smoke_BasicTypes.cpp
  gluecodium/src/test/resources/smoke/constructors/output/dart/ffi/ffi_smoke_Constructors.cpp
  gluecodium/src/test/resources/smoke/dates/output/dart/ffi/ffi_smoke_Dates.cpp
  gluecodium/src/test/resources/smoke/enums/output/dart/ffi/ffi_smoke_Enums.cpp
  gluecodium/src/test/resources/smoke/equatable/output/dart/ffi/ffi_smoke_Equatable.cpp
  gluecodium/src/test/resources/smoke/equatable/output/dart/ffi/ffi_smoke_EquatableInterface.cpp
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_Errors.cpp
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_ErrorsInterface.cpp
  gluecodium/src/test/resources/smoke/external_types/output/dart/ffi/ffi_smoke_Enums.cpp
  gluecodium/src/test/resources/smoke/external_types/output/dart/ffi/ffi_smoke_ExternalClass.cpp
  gluecodium/src/test/resources/smoke/external_types/output/dart/ffi/ffi_smoke_ExternalInterface.cpp
  gluecodium/src/test/resources/smoke/external_types/output/dart/ffi/ffi_smoke_ExternalWithNoFunctions.cpp
  gluecodium/src/test/resources/smoke/external_types/output/dart/ffi/ffi_smoke_Structs.cpp
  gluecodium/src/test/resources/smoke/external_types/output/dart/ffi/ffi_smoke_UseDartExternalTypes.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/GenericTypesConversion.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/ffi_smoke_UseOptimizedList.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/ffi_smoke_UseOptimizedListStruct.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/ffi_smoke_UseOptimizedListStruct_UnreasonablyLazyClassLazyList.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/ffi_smoke_UseOptimizedList_VeryBigStructLazyList.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleClass.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleInterface.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_StructWithClass.cpp
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_StructWithInterface.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_Lambdas.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_StandaloneProducer.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_CalculatorListener.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_InterfaceWithStatic.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenerWithProperties.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenersWithReturnValues.cpp
  gluecodium/src/test/resources/smoke/locales/output/dart/ffi/ffi_smoke_Locales.cpp
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/ffi/ffi_smoke_MethodOverloads.cpp
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/ffi/ffi_smoke_SpecialNamesInterface.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_LevelOne.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterClass.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterInterface.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterStruct.cpp
  gluecodium/src/test/resources/smoke/nullable/output/dart/ffi/ffi_smoke_Nullable.cpp
  gluecodium/src/test/resources/smoke/packages/output/dart/ffi/ffi_smoke_off_NestedPackages.cpp
  gluecodium/src/test/resources/smoke/properties/output/dart/ffi/ffi_smoke_Properties.cpp
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_SkipField.cpp
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_SkipProxy.cpp
  gluecodium/src/test/resources/smoke/structs/output/dart/ffi/ffi_smoke_Structs.cpp
  gluecodium/src/test/resources/smoke/structs/output/dart/ffi/ffi_smoke_StructsWithMethods.cpp
  gluecodium/src/test/resources/smoke/typedefs/output/dart/ffi/ffi_smoke_TypeDefs.cpp
Labels: dart

#970 Make `Date` type "hashable"
  CHANGELOG.md
  functional-tests/functional/input/lime/Dates.lime
  functional-tests/functional/input/src/cpp/Dates.cpp
  gluecodium/src/main/java/com/here/gluecodium/validator/LimeGenericTypesValidator.kt
  gluecodium/src/main/resources/templates/cbridge/common/BaseHandleImpl.mustache
  gluecodium/src/test/java/com/here/gluecodium/validator/LimeGenericTypesValidatorTest.kt
  gluecodium/src/test/resources/smoke/dates/input/Dates.lime
  gluecodium/src/test/resources/smoke/dates/output/android/com/example/smoke/Dates.java
  gluecodium/src/test/resources/smoke/dates/output/android/jni/com_example_smoke_Dates.cpp
  gluecodium/src/test/resources/smoke/dates/output/cbridge/include/smoke/cbridge_Dates.h
  gluecodium/src/test/resources/smoke/dates/output/cbridge/src/smoke/cbridge_Dates.cpp
  gluecodium/src/test/resources/smoke/dates/output/cpp/include/smoke/Dates.h
  gluecodium/src/test/resources/smoke/dates/output/dart/ffi/ffi_smoke_Dates.cpp
  gluecodium/src/test/resources/smoke/dates/output/dart/lib/src/smoke/dates.dart
  gluecodium/src/test/resources/smoke/dates/output/lime/smoke/Dates.lime
  gluecodium/src/test/resources/smoke/dates/output/swift/smoke/Dates.swift
Labels: bug

#973 Add support for specifying C++ type for `Date` type
  CHANGELOG.md
  docs/lime_idl.md
  functional-tests/functional/android/src/test/java/com/here/android/test/DatesTest.java
  functional-tests/functional/dart/test/Dates_test.dart
  functional-tests/functional/input/lime/Dates.lime
  functional-tests/functional/input/src/cpp/Dates.cpp
  functional-tests/functional/swift/Tests/DatesTests.swift
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeCppNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppNameResolver.kt
  gluecodium/src/main/resources/templates/jni/utils/FieldAccessMethodsHeader.mustache
  gluecodium/src/main/resources/templates/jni/utils/FieldAccessMethodsImplementation.mustache
  gluecodium/src/test/resources/smoke/dates/input/Dates.lime
  gluecodium/src/test/resources/smoke/dates/output/android/jni/com_example_smoke_DatesSteady.cpp
  gluecodium/src/test/resources/smoke/dates/output/cbridge/src/smoke/cbridge_DatesSteady.cpp
  gluecodium/src/test/resources/smoke/dates/output/cpp/include/smoke/DatesSteady.h
  gluecodium/src/test/resources/smoke/dates/output/dart/ffi/ffi_smoke_DatesSteady.cpp
  gluecodium/src/test/resources/smoke/dates/output/lime/smoke/DatesSteady.lime
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeConverter.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeAttributeValueType.kt
Labels: enhancement
