Repository heremaps/gluecodium, pull requests merged in 2021-04, with the labels that each got.

#861 Add support for `@EnableIf` attribute
  CHANGELOG.md
  docs/lime_idl.md
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/input/lime/EnableIfEnabled.lime
  functional-tests/functional/input/lime/EnableIfSkipped.lime
  functional-tests/functional/input/src/android/java/com/here/android/SkippedMe.java
  functional-tests/functional/input/src/android/java/com/here/android/SkippedMeToo.java
  functional-tests/functional/input/src/cpp/EnableIfEnabled.cpp
  functional-tests/functional/input/src/dart/skipped_me.dart
  functional-tests/functional/input/src/dart/skipped_me_too.dart
  functional-tests/functional/input/src/swift/SkippedMe.swift
  functional-tests/functional/input/src/swift/SkippedMeToo.swift
  gluecodium/src/main/java/com/here/gluecodium/Gluecodium.kt
  gluecodium/src/test/resources/smoke/skip/input/EnableIf.lime
  gluecodium/src/test/resources/smoke/skip/input/commandlineoptions.txt
  gluecodium/src/test/resources/smoke/skip/output/android/com/example/smoke/EnableIfEnabled.java
  gluecodium/src/test/resources/smoke/skip/output/android/com/example/smoke/EnableIfSkipped.java
  gluecodium/src/test/resources/smoke/skip/output/android/jni/com_example_smoke_EnableIfEnabled.h
  gluecodium/src/test/resources/smoke/skip/output/android/jni/com_example_smoke_EnableIfSkipped.h
  gluecodium/src/test/resources/smoke/skip/output/cbridge/include/smoke/cbridge_EnableIfEnabled.h
  gluecodium/src/test/resources/smoke/skip/output/cbridge/include/smoke/cbridge_EnableIfSkipped.h
  gluecodium/src/test/resources/smoke/skip/output/cpp/include/smoke/EnableIfEnabled.h
  gluecodium/src/test/resources/smoke/skip/output/cpp/include/smoke/EnableIfSkipped.h
  gluecodium/src/test/resources/smoke/skip/output/cpp/include/smoke/EnableIfTypesEnabled.h
  gluecodium/src/test/resources/smoke/skip/output/cpp/include/smoke/EnableIfTypesSkipped.h
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_EnableIfEnabled.h
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_EnableIfSkipped.h
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/enable_if_enabled.dart
  gluecodium/src/test/resources/smoke/skip/output/dart/lib/src/smoke/enable_if_skipped.dart
  gluecodium/src/test/resources/smoke/skip/output/lime/smoke/EnableIfEnabled.lime
  gluecodium/src/test/resources/smoke/skip/output/swift/smoke/EnableIfEnabled.swift
  gluecodium/src/test/resources/smoke/skip/output/swift/smoke/EnableIfSkipped.swift
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeConverter.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeAttributeType.kt
  tools/Lime_IDL_file_type_for_IntelliJ.jar
Labels: enhancement

#863 Add `@Optimized` attribute to LIME IDL grammar
  docs/lime_idl.md
  gluecodium/src/main/java/com/here/gluecodium/Gluecodium.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/validator/LimeOptimizedListsValidator.kt
  gluecodium/src/test/java/com/here/gluecodium/validator/LimeOptimizedListsValidatorTest.kt
  gluecodium/src/test/resources/smoke/generic_types/input/OptimizedList.lime
  gluecodium/src/test/resources/smoke/generic_types/output/cpp/include/smoke/UseOptimizedList.h
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeConverter.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeAttributeType.kt
  tools/Lime_IDL_file_type_for_IntelliJ.jar
Labels: c++, enhancement

#864 Add "optimized lists" support in Java generator
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/android/src/test/java/com/here/android/test/OptimizedListsTest.java
  functional-tests/functional/input/lime/OptimizedList.lime
  functional-tests/functional/input/src/cpp/OptimizedList.cpp
  gluecodium/src/main/java/com/here/gluecodium/generator/common/OptimizedListsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/common/templates/TemplateEngine.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaImportResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniMangledNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniTemplates.kt
  gluecodium/src/main/resources/templates/java/AbstractNativeList.mustache
  gluecodium/src/main/resources/templates/java/JavaClass.mustache
  gluecodium/src/main/resources/templates/java/JavaStruct.mustache
  gluecodium/src/main/resources/templates/java/LazyNativeList.mustache
  gluecodium/src/main/resources/templates/jni/Implementation.mustache
  gluecodium/src/main/resources/templates/jni/LazyNativeListHeader.mustache
  gluecodium/src/main/resources/templates/jni/LazyNativeListImpl.mustache
  gluecodium/src/main/resources/templates/jni/StructConversionImplementation.mustache
  gluecodium/src/main/resources/templates/jni/utils/ArrayConversionUtilsHeader.mustache
  gluecodium/src/test/resources/smoke/generic_types/output/android/com/example/AbstractNativeList.java
  gluecodium/src/test/resources/smoke/generic_types/output/android/com/example/smoke/UseOptimizedList.java
  gluecodium/src/test/resources/smoke/generic_types/output/android/com/example/smoke/UseOptimizedListStruct.java
  gluecodium/src/test/resources/smoke/generic_types/output/android/jni/com_example_smoke_UseOptimizedList.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/android/jni/com_example_smoke_UseOptimizedListStruct_UnreasonablyLazyClassLazyNativeList.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/android/jni/com_example_smoke_UseOptimizedListStruct_UnreasonablyLazyClassLazyNativeList.h
  gluecodium/src/test/resources/smoke/generic_types/output/android/jni/com_example_smoke_UseOptimizedListStruct__Conversion.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/android/jni/com_example_smoke_UseOptimizedList_VeryBigStructLazyNativeList.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/android/jni/com_example_smoke_UseOptimizedList_VeryBigStructLazyNativeList.h
Labels: bug, enhancement, java

#866 Fix Dart positional defaults for collection types
  .idea/jarRepositories.xml
  CHANGELOG.md
  functional-tests/functional/input/lime/PositionalDefaults.lime
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/test/resources/smoke/defaults/input/PositionalDefaults.lime
  gluecodium/src/test/resources/smoke/defaults/output/dart/lib/src/smoke/struct_with_collection_defaults.dart
Labels: bug, dart

#869 Fix Java `@Optimized` list impl to avoid using Java 8
  CHANGELOG.md
  gluecodium/src/main/resources/templates/java/AbstractNativeList.mustache
  gluecodium/src/test/resources/smoke/generic_types/output/android/com/example/AbstractNativeList.java
Labels: bug, java

#865 Add "optimized lists" support in Swift generator
  functional-tests/functional/input/lime/OptimizedList.lime
  functional-tests/functional/swift/Tests/OptimizedListsTests.swift
  functional-tests/functional/swift/main.swift
  gluecodium/build.gradle
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeCppNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeNameRules.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftNameResolver.kt
  gluecodium/src/main/resources/swift/CollectionOf.swift
  gluecodium/src/main/resources/templates/cbridge/CBridgeFunctionDefinition.mustache
  gluecodium/src/main/resources/templates/cbridge/CBridgeStructImpl.mustache
  gluecodium/src/main/resources/templates/cbridge/LazyListHeader.mustache
  gluecodium/src/main/resources/templates/cbridge/LazyListImpl.mustache
  gluecodium/src/main/resources/templates/swift/CommonClassParts.mustache
  gluecodium/src/main/resources/templates/swift/InitCollectionOf.mustache
  gluecodium/src/main/resources/templates/swift/SwiftFunctionBody.mustache
  gluecodium/src/main/resources/templates/swift/SwiftStructConversion.mustache
  gluecodium/src/main/resources/templates/swift/SwiftStructDefinition.mustache
  gluecodium/src/test/resources/smoke/generic_types/input/OptimizedList.lime
  gluecodium/src/test/resources/smoke/generic_types/output/cbridge/include/GenericCollections.h
  gluecodium/src/test/resources/smoke/generic_types/output/cbridge/include/smoke/cbridge_UseOptimizedListStruct_VeryBigStructLazyList.h
  gluecodium/src/test/resources/smoke/generic_types/output/cbridge/include/smoke/cbridge_UseOptimizedList_UnreasonablyLazyClassLazyList.h
  gluecodium/src/test/resources/smoke/generic_types/output/cbridge/src/GenericCollections.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/cbridge/src/smoke/cbridge_UseOptimizedList.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/cbridge/src/smoke/cbridge_UseOptimizedListStruct.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/cbridge/src/smoke/cbridge_UseOptimizedListStruct_VeryBigStructLazyList.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/cbridge/src/smoke/cbridge_UseOptimizedList_UnreasonablyLazyClassLazyList.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/swift/Collections.swift
  gluecodium/src/test/resources/smoke/generic_types/output/swift/smoke/UseOptimizedList.swift
  gluecodium/src/test/resources/smoke/generic_types/output/swift/smoke/UseOptimizedListStruct.swift
Labels: enhancement, swift

#871 Fix nesting+inheritance mixup
  CHANGELOG.md
  functional-tests/functional/input/lime/NestedContainers.lime
  gluecodium/src/main/resources/templates/cpp/CppClass.mustache
  gluecodium/src/main/resources/templates/cpp/CppClassImpl.mustache
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/java/JavaClass.mustache
  gluecodium/src/main/resources/templates/java/JavaInterface.mustache
  gluecodium/src/main/resources/templates/jni/Header.mustache
  gluecodium/src/main/resources/templates/jni/Implementation.mustache
  gluecodium/src/main/resources/templates/lime/LimeClass.mustache
  gluecodium/src/main/resources/templates/lime/LimeInterface.mustache
  gluecodium/src/main/resources/templates/swift/CommonClassParts.mustache
  gluecodium/src/main/resources/templates/swift/SwiftClassDefinition.mustache
  gluecodium/src/main/resources/templates/swift/SwiftInterfaceDefinition.mustache
  gluecodium/src/test/resources/smoke/nesting/input/NestedContainers.lime
  gluecodium/src/test/resources/smoke/nesting/output/android/com/example/smoke/OuterClassWithInheritance.java
  gluecodium/src/test/resources/smoke/nesting/output/cpp/include/smoke/OuterClassWithInheritance.h
  gluecodium/src/test/resources/smoke/nesting/output/cpp/src/smoke/OuterClassWithInheritance.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/outer_class_with_inheritance.dart
  gluecodium/src/test/resources/smoke/nesting/output/lime/smoke/OuterClassWithInheritance.lime
  gluecodium/src/test/resources/smoke/nesting/output/swift/smoke/OuterClassWithInheritance.swift
Labels: bug, c++, dart, swift

#873 Add "optimized lists" support in Dart generator
  CHANGELOG.md
  docs/lime_idl.md
  functional-tests/functional/dart/main.dart
  functional-tests/functional/dart/test/OptimizedLists_test.dart
  functional-tests/functional/input/lime/OptimizedList.lime
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppNameResolver.kt
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartFunctionBody.mustache
  gluecodium/src/main/resources/templates/dart/DartLazyList.mustache
  gluecodium/src/main/resources/templates/dart/DartOptimizedLists.mustache
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/main/resources/templates/dart/InitLazyList.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/main/resources/templates/ffi/FfiLazyListHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiLazyListImpl.mustache
  gluecodium/src/test/resources/smoke/generic_types/input/OptimizedList.lime
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/GenericTypesConversion.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/ffi_smoke_UseOptimizedList.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/ffi_smoke_UseOptimizedListStruct.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/ffi_smoke_UseOptimizedListStruct_UnreasonablyLazyClassLazyList.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/ffi_smoke_UseOptimizedListStruct_UnreasonablyLazyClassLazyList.h
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/ffi_smoke_UseOptimizedList_VeryBigStructLazyList.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/ffi_smoke_UseOptimizedList_VeryBigStructLazyList.h
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/_lazy_list.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/generic_types__conversion.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/use_optimized_list.dart
  gluecodium/src/test/resources/smoke/generic_types/output/dart/lib/src/smoke/use_optimized_list_struct.dart
Labels: dart, enhancement

#878 Extract imports and includes collection logic for Dart
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartDeclarationImportResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartDeclarationImportsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportResolverBase.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartImportsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppIncludeCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppIncludeResolver.kt
Labels: dart

#879 Renames tests prefixed with 'apigen' to 'gluecodium'
  cmake/tests/unit/gluecodium_check_arguments/gluecodium_deprecate_argument-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_check_arguments/gluecodium_deprecate_argument-XFAIL/successful.regex
  cmake/tests/unit/gluecodium_check_arguments/gluecodium_deprecate_argument_renamed-XFAIL/CMakeLists.txt
  cmake/tests/unit/gluecodium_check_arguments/gluecodium_deprecate_argument_renamed-XFAIL/successful.regex
Labels: cmake

#880 Adds test to check how transit target with generated sources
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/cpp/Dummy.cpp
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/cpp/FooImpl.cpp
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/lime/foo.lime
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/test_parameters/INTERMEDIATE_LIBRARY_TYPE-interface.txt
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/test_parameters/INTERMEDIATE_LIBRARY_TYPE-object.txt
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/test_parameters/INTERMEDIATE_LIBRARY_TYPE-static.txt
Labels: cmake

#882 Adds more tests to check dependency transition
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/CMakeLists.txt
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/cpp/FooImpl.cpp
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/lime/foo.lime
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/test_parameters/INTERMEDIATE_LIBRARY_TYPE-interface.txt
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/test_parameters/INTERMEDIATE_LIBRARY_TYPE-object.txt
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/test_parameters/INTERMEDIATE_LIBRARY_TYPE-static.txt
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/test_parameters/TYPE-interface-VISIBILITY-interface.txt
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/test_parameters/TYPE-interface-VISIBILITY-public.txt
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/test_parameters/TYPE-object-VISIBILITY-interface.txt
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/test_parameters/TYPE-object-VISIBILITY-public.txt
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/test_parameters/TYPE-static-VISIBILITY-interface.txt
  cmake/tests/unit/gluecodium_generate/transit-object-dependency/test_parameters/TYPE-static-VISIBILITY-public.txt
Labels: cmake

#881 Resolve includes for type refs to type aliases in Dart FFI
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppIncludeResolver.kt
  gluecodium/src/test/resources/smoke/equatable/output/dart/ffi/ffi_smoke_Equatable.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_CalculatorListener.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenerWithProperties.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenersWithReturnValues.cpp
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/ffi/ffi_smoke_MethodOverloads.cpp
  gluecodium/src/test/resources/smoke/nullable/output/dart/ffi/ffi_smoke_Nullable.cpp
  gluecodium/src/test/resources/smoke/structs/output/dart/ffi/ffi_smoke_Structs.cpp
Labels: bug, dart
