Repository heremaps/gluecodium, pull requests merged in 2021-03, with the labels that each got.

#802 Run functional tests for C++ 14 and C++ 17 on CI
  .github/workflows/functional-tests.yml
  functional-tests/functional/input/src/cpp/Locales.cpp
  functional-tests/functional/input/src/cpp/NullableCollections.cpp
  functional-tests/functional/input/src/cpp/NullableInterfaceImpl.cpp
Labels: c++, ci

#812 Extract LimeImportsCollector as a stand-alone class
  gluecodium/src/main/java/com/here/gluecodium/generator/common/ImportsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/common/ImportsResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/lime/LimeGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/lime/LimeImportsCollector.kt
  gluecodium/src/test/resources/smoke/comments/output/lime/smoke/CommentsLinks.lime
  gluecodium/src/test/resources/smoke/comments/output/lime/smoke/UnicodeComments.lime
  gluecodium/src/test/resources/smoke/defaults/output/lime/smoke/StructWithInitializerDefaults.lime
  gluecodium/src/test/resources/smoke/defaults/output/lime/smoke/TypesWithDefaults.lime
  gluecodium/src/test/resources/smoke/escaped_names/output/lime/package/class.lime
  gluecodium/src/test/resources/smoke/structs/output/lime/fire/StructsQualifiedType.lime
  gluecodium/src/test/resources/smoke/structs/output/lime/smoke/Structs.lime
Labels: lime

#815 Update CI to use Dart 2.12 stable
  .github/workflows/functional-tests.yml
  gluecodium/src/main/resources/templates/dart/DartPubspec.mustache
Labels: ci, dart

#821 Fix detection of Swift constructor overrides
  CHANGELOG.md
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/input/lime/ConstructorOverride.lime
  functional-tests/functional/input/src/cpp/Inheritance.cpp
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGeneratorPredicates.kt
  gluecodium/src/test/resources/smoke/inheritance/input/ConstructorOverride.lime
  gluecodium/src/test/resources/smoke/inheritance/output/swift/smoke/ChildWithCustomConstructor.swift
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeSignatureResolver.kt
Labels: bug, swift

#823 Extract "include" collection logic from CppGenerator
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeImplIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/common/ImportsResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppForwardDeclarationsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppHeaderIncludesCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppImplIncludesCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppImportsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniTemplates.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/lime/LimeGenerator.kt
Labels: c++

#824 Extract "imports" collection logic from JavaImportsResolver
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaImportCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaImportResolver.kt
Labels: java

#828 Fixes typos in gluecodium-cmake documentation
  cmake/modules/gluecodium/swift/TargetLinkFrameworks.cmake
Labels: cmake

#829 Extracts task to build native code for host
  functional-tests/build.gradle
  functional-tests/functional/build.gradle
Labels: cmake

#827 Extract "includes" collection logic from JniIncludeResolver
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniGeneratorPredicates.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniIncludeCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniTemplates.kt
Labels: java

#830 Switches off obsolete cmake API for functional tests
  functional-tests/CMakeLists.txt
Labels: cmake

#826 Removes old generated code before generating new
  cmake/modules/gluecodium/gluecodium/KnownOptionalProperties.cmake
  cmake/modules/gluecodium/gluecodium/details/runGenerate.cmake
Labels: cmake

#832 Extract "imports" collection logic from SwiftGenerator
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftImportsCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/swift/SwiftImportsResolver.kt
Labels: swift

#831 Switches namerules tests to the new cmake API
  .github/workflows/functional-tests.yml
  functional-tests/build.gradle
  functional-tests/gradle/wrapper/gradle-wrapper.jar
  functional-tests/namerules/CMakeLists.txt
  functional-tests/namerules/android/app/build.gradle
  functional-tests/namerules/android/build.gradle
  functional-tests/namerules/android/gradle.properties
  functional-tests/namerules/android/gradle/wrapper/gradle-wrapper.properties
  functional-tests/namerules/android/gradlew
  functional-tests/namerules/android/gradlew.bat
  functional-tests/namerules/android/lib/.gitignore
  functional-tests/namerules/android/lib/CMakeLists.txt
  functional-tests/namerules/android/lib/build.gradle
  functional-tests/namerules/android/lib/src/main/AndroidManifest.xml
  functional-tests/namerules/android/settings.gradle
  functional-tests/namerules/android/src/test/java/com/here/gluecodium/test/namerules/NameRulesTest.kt
  functional-tests/namerules/build.gradle
  functional-tests/namerules/input/src/android/AndroidManifest.xml
  functional-tests/scripts/build-android-functional
  functional-tests/scripts/build-android-namerules
  functional-tests/scripts/build-swift-namerules
  functional-tests/scripts/clean
  functional-tests/scripts/valgrind_suppressions
  functional-tests/settings.gradle
  gluecodium-gradle/build.gradle
Labels: ci, cmake

#834 Removes common generated code if it's not in source sets
  cmake/modules/gluecodium/gluecodium/details/runGenerate.cmake
Labels: cmake

#836 Extract "includes" collection logic for CBridge
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeFileNames.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeGenerator.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeHeaderIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeImplIncludeCollector.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeImplIncludeResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeIncludeCollector.kt
Labels: swift

#838 Remove leftover template of removed Manifest generator
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaGenerator.kt
  gluecodium/src/main/resources/templates/android/AndroidManifest.mustache
Labels: java

#841 Don't force Dart nameless constructors
  gluecodium/src/main/resources/templates/dart/DartRedirectConstructor.mustache
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/test/resources/smoke/constructors/input/Constructors.lime
  gluecodium/src/test/resources/smoke/constructors/output/dart/lib/src/smoke/single_named_constructor.dart
  gluecodium/src/test/resources/smoke/constructors/output/dart/lib/src/smoke/single_nameless_constructor.dart
  gluecodium/src/test/resources/smoke/platform_names/output/dart/lib/src/smoke/wee_interface.dart
  gluecodium/src/test/resources/smoke/platform_names/output/dart/lib/src/smoke/wee_types.dart
Labels: bug, dart

#844 Add line breaks in Dart function docs
  CHANGELOG.md
  gluecodium/src/main/resources/templates/dart/DartFunctionDocs.mustache
  gluecodium/src/test/resources/smoke/attributes/output/dart/lib/src/smoke/attributes_with_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/comments_interface.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/comments_links.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/deprecation_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/deprecation_comments_only.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/excluded_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/internal_class_with_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/multi_line_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/platform_comments.dart
  gluecodium/src/test/resources/smoke/comments/output/dart/lib/src/smoke/unicode_comments.dart
Labels: bug, dart

#847 Add support for nested exception declarations in structs
  CHANGELOG.md
  docs/lime_idl.md
  functional-tests/functional/android/src/test/java/com/here/android/test/NestingTest.java
  functional-tests/functional/dart/test/Nesting_test.dart
  functional-tests/functional/input/lime/NestingInStruct.lime
  functional-tests/functional/input/src/cpp/NestingInStruct.cpp
  functional-tests/functional/swift/Tests/NestingTests.swift
  gluecodium/src/main/java/com/here/gluecodium/generator/lime/LimeImportsCollector.kt
  gluecodium/src/main/resources/templates/dart/DartStruct.mustache
  gluecodium/src/main/resources/templates/swift/SwiftStructDefinition.mustache
  gluecodium/src/test/resources/smoke/nesting/input/NestingInStruct.lime
  gluecodium/src/test/resources/smoke/nesting/output/android/com/example/smoke/OuterStruct.java
  gluecodium/src/test/resources/smoke/nesting/output/android/jni/com_example_smoke_OuterStruct.cpp
  gluecodium/src/test/resources/smoke/nesting/output/cbridge/include/smoke/cbridge_OuterStruct.h
  gluecodium/src/test/resources/smoke/nesting/output/cbridge/src/smoke/cbridge_OuterStruct.cpp
  gluecodium/src/test/resources/smoke/nesting/output/cpp/include/smoke/OuterStruct.h
  gluecodium/src/test/resources/smoke/nesting/output/cpp/src/smoke/OuterStruct.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterStruct.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterStruct.h
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/outer_struct.dart
  gluecodium/src/test/resources/smoke/nesting/output/lime/smoke/OuterStruct.lime
  gluecodium/src/test/resources/smoke/nesting/output/swift/smoke/OuterStruct.swift
  lime-loader/src/main/antlr/LimeParser.g4
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeModelBuilder.kt
  lime-runtime/src/main/java/com/here/gluecodium/common/LimeModelFilter.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeStruct.kt
Labels: enhancement

#850 Use C++ root namespace in forward declarations
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppGenerator.kt
  gluecodium/src/main/resources/templates/cpp/CppHeader.mustache
  gluecodium/src/test/resources/smoke/namespace_basic/input/Basic.lime
  gluecodium/src/test/resources/smoke/namespace_basic/output/cpp/include/root/space/smoke/BasicForwardDeclarations.h
Labels: bug, c++

#852 Fix Android functional tests on CI
  .github/workflows/functional-tests.yml
  functional-tests/build.gradle
  functional-tests/functional/build.gradle
  functional-tests/namerules/build.gradle
Labels: ci, java

#853 Don't use "Impl" suffix in JNI unless needed
  gluecodium/src/main/java/com/here/gluecodium/generator/jni/JniMangledNameResolver.kt
  gluecodium/src/main/resources/templates/jni/FunctionSignaturePrefix.mustache
  gluecodium/src/main/resources/templates/jni/Header.mustache
  gluecodium/src/test/resources/smoke/errors/output/android/jni/com_example_smoke_ErrorsInterfaceImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/errors/output/android/jni/com_example_smoke_ErrorsInterfaceImplCppProxy.h
  gluecodium/src/test/resources/smoke/escaped_names/output/android/jni/com_example_package_InterfaceImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/external_types/output/android/jni/com_example_smoke_ExternalInterface__Conversion.cpp
  gluecodium/src/test/resources/smoke/inheritance/output/android/jni/com_example_smoke_ChildInterfaceImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/inheritance/output/android/jni/com_example_smoke_ChildInterfaceImplCppProxy.h
  gluecodium/src/test/resources/smoke/instances/output/android/jni/com_example_smoke_SimpleInterface__Conversion.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/android/jni/com_example_smoke_Lambdas_ConfounderImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/android/jni/com_example_smoke_Lambdas_Confounder__Conversion.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/android/jni/com_example_smoke_Lambdas_IndexerImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/android/jni/com_example_smoke_Lambdas_Indexer__Conversion.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/android/jni/com_example_smoke_Lambdas_ProducerImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/android/jni/com_example_smoke_Lambdas_ProducerImplCppProxy.h
  gluecodium/src/test/resources/smoke/listeners/output/android/jni/com_example_smoke_CalculatorListenerImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/listeners/output/android/jni/com_example_smoke_CalculatorListenerImplCppProxy.h
  gluecodium/src/test/resources/smoke/listeners/output/android/jni/com_example_smoke_CalculatorListener__Conversion.cpp
  gluecodium/src/test/resources/smoke/listeners/output/android/jni/com_example_smoke_ListenerWithNullableImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/listeners/output/android/jni/com_example_smoke_ListenerWithPropertiesImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/listeners/output/android/jni/com_example_smoke_ListenerWithProperties__Conversion.cpp
  gluecodium/src/test/resources/smoke/listeners/output/android/jni/com_example_smoke_ListenersWithReturnValuesImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/listeners/output/android/jni/com_example_smoke_ListenersWithReturnValues__Conversion.cpp
  gluecodium/src/test/resources/smoke/nesting/output/android/jni/com_example_smoke_OuterClass_InnerInterfaceImplCppProxy.h
  gluecodium/src/test/resources/smoke/nesting/output/android/jni/com_example_smoke_OuterStruct_InnerInterfaceImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/platform_names/output/android/jni/com_example_smoke_barListenerImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/skip/output/android/jni/com_example_smoke_SkipProxyImplCppProxy.cpp
Labels: java

#855 Add support for static functions and properties in interfaces
  CHANGELOG.md
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/android/src/test/java/com/here/android/test/InterfaceWithStaticTest.java
  functional-tests/functional/dart/main.dart
  functional-tests/functional/dart/test/InterfaceWithStatic_test.dart
  functional-tests/functional/input/lime/InterfaceWithStatic.lime
  functional-tests/functional/input/src/cpp/InterfaceWithStatic.cpp
  functional-tests/functional/swift/Tests/InterfaceWithStaticTest.swift
  functional-tests/functional/swift/main.swift
  functional-tests/scripts/valgrind_suppressions
  gluecodium/src/main/java/com/here/gluecodium/generator/java/JavaGeneratorPredicates.kt
  gluecodium/src/main/resources/templates/cbridge/FunctionTable.mustache
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartInterface.mustache
  gluecodium/src/main/resources/templates/dart/DartProperty.mustache
  gluecodium/src/main/resources/templates/dart/DartRedirectProperty.mustache
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/main/resources/templates/ffi/FfiProxyDeclaration.mustache
  gluecodium/src/main/resources/templates/java/JavaInterface.mustache
  gluecodium/src/main/resources/templates/java/JavaMethodSignature.mustache
  gluecodium/src/main/resources/templates/jni/CppProxyHeader.mustache
  gluecodium/src/main/resources/templates/jni/CppProxyImplementation.mustache
  gluecodium/src/main/resources/templates/swift/GetReference.mustache
  gluecodium/src/test/resources/smoke/errors/output/android/com/example/smoke/ErrorsInterface.java
  gluecodium/src/test/resources/smoke/errors/output/android/jni/com_example_smoke_ErrorsInterfaceImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/errors/output/android/jni/com_example_smoke_ErrorsInterfaceImplCppProxy.h
  gluecodium/src/test/resources/smoke/errors/output/cbridge/include/smoke/cbridge_ErrorsInterface.h
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_ErrorsInterface.cpp
  gluecodium/src/test/resources/smoke/errors/output/dart/lib/src/smoke/errors_interface.dart
  gluecodium/src/test/resources/smoke/errors/output/swift/smoke/ErrorsInterface.swift
  gluecodium/src/test/resources/smoke/instances/output/dart/lib/src/smoke/simple_interface.dart
  gluecodium/src/test/resources/smoke/listeners/input/InterfaceWithStatic.lime
  gluecodium/src/test/resources/smoke/listeners/output/android/com/example/smoke/InterfaceWithStatic.java
  gluecodium/src/test/resources/smoke/listeners/output/android/jni/com_example_smoke_InterfaceWithStaticImpl.cpp
  gluecodium/src/test/resources/smoke/listeners/output/android/jni/com_example_smoke_InterfaceWithStaticImpl.h
  gluecodium/src/test/resources/smoke/listeners/output/android/jni/com_example_smoke_InterfaceWithStaticImplCppProxy.cpp
  gluecodium/src/test/resources/smoke/listeners/output/android/jni/com_example_smoke_InterfaceWithStaticImplCppProxy.h
  gluecodium/src/test/resources/smoke/listeners/output/cbridge/include/smoke/cbridge_InterfaceWithStatic.h
  gluecodium/src/test/resources/smoke/listeners/output/cbridge/src/smoke/cbridge_InterfaceWithStatic.cpp
  gluecodium/src/test/resources/smoke/listeners/output/cpp/include/smoke/InterfaceWithStatic.h
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_InterfaceWithStatic.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_InterfaceWithStatic.h
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/calculator_listener.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/interface_with_static.dart
  gluecodium/src/test/resources/smoke/listeners/output/dart/lib/src/smoke/listeners_with_return_values.dart
  gluecodium/src/test/resources/smoke/listeners/output/swift/smoke/InterfaceWithStatic.swift
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/outer_class.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/outer_interface.dart
  gluecodium/src/test/resources/smoke/nesting/output/dart/lib/src/smoke/outer_struct.dart
  gluecodium/src/test/resources/smoke/platform_names/output/dart/lib/src/smoke/wee_listener.dart
  gluecodium/src/test/resources/smoke/visibility/output/dart/lib/src/smoke/internal_interface.dart
Labels: enhancement
