Repository heremaps/gluecodium, pull requests merged in 2022-05, with the labels that each got.

#1237 Removes deprecated commands to make build compatible with Dart 2.15
  .github/workflows/functional-tests.yml
  functional-tests/functional/dart/CMakeLists.txt
Labels: dart, ci

#1314 Use own CBridge functions in a child class in Swift
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeNameResolver.kt
  gluecodium/src/main/resources/templates/cbridge/CBridgeClassHeader.mustache
  gluecodium/src/main/resources/templates/cbridge/CBridgeClassImpl.mustache
  gluecodium/src/main/resources/templates/cbridge/CBridgeFunctionSignature.mustache
  gluecodium/src/main/resources/templates/swift/CommonClassParts.mustache
  gluecodium/src/main/resources/templates/swift/SwiftFunctionBody.mustache
  gluecodium/src/test/resources/smoke/inheritance/output/cbridge/include/smoke/cbridge_ChildClassFromInterface.h
  gluecodium/src/test/resources/smoke/inheritance/output/cbridge/src/smoke/cbridge_ChildClassFromInterface.cpp
  gluecodium/src/test/resources/smoke/inheritance/output/swift/smoke/ChildClassFromInterface.swift
  gluecodium/src/test/resources/smoke/multiple_inheritance/output/swift/smoke/FirstParentIsClassClass.swift
Labels: bug, swift

#1315 Use own FFI functions in a child class in Dart
  CHANGELOG.md
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiNameResolver.kt
  gluecodium/src/main/resources/templates/dart/DartClass.mustache
  gluecodium/src/main/resources/templates/dart/DartFunctionBody.mustache
  gluecodium/src/main/resources/templates/dart/DartFunctionException.mustache
  gluecodium/src/main/resources/templates/dart/DartFunctionFfiName.mustache
  gluecodium/src/main/resources/templates/ffi/FfiFunctionName.mustache
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/test/resources/smoke/inheritance/output/dart/ffi/ffi_smoke_ChildClassFromInterface.cpp
  gluecodium/src/test/resources/smoke/inheritance/output/dart/ffi/ffi_smoke_ChildClassFromInterface.h
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/child_class_from_interface.dart
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/smoke/child_with_parent_class_references.dart
  gluecodium/src/test/resources/smoke/multiple_inheritance/output/dart/lib/src/smoke/first_parent_is_class_class.dart
Labels: bug, dart

#1317 Resolve name clashes in inherited functions in Swift and Dart
  CHANGELOG.md
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/input/lime/InheritanceNameClash.lime
  gluecodium/src/main/java/com/here/gluecodium/generator/cbridge/CBridgeNameResolver.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiNameResolver.kt
  gluecodium/src/test/resources/smoke/inheritance/input/InheritanceNameClash.lime
  gluecodium/src/test/resources/smoke/inheritance/output/cbridge/include/smoke/cbridge_ChildClassNameClash.h
  gluecodium/src/test/resources/smoke/inheritance/output/dart/ffi/ffi_smoke_ChildClassNameClash.h
  gluecodium/src/test/resources/smoke/inheritance/output/dart/lib/src/_type_repository.dart
Labels: bug, swift, dart

#1320 Add explicit include for `bool` type in Dart FFI
  gluecodium/src/main/java/com/here/gluecodium/generator/ffi/FfiCppIncludeResolver.kt
  gluecodium/src/test/resources/smoke/basic_types/output/dart/ffi/ffi_smoke_BasicTypes.cpp
  gluecodium/src/test/resources/smoke/equatable/output/dart/ffi/ffi_smoke_Equatable.cpp
  gluecodium/src/test/resources/smoke/field_constructors/output/dart/ffi/ffi_smoke_ImmutableStructWithClash.cpp
  gluecodium/src/test/resources/smoke/generic_types/output/dart/ffi/GenericTypesConversion.cpp
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/ffi/ffi_smoke_MethodOverloads.cpp
  gluecodium/src/test/resources/smoke/nullable/output/dart/ffi/ffi_smoke_Nullable.cpp
  gluecodium/src/test/resources/smoke/properties/output/dart/ffi/ffi_smoke_Properties.cpp
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_EnableIfField.cpp
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_SkipFieldInPlatform.cpp
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_SkipFieldInPlatformImmutable.cpp
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_SkipProxy.cpp
  gluecodium/src/test/resources/smoke/structs/output/dart/ffi/ffi_smoke_Structs.cpp
  gluecodium/src/test/resources/smoke/structs/output/dart/ffi/ffi_smoke_StructsWithMethods.cpp
Labels: dart

#1326 Use `LimeReturnType.isVoid` in Dart FFI templates
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
Labels: dart

#1327 Fix indentation in Dart FFI impl files
  gluecodium/src/main/java/com/here/gluecodium/generator/common/templates/PrefixHelper.kt
  gluecodium/src/main/java/com/here/gluecodium/generator/common/templates/PrefixPartialHelper.kt
  gluecodium/src/main/resources/templates/ffi/FfiImplementation.mustache
  gluecodium/src/test/resources/smoke/constructors/output/dart/ffi/ffi_smoke_Constructors.cpp
  gluecodium/src/test/resources/smoke/dates/output/dart/ffi/ffi_smoke_Dates.cpp
  gluecodium/src/test/resources/smoke/durations/output/dart/ffi/ffi_smoke_DurationMilliseconds.cpp
  gluecodium/src/test/resources/smoke/durations/output/dart/ffi/ffi_smoke_DurationSeconds.cpp
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_Errors.cpp
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_ErrorsInterface.cpp
  gluecodium/src/test/resources/smoke/external_types/output/dart/ffi/ffi_smoke_Enums.cpp
  gluecodium/src/test/resources/smoke/external_types/output/dart/ffi/ffi_smoke_ExternalClass.cpp
  gluecodium/src/test/resources/smoke/external_types/output/dart/ffi/ffi_smoke_ExternalInterface.cpp
  gluecodium/src/test/resources/smoke/inheritance/output/dart/ffi/ffi_smoke_ChildClassFromInterface.cpp
  gluecodium/src/test/resources/smoke/inheritance/output/dart/ffi/ffi_smoke_ChildClassWithBool.cpp
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_Lambdas.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_CalculatorListener.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_InterfaceWithStatic.cpp
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_ListenerWithProperties.cpp
  gluecodium/src/test/resources/smoke/locales/output/dart/ffi/ffi_smoke_Locales.cpp
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/ffi/ffi_smoke_SpecialNames.cpp
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/ffi/ffi_smoke_SpecialNamesInterface.cpp
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterStruct.cpp
  gluecodium/src/test/resources/smoke/no_cache/output/dart/ffi/ffi_smoke_NoCacheClass.cpp
  gluecodium/src/test/resources/smoke/no_cache/output/dart/ffi/ffi_smoke_NoCacheInterface.cpp
  gluecodium/src/test/resources/smoke/nullable/output/dart/ffi/ffi_smoke_Nullable.cpp
  gluecodium/src/test/resources/smoke/properties/output/dart/ffi/ffi_smoke_Properties.cpp
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_EnableTagsInDart.cpp
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_SkipProxy.cpp
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_SkipTagsInDart.cpp
  gluecodium/src/test/resources/smoke/structs/output/dart/ffi/ffi_smoke_StructsWithMethods.cpp
  gluecodium/src/test/resources/smoke/typedefs/output/dart/ffi/ffi_smoke_TypeDefs.cpp
Labels: dart

#1328 Remove extraneous line break in "FfiHeader.mustache"
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/test/resources/smoke/basic_types/output/dart/ffi/ffi_smoke_BasicTypes.h
  gluecodium/src/test/resources/smoke/constructors/output/dart/ffi/ffi_smoke_Constructors.h
  gluecodium/src/test/resources/smoke/errors/output/dart/ffi/ffi_smoke_Errors.h
  gluecodium/src/test/resources/smoke/inheritance/output/dart/ffi/ffi_smoke_ChildClassFromClass.h
  gluecodium/src/test/resources/smoke/inheritance/output/dart/ffi/ffi_smoke_ChildClassFromInterface.h
  gluecodium/src/test/resources/smoke/inheritance/output/dart/ffi/ffi_smoke_ChildClassNameClash.h
  gluecodium/src/test/resources/smoke/inheritance/output/dart/ffi/ffi_smoke_ChildInterface.h
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleClass.h
  gluecodium/src/test/resources/smoke/instances/output/dart/ffi/ffi_smoke_SimpleInterface.h
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_Lambdas.h
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_StandaloneProducer.h
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_CalculatorListener.h
  gluecodium/src/test/resources/smoke/listeners/output/dart/ffi/ffi_smoke_InterfaceWithStatic.h
  gluecodium/src/test/resources/smoke/method_overloads/output/dart/ffi/ffi_smoke_MethodOverloads.h
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_LevelOne.h
  gluecodium/src/test/resources/smoke/nesting/output/dart/ffi/ffi_smoke_OuterStruct.h
  gluecodium/src/test/resources/smoke/nullable/output/dart/ffi/ffi_smoke_Nullable.h
  gluecodium/src/test/resources/smoke/packages/output/dart/ffi/ffi_smoke_off_NestedPackages.h
  gluecodium/src/test/resources/smoke/properties/output/dart/ffi/ffi_smoke_Properties.h
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_EnableIfEnabled.h
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_EnableIfSkipped.h
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_SkipFunctions.h
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_SkipProxy.h
  gluecodium/src/test/resources/smoke/skip/output/dart/ffi/ffi_smoke_SkipTagsOnly.h
  gluecodium/src/test/resources/smoke/structs/output/dart/ffi/ffi_smoke_Structs.h
Labels: dart

#1329 Fix a line break for lambdas in Dart FFI
  gluecodium/src/main/resources/templates/ffi/FfiHeader.mustache
  gluecodium/src/test/resources/smoke/lambdas/output/dart/ffi/ffi_smoke_Lambdas.h
Labels: dart

#1331 Hides Swift function which uses hidden C struct
  gluecodium/src/main/resources/templates/swift/SwiftLambdaConversion.mustache
Labels: swift

#1332 Add grammar and validation for `@Async` attribute
  CHANGELOG.md
  docs/async.md
  docs/lime_idl.md
  gluecodium/src/main/java/com/here/gluecodium/Gluecodium.kt
  gluecodium/src/main/java/com/here/gluecodium/validator/LimeAsyncValidator.kt
  gluecodium/src/test/java/com/here/gluecodium/validator/LimeAsyncValidatorTest.kt
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeConverter.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeAttributeType.kt
  tools/Lime_IDL_file_type_for_IntelliJ.jar
Labels: enhancement, lime

#1337 Add support for enumerator aliases
  CHANGELOG.md
  docs/lime_idl.md
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/android/src/test/java/com/here/android/test/EnumsTest.java
  functional-tests/functional/dart/test/Enums_test.dart
  functional-tests/functional/input/lime/EnumeratorAlias.lime
  functional-tests/functional/input/src/cpp/Enums.cpp
  functional-tests/functional/swift/Tests/EnumsTests.swift
  gluecodium/src/main/resources/templates/dart/DartEnumeration.mustache
  gluecodium/src/main/resources/templates/java/JavaEnumeration.mustache
  gluecodium/src/main/resources/templates/java/JavaEnumerator.mustache
  gluecodium/src/main/resources/templates/jni/EnumConversionImplementation.mustache
  gluecodium/src/main/resources/templates/swift/SwiftEnumDefinition.mustache
  gluecodium/src/test/resources/smoke/enums/input/EnumeratorAlias.lime
  gluecodium/src/test/resources/smoke/enums/output/android/com/example/smoke/EnumWithAlias.java
  gluecodium/src/test/resources/smoke/enums/output/android/jni/com_example_smoke_EnumWithAlias__Conversion.cpp
  gluecodium/src/test/resources/smoke/enums/output/cpp/include/smoke/EnumWithAlias.h
  gluecodium/src/test/resources/smoke/enums/output/dart/lib/src/smoke/enum_with_alias.dart
  gluecodium/src/test/resources/smoke/enums/output/lime/smoke/EnumWithAlias.lime
  gluecodium/src/test/resources/smoke/enums/output/swift/smoke/EnumWithAlias.swift
  gluecodium/src/test/resources/smoke/enums/output/swift/smoke/EnumWithAliasWithDeprecated.swift
  lime-loader/src/main/java/com/here/gluecodium/loader/AntlrLimeModelBuilder.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeEnumeration.kt
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeEnumerator.kt
Labels: enhancement

#1342 Fix compilation for `@Async` + `@Cpp(Name)`
  CHANGELOG.md
  functional-tests/functional/input/lime/Async.lime
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartAsyncHelpers.kt
  gluecodium/src/test/resources/smoke/async/input/Async.lime
  gluecodium/src/test/resources/smoke/async/output/cpp/include/smoke/AsyncRenamed.h
  gluecodium/src/test/resources/smoke/async/output/dart/ffi/ffi_smoke_AsyncRenamed.cpp
  gluecodium/src/test/resources/smoke/async/output/dart/lib/smoke.dart
  gluecodium/src/test/resources/smoke/async/output/dart/lib/src/smoke/async_class.dart
  gluecodium/src/test/resources/smoke/async/output/dart/lib/src/smoke/async_renamed.dart
  gluecodium/src/test/resources/smoke/async/output/dart/lib/src/smoke/async_struct.dart
Labels: bug, dart

#1343 Fix self-includes for C++ external types
  CHANGELOG.md
  functional-tests/functional/input/lime/ExternalTypes.lime
  functional-tests/functional/input/src/cpp/include/ExternalTypes.h
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppGenerator.kt
  gluecodium/src/test/resources/smoke/external_types/input/ExternalTypes.lime
  gluecodium/src/test/resources/smoke/external_types/output/cpp/src/smoke/StandaloneExternalEnum.cpp
Labels: bug, c++

#1345 Fix compilation issue for `exception` + enumerator alias
  CHANGELOG.md
  functional-tests/functional/input/lime/EnumeratorAlias.lime
  gluecodium/src/main/resources/templates/cpp/CppImplementation.mustache
  gluecodium/src/test/resources/smoke/enums/input/EnumeratorAlias.lime
  gluecodium/src/test/resources/smoke/enums/output/cpp/include/smoke/EnumWithAlias.h
  gluecodium/src/test/resources/smoke/enums/output/cpp/src/smoke/EnumWithAlias.cpp
  lime-runtime/src/main/java/com/here/gluecodium/model/lime/LimeEnumeration.kt
Labels: bug, c++

#1351 Fix issues with `@Dart(Skip)` + `@Async` on overloads
  CHANGELOG.md
  functional-tests/functional/CMakeLists.txt
  functional-tests/functional/input/lime/Async.lime
  functional-tests/functional/input/src/cpp/AsyncClass.cpp
  functional-tests/functional/input/src/cpp/AsyncStruct.cpp
  functional-tests/functional/input/src/cpp/AsyncWithSkips.cpp
  gluecodium/src/main/java/com/here/gluecodium/generator/dart/DartGenerator.kt
  gluecodium/src/test/resources/smoke/async/input/Async.lime
  gluecodium/src/test/resources/smoke/async/output/cpp/include/smoke/AsyncWithSkips.h
  gluecodium/src/test/resources/smoke/async/output/dart/ffi/ffi_smoke_AsyncWithSkips.cpp
  gluecodium/src/test/resources/smoke/async/output/dart/lib/smoke.dart
Labels: bug, dart

#1356 Allow skipping constants in C++
  CHANGELOG.md
  docs/lime_idl.md
  functional-tests/functional/input/lime/Constants.lime
  gluecodium/src/main/java/com/here/gluecodium/generator/cpp/CppSkipAttributesValidator.kt
  gluecodium/src/test/java/com/here/gluecodium/generator/cpp/CppSkipAttributesValidatorTest.kt
  gluecodium/src/test/resources/smoke/constants/input/Constants.lime
  gluecodium/src/test/resources/smoke/constants/output/cpp/include/smoke/ConstantsSkipCpp.h
  gluecodium/src/test/resources/smoke/constants/output/lime/smoke/ConstantsSkipCpp.lime
  gluecodium/src/test/resources/smoke/field_constructors/input/FieldConstructorsSkipCpp.lime
Labels: enhancement, c++
